/* RESPONSIVE STYLES */
@media only screen and (min-width: 1440px) {
    body.babyst_boxed #container, body.babyst_boxed .inner, body.babyst_boxed #container > .dokan-dashboard-wrap {
        width: 1280px;
    }
}

@media only screen and (min-width: 1480px) {
    body.babyst_boxed #container, body.babyst_boxed .inner, body.babyst_boxed #container > .dokan-dashboard-wrap {
        width: 1440px;
    }
}

@media only screen and (min-width: 1024px) {
    #content > .inner.babyst_masonry_fullwidth, body.archive.woocommerce.woocommerce-page.babyst-fullwidth-shop-pages #content > #products-wrapper.inner, body.babyst-fullwidth-blog-pages.blog #content > .inner, body.archive.woocommerce.woocommerce-page.babyst-fullwidth-shop-pages .babyst_title_holder .inner {
        padding-left: 5%;
        padding-right: 5%;
    }
    body.archive.woocommerce.woocommerce-page.babyst-fullwidth-shop-pages .babyst_title_holder .inner {
        width: 100%;
        max-width: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    div.product div.summary, #content div.product div.summary {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1359px) {

    .cart-info .coupon {
        width: 60%;
    }

    #main-menu li div.babyst-mega-menu > ul.sub-menu > li {
        padding: 30px;
    }

    .cart-info .coupon input, .cart-info .coupon button {
        width: 100%;
    }

    .portfolio-unit.portfolio-col-4 {
        width: 33.33%;
    }

    .babyst_masonry_fullwidth .portfolio-unit.masonry-unit {
        width: 25%;
    }

    .portfolio-unit a.portfolio-link {
        padding: 20px;
    }

    .babyst_masonry_fullwidth .portfolio-unit.masonry-unit {
        width: 25%;
    }
}

@media only screen and (max-width: 782px) {
    body.admin-bar #header {
        top: 46px !important;
    }
}

@media only screen and (max-width: 1279px) {
    #main-menu #main_nav.menu, .video_controlls, .babyst-wishlist-counter, #babyst-account-holder {
        display: none !important;
    }

    .babyst_title_holder h6 {
        max-width: none;
    }

    #header .inner, #footer .inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .upsells.products h2 {
        width: 100%;
    }

    .upsells.products h2:after {
        display: none;
    }

    a.mob-menu-toggle {
        display: table;
    }
    #header #logo {
        float: left !important;
        clear: both !important;
        display: table !important;
    }
    #header #logo img {
        top: 0 !important;
        width: auto;
        max-width: none;
        height: auto;
        max-height: 48px;
    }
    * .babyst-search-cart-holder, body #header .babyst-search-cart-holder, body:not(.babyst_logo_center_menu_below) #header .babyst-search-cart-holder {
        float: right !important;
        position: relative !important;
        width: auto !important;
    }

    #main-menu {
        float: right !important;
    }

    #cart-module, .babyst-search-cart-holder .babyst-search-trigger, .babyst-wishlist-counter, #babyst-account-holder, .babyst-search-cart-holder a.sidebar-trigger {
        float: right !important;
    }

    body.single-post #content:not(.has-sidebar) .content_holder > .post > .babyst_post_data_holder .wpb_text_column {
        padding: 0;
    }

    body.single-post .content_holder > .post > .babyst_post_data_holder p {
        font-size: initial;
    }

    .cart-info .coupon, .cart-info .coupon input, table.shop_table.cart .actions > input.button, form.checkout_coupon p, form.checkout_coupon p input, .cart-info .coupon button, .cart-info tbody td.actions > button.button {
        width: 100%;
    }

    .cart-info .coupon button {
        margin-bottom: 5px;
    }

    .babyst_blog_masonry.babyst-mozaic .blog-post, .babyst_blog_masonry .blog-post {
        width: 100% !important;
    }

    .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(1) .babyst_post_data_holder, .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(7) .babyst_post_data_holder, .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(13) .babyst_post_data_holder, .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(19) .babyst_post_data_holder {
        max-width: 90%;
        position: relative !important;
        right: auto;
        bottom: auto;
    }

    .babyst_post_data_holder {
        width: 100%;
    }

    #powered .babyst-social, #powered .author_credits {
        width: 100%;
        padding-right: 70px;
        text-align: left;
    }

    .wpb_babyst_banner a span.babyst_banner-icon, .babyst-none-overlay .portfolio-unit-info a.portfolio-link:before {
        display: none;
    }

    .wpb_babyst_banner.babyst_banner_big a h4 {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .wpb_babyst_banner a h4 {
        font-size: 18px;
    }

    .babyst-none-overlay .portfolio-unit-info a.portfolio-link h4, .babyst-none-overlay .portfolio-unit-info a.portfolio-link small, .portfolio-unit-info h6 {
        padding-left: 0;
    }

    .babyst-none-overlay .portfolio-unit-info {
        top: auto;
        width: 100%;
    }

    .portfolio-unit-info h4 {
        font-size: 15px;
        width: 100%;
    }

    #header_top {
        padding-top: 3px;
    }

    .portfolio-unit.portfolio-col-4, .babyst_masonry_fullwidth .portfolio-unit.masonry-unit, .babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-latest-blog-col-4 .blog-post {
        width: 33.33%;
    }

    .babyst_shortcode_latest_posts .blog-post {
        width: 100% !important;
    }

    .babyst_shortcode_latest_posts > div.clear {
        display: none;
    }

    .portfolio-unit a.portfolio-link {
        padding: 20px;
    }

    #content div.product .babyst-product-summary-wrapper div.images {
        padding-top: 0px;
    }

    body.single-product #content div.product div.summary h1.heading-title {
        font-size: 18px !important;
    }

    #content div.product .babyst-product-summary-wrapper.babyst-has-product-cover-image div.images {
        padding-top: 300px;
    }

    .woocommerce-product-gallery__image {
        width: 100%;
        top: auto !important;
        padding: 0px;
        margin-bottom: 30px;
    }

    .babyst-product-summary-wrapper.babyst-standard-product-gallery .woocommerce-product-gallery__image {
        margin-bottom: 0px !important;
    }

    body.single-product .content_holder .babyst-has-product-cover-image {
        padding-left: 40px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .inner {
        width: 100% !important;
    }
    .count_holder_small .count_info {
        display: none;
    }
}

@media only screen and (max-width: 979px) {

    body.woocommerce-cart .cart-collaterals {
        width: 320px;
        padding: 30px;
    }

    .coupon input#coupon_code, .checkout_coupon input#coupon_code, .cart-info .coupon button {
        margin-bottom: 20px;
    }

    .vc_tta-tab {
         margin: 0 !important;
         font-size: 13px;
     }

    .wpb-js-composer .vc_tta.vc_general .vc_tta-tab > a {
        padding: 10px !important;
    }

    .babyst_title_holder.title_has_image h1.heading-title, .babyst_title_holder.title_has_image h6 {
        width: 100%;
    }

    .babyst_title_holder.title_has_image h6 {
        font-size: 18px;
    }

    .babyst_transparent_header .babyst_title_holder.title_has_image {
        min-height: auto;
    }

    .babyst_title_holder.title_has_image .inner {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .babyst_title_holder .babyst-zoomable-background {
        background-position: unset;
        background-attachment: unset;
    }

    body.babyst_transparent_header .babyst_title_holder.title_has_image .inner {
        padding-top: 190px !important;
        padding-bottom: 80px !important;
    }

    body.woocommerce-cart form.woocommerce-cart-form {
        width: calc(100% - 325px);
        padding-right: 30px;
    }

    #babyst_page_title h1.heading-title {
        font-size: 36px;
    }

    body.single-post .babyst_title_holder .blog-post-meta {
        font-size: 12px;
        margin-top: 30px;
    }

    .breadcrumb {
        font-size: 12px;
    }

    body.single-post .babyst_title_holder .blog-post-meta img.avatar {
        width: 22px;
        height: 22px;
    }

    #comments {
        padding-left: 0;
        padding-right: 0;
    }

    .commentlist ul.children {
        padding-left: 0px;
    }

    .commentlist ul.children:before {
        left: 0px;
    }

    .commentlist ul.children:after {
        left: 6px;
        width: 15px;
        height: 5px;
    }

    .header-icon-teasers {
        display: none;
    }

    .has-sidebar .content_holder, .has-sidebar.babyst-left-sidebar .content_holder {
        width: 100%;
        padding-right: 0;
        padding-left: 0px;
        border: none;
    }

    .sidebar, .has-sidebar.babyst-left-sidebar .sidebar {
        padding-left: 0px;
        width: 100%;
        padding-right: 0;
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 49.5% !important;
    }

    div.prod_hold + .clear {
        display: none;
    }

    div.product div.images, #content div.product div.images {
        padding: 0;
    }

    span.onsale {
        top: 30px;
        left: 30px;
    }

    div.product div.images ol.flex-control-nav, #content div.product div.images ol.flex-control-nav {
        width: 100%;
        text-align: left;
    }



    .sidebar > div.widget, .sidebar > div.widget_pages, .sidebar > div.box {
        margin: 0 0 50px 0;
    }

    ul.tabs li, .wpb_tabs .wpb_tabs_nav li {
        border: none !important;
    }

    .portfolio-unit.portfolio-col-3, .portfolio-unit.masonry-unit {
        width: 50%;
    }

    .portfolio-unit.portfolio-col-4, .babyst_masonry_fullwidth .portfolio-unit.masonry-unit {
        width: 33.33%;
    }

    .portfolio-unit a.portfolio-link {
        padding: 20px;
    }

    .has-sidebar .babyst_image_list a.babyst-magnific-gallery-item {
        width: 100%;
    }

    .blog-post, .babyst_blog_masonry.babyst-mozaic .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 30px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    body.woocommerce-cart form.woocommerce-cart-form, form.checkout.woocommerce-checkout #customer_details, body.woocommerce-cart .cart-collaterals, form.checkout.woocommerce-checkout #order_review {
        width: 100%;
    }

    body.woocommerce-cart .cart-collaterals {
        padding: 20px 0;
        background: none;
    }

    body.woocommerce-cart .cart-info, body.woocommerce-cart form.woocommerce-cart-form, form.checkout.woocommerce-checkout #customer_details {
        padding-right: 0;
    }

    .blog-post .babyst_post_data_holder {
        max-width: none !important;
        width: 100%;
        padding: 20px 15px;
        margin-top: 0px;
    }

    .blog-post .babyst_post_data_holder h2.heading-title {
        font-size: 15px !important;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    div.product div.images, #content div.product div.images, div.product div.summary, #content div.product div.summary, .portfolio_top div.two_third.portfolio-main-image-holder, .portfolio_top div.one_third.last.project-data {
        width: 100%;
        max-width: none;
        padding-left: 0;
        padding-right: 0;
        float: none;
        position: relative !important;
        top: auto;
    }

    nav.woocommerce-MyAccount-navigation, div.woocommerce-MyAccount-content {
        width: 100%;
        position: relative;
        top: auto;
        padding-left: 0;
        padding-right: 0;
    }

    nav.woocommerce-MyAccount-navigation {
        margin-bottom: 35px;
    }

    nav.woocommerce-MyAccount-navigation ul li {
        display: inline-block;
        margin-right: 8px;
    }

    .portfolio_top div.two_third.portfolio-main-image-holder, .portfolio_top div.one_third.last.project-data {
        margin-bottom: 30px;
    }

    .portfolio_top {
        padding-bottom: 0px;
    }

    .babyst-project-description {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .related.products h2, .upsells.products h2, .similar_projects > h4, .babyst-related-blog-posts > h4, .tribe-events-related-events-title {
        margin-bottom: 20px;
    }

    .babyst-product-summary-wrapper div.babyst-share-links {
        width: auto;
        position: relative;
        top: auto;
        right: auto;
        text-align: left;
        margin-bottom: 25px;
    }
    .babyst-product-summary-wrapper div.babyst-share-links span {
        writing-mode: initial;
        margin-right: 8px;
        margin-bottom: 0;
        vertical-align: bottom;
    }

    .summary.entry-summary .babyst-promo-wrapper.babyst-promo-below-price, div.product .woocommerce-product-details__short-description {
        margin: 0;
    }

    .babyst-product-summary-wrapper div.babyst-share-links a {
        margin-bottom: 3px;
        margin-right: 3px;
        vertical-align: bottom;
    }

    .babyst-image-list-product-gallery #content:not(.has-sidebar) .babyst-product-summary-wrapper, #content:not(.has-sidebar) .babyst_image_list_portfolio {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .babyst-quick-view-lightbox .babyst-quickview-images, .babyst-quick-view-lightbox .summary.entry-summary {
        width: 100% !important;
    }

    .babyst-product-summary-wrapper.babyst-has-product-cover-image {
        overflow: hidden !important;
    }

    a.babyst-post-nav {
        display: none;
    }

    .summary.entry-summary button.single_add_to_cart_button {
        min-width: auto;
    }

    div.product input.qty {
        margin: 0 auto;
    }

    .cart-info .product-thumbnail img {
        width: auto;
        max-width: 100%;
    }

    div.product div.images, #content div.product div.images {
        margin-bottom: 25px;
        overflow: hidden;
    }

    div.product .babyst-product-summary-wrapper.babyst-has-product-cover-image div.images, #content div.product .babyst-product-summary-wrapper.babyst-has-product-cover-image div.images {
        padding-top: 0;
    }

    .babyst-product-summary-wrapper.babyst-has-product-cover-image > img {
        height: 100vh !important;
        width: auto !important;
        max-width: none;
    }

    body.single-product #content div.product div.summary h1.heading-title {
        font-size: 18px !important;
    }

    #dokan-primary, #dokan-secondary {
        width: 100%;
        float: left;
        padding: 0px;
        margin-right: 0px;
    }

    #dokan-secondary {
        margin-bottom: 35px;
    }

    .one_third.project-data, .two_third.portfolio-main-image-holder, .portfolio_top.babyst_image_list_portfolio .project-data .more-details, .portfolio_top.babyst_image_list_portfolio .project-data .project-details, .portfolio_top.babyst_image_list_portfolio .project-data .main-features {
        width: 100%;
    }

    .two_third.portfolio-main-image-holder {
        margin-bottom: 50px;
    }

    .portfolio-main-image-holder #wrap {
        margin-left: 0px;
    }

    .babyst-products-list-view div.prod_hold .image, .has-sidebar .babyst-products-list-view div.prod_hold .image, .babyst-products-list-view div.prod_hold .babyst-list-prod-summary, .babyst-products-list-view div.prod_hold .name, .babyst-products-list-view .prod_hold .links {
        width: 100%;
        float: left;
        display: block;
        text-align: center;
    }

    .babyst-products-list-view .prod_hold .links {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        float: left;
        width: 100%;
    }

    .portfolio-unit.list-unit .portfolio-unit-info, .portfolio-unit.list-unit .port-unit-image-holder {
        width: 100%;
        float: left;
        clear: both;
    }

    .portfolio-unit-info h6 {
        right: 15px;
    }

    div.product div.images ul.additional-images, #content div.product div.images ul.additional-images, .portfolio-main-image-holder ul.additional-images {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        float: left;
        padding-top: 30px !important;
    }

    #footer .widget {
        width: 98% !important;
        margin-right: 1% !important;
        margin-left: 1% !important;
        margin-bottom: 30px;
    }

    .babyst_image_list a.babyst-magnific-gallery-item {
        width: 100%;
        margin-bottom: 0;
    }

    .count_holder .count_info_left, .count_holder .count_info {
        width: 100%;
    }

    .woocommerce-tabs .panel.entry-content {
        padding: 20px;
    }

    body.single-product #products-wrapper .woocommerce-tabs.wc-tabs-wrapper {
        margin-bottom: 40px;
    }

    .cart-info table, .cart-info tbody td, .cart-info tbody tr {
        display: block !important;
        padding: 12px 0px !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

    .cart-info tbody td > span {
        display: block !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

    .woocommerce table.shop_table_responsive tbody {
        width: 100% !important;
        border-collapse: collapse !important;
        display: table-row-group;
        min-width: 100% !important;
        float: left;
        vertical-align: middle;
    }

    .cart-info table thead, .shop_table.shop_table_responsive.my_account_orders thead {
        display: none;
    }

    .cart-info tbody td span, .cart-info tbody td a, table.shop_table.cart td.product-quantity div.quantity {
        float: right;
        vertical-align: middle;
        width: auto !important;
    }

    .shop_table.shop_table_responsive.my_account_orders td, .shop_table.shop_table_responsive.my_account_orders tr {
        display: block !important;
        padding: 12px 0 !important;
        background: none;
        border: 0;
        vertical-align: middle;
    }

    .shop_table.shop_table_responsive.my_account_orders td > span, .shop_table.shop_table_responsive.my_account_orders td a, .shop_table.shop_table_responsive.my_account_orders td time {
        display: block;
        width: 100%;
        float: none;
    }

    .shop_table.shop_table_responsive.my_account_orders td span.amount {
        width: auto !important;
        display: inline-block !important;
    }

    .shop_table.shop_table_responsive.my_account_orders td a.woocommerce-button.button.view {
        width: auto !important;
        text-align: center !important;
        display: inline-block;
    }

    .woocommerce table.shop_table.shop_table_responsive.my_account_orders tr td:before, .woocommerce-page table.shop_table.shop_table_responsive.my_account_orders tr td:before {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 8px;
        float: none;
        text-align: left;
    }

    .woocommerce table.shop_table_responsive .coupon {
        float: left;
    }

    .woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
        vertical-align: middle;
        font-weight: normal;
        font-size: 12px;
    }

    .cart_totals table.shop_table_responsive tr td:before {
        display: none !important;
    }

    .woocommerce table.shop_table_responsive tr td.actions:before, .woocommerce-page table.shop_table_responsive tr td.actions:before, .woocommerce table.shop_table_responsive tr td.product-remove:before, .woocommerce-page table.shop_table_responsive tr td.product-remove:before, .woocommerce table.shop_table_responsive tr td.product-thumbnail:before, .woocommerce-page table.shop_table_responsive tr td.product-thumbnail:before {
        display: none;
    }

    .woocommerce table.shop_table_responsive tr td.product-thumbnail a, .woocommerce-page table.shop_table_responsive tr td.product-thumbnail {
        float: none;
    }

    .woocommerce table.shop_table_responsive tr {
        border-bottom: 1px solid #f1f1f1;
        background: none !important;
    }

    .cart-info tr.odd td {
        background-color: transparent;
    }

    table.shop_table.cart td.product-quantity div.quantity {
        margin-right: 0px;
        max-width: 60px;
    }

    .woocommerce table.shop_table_responsive tr td:after {
        content: " ";
        display: block;
        height: 0px !Important;
        clear: both;
        visibility: hidden;
    }

    .cart-info tbody td.product-remove {
        width: 100% !important;
    }

    .cart-info tbody td a.remove {
        display: block;
        font-size: 27px;
        width: 36px !important;
        height: 36px !important;
        vertical-align: middle !important;
        line-height: 36px !important;
        background-color: #f8f8f8;
        border-radius: 50%;
        text-decoration: none;
        float: none;
        margin: 0 auto;
    }

    .cart-info td.product-remove a.remove:before {
        padding-top: 0px;
    }

    .woocommerce-form-coupon-toggle, .woocommerce-form-login-toggle {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .cart-info tbody td span.woocommerce-Price-currencySymbol {
        float: none !important;
        margin: 0 auto;
    }

    .cart-info tbody tr.cart_item {
        position: relative;
    }
    
    .cart-info td.product-remove {
        display: block !important;
        position: absolute;
        top: 3px;
        right: -5px;
        padding: 0 !important;
    }
    .cart-info td.product-remove a.remove {
        margin: 0;
        float: right;
        color: #ffffff !important;
        background-color: #333333;
    }

    .cart-info tbody tr.cart_item td {
        padding: 5px 0 !important;
    }


    #content:not(.has-sidebar) p.woocommerce-thankyou-order-received {
        margin-left: -23px;
    }

    #content .babyst-author-info {
        padding: 20px;
    }

    .babyst-author-content div.avatar {
        position: relative;
        top: auto;
        left: auto;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }

    #tab-reviews #comments, #tab-reviews #review_form_wrapper, #tab-reviews #respond.comment-respond, body.single-post #comments ul.commentlist, ol.commentlist, body.single-post #content #comments > ul.commentlist + #respond.comment-respond {
        width: 100% !important;
        padding: 0 !important;
        border-left: none !important;
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    #comments p.nocomments {
        width: 100% !important;
        margin-bottom: 80px;
        padding: 50px 30px;
        position: relative;
        top: 0;
    }

    .portfolio-unit {
        width: 100% !important;
    }

    .vc_col-xs-1:last-child, .vc_col-sm-1:last-child, .vc_col-md-1:last-child, .vc_col-lg-1:last-child, .vc_col-xs-2:last-child, .vc_col-sm-2:last-child, .vc_col-md-2:last-child, .vc_col-lg-2:last-child, .vc_col-xs-3:last-child, .vc_col-sm-3:last-child, .vc_col-md-3:last-child, .vc_col-lg-3:last-child, .vc_col-xs-4:last-child, .vc_col-sm-4:last-child, .vc_col-md-4:last-child, .vc_col-lg-4:last-child, .vc_col-xs-5:last-child, .vc_col-sm-5:last-child, .vc_col-md-5:last-child, .vc_col-lg-5:last-child, .vc_col-xs-6:last-child, .vc_col-sm-6:last-child, .vc_col-md-6:last-child, .vc_col-lg-6:last-child, .vc_col-xs-7:last-child, .vc_col-sm-7:last-child, .vc_col-md-7:last-child, .vc_col-lg-7:last-child, .vc_col-xs-8:last-child, .vc_col-sm-8:last-child, .vc_col-md-8, .vc_col-lg-8:last-child, .vc_col-xs-9:last-child, .vc_col-sm-9:last-child, .vc_col-md-9:last-child, .vc_col-lg-9:last-child, .vc_col-xs-10:last-child, .vc_col-sm-10:last-child, .vc_col-md-10:last-child, .vc_col-lg-10:last-child, .vc_col-xs-11:last-child, .vc_col-sm-11:last-child, .vc_col-md-11:last-child, .vc_col-lg-11:last-child, .vc_col-xs-12:last-child, .vc_col-sm-12:last-child, .vc_col-md-12:last-child, .vc_col-lg-12:last-child {
        margin-bottom: 0px;
    }

    #price-filter {
        width: 30%;
    }

    .events-archive.events-gridview #tribe-events-content table .type-tribe_events {
        display: none;
    }

    #tribe-events-content .tribe-events-calendar td.tribe-events-has-events:after {
        background: #999;
        border-radius: 50%;
        top: 50%;
        content: "";
        display: block;
        height: 10px;
        left: 50%;
        margin: 5px 0 0 -5px;
        padding: 0;
        position: absolute;
        width: 10px;
    }

    .tribe-events-list .tribe-events-event-image {
        margin-bottom: 20px;
    }

    #tribe-events-photo-events .type-tribe_events.tribe-events-photo-event {
        width: 95% !important;
        margin: 0 0 30px 0 !important;
    }

    #tribe-bar-views {
        width: 28%;
    }

    .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
        height: auto !important;
    }

    .tribe-events-list .tribe-events-event-image, .tribe-events-list .tribe-events-loop .tribe-events-content {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .single-tribe_events .tribe-events-event-meta.secondary .tribe-events-meta-group, .single-tribe_events .tribe-events-venue-map {
        width: 100%;
    }

    .has-sidebar .wcmp_sorted_vendors {
        width: 46% !important;
        margin-right: 8% !important;
    }

    .has-sidebar .wcmp_vendor_list_wrap .wcmp_sorted_vendors:nth-child(2n+2) {
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {

    .one_third, .one_fourth, .one_fifth, .two_fifth, .three_fifth {
        width: 48%;
        margin-right: 2%;
    }

    div.prod_hold .yith-wcwl-wishlistexistsbrowse.show, div.prod_hold .yith-wcwl-wishlistaddedbrowse.show {
        display: none !important;
    }

    #price-filter {
        width: calc(100% - 110px);
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 49.5% !important;
    }

    .portfolio-unit.list-unit .portfolio-unit-info {
        padding: 20px;
    }

    div.prod_hold a.button.add_to_cart_button i.fa, .portfolio-unit.list-unit .portfolio-unit-info:before {
        display: none;
    }

    a.reset_variations {
        display: none;
    }

    #price-filter {
        width: calc(100% - 110px);
    }

    .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    .post-date:before {
        display: none !important;
    }

    .babyst_blog_small_image .babyst_post_data_holder {
        margin-left: 0 !important;
        clear: both !important;
    }

    .portfolio-unit.portfolio-col-3, .portfolio-unit.masonry-unit, .portfolio-unit.portfolio-col-4, .babyst_masonry_fullwidth .portfolio-unit.masonry-unit {
        width: 50%;
    }

    .portfolio-unit a.portfolio-link {
        padding: 20px;
    }

    .babyst-none-overlay .portfolio-unit-info a.portfolio-link::before {
        top: 28px;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .babyst_title_holder.title_has_image h1.heading-title, #content div.product div.summary h1.heading-title {
        font-size: 36px !important;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .babyst_title_holder.title_has_image h1.heading-title, #content div.product div.summary h1.heading-title {
        font-size: 36px !important;
    }

    .wpb_text_column.special-font h1, h1.vc_custom_heading.special-font {
        font-size: 60px !important;
    }

    .wpb_text_column h2, h2.vc_custom_heading {
        font-size: 28px !important;
    }

    .wpb_text_column.special-font h2, h2.vc_custom_heading.special-font {
        font-size: 48px !important;
    }

    .wpb_text_column h3, h3.vc_custom_heading {
        font-size: 24px !important;
    }

    .wpb_text_column.special-font h3, h3.vc_custom_heading.special-font {
        font-size: 38px !important;
    }

    .wpb_text_column h4, h4.vc_custom_heading {
        font-size: 18px !important;
    }

    .wpb_text_column.special-font h4, h4.vc_custom_heading.special-font {
        font-size: 24px !important;
    }

    .wpb_text_column h5, h5.vc_custom_heading {
        font-size: 16px !important;
    }

    .wpb_text_column.special-font h5, h5.vc_custom_heading.special-font {
        font-size: 21px !important;
    }

    .babyst-product-slide-details, .babyst-product-slide-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .babyst-product-slide-image {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    body.admin-bar #header.babyst-sticksy {
        top: 0px !important;
    }
}

@media only screen and (min-width: 380px) and (max-width: 599px) {

    #price-filter, a.babyst-filter-widgets-triger {
        width: 100%!important;
    }

    .babyst_shortcode_latest_posts.babyst_blog_masonry .owl-item .blog-post {
        padding: 0px !important;
    }

    .babyst-portfolio-categories ul li {
        width: 100%;
        text-align: left;
    }

    a.babyst-filter-widgets-triger {
        background-color: #ffffff;
        border: 1px solid #f1f1f1;
        vertical-align: middle;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    a.babyst-filter-widgets-triger:before {
        vertical-align: middle;
        line-height: 64px;
    }

    .product-filter .limit b, .product-filter .sort b {
        display: none;
    }

    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, #footer-menu .menu > li {
        width: 98%;
        margin-right: 1% !important;
        margin-left: 1% !important;
        margin-bottom: 30px;
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 100% !important;
    }

    .portfolio-unit.list-unit .portfolio-unit-info {
        padding: 20px;
    }

    div.prod_hold a.button.add_to_cart_button i.fa, .portfolio-unit.list-unit .portfolio-unit-info:before {
        display: none;
    }

    a.reset_variations {
        display: none;
    }

    .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    .post-date:before {
        display: none !important;
    }

    .babyst_blog_small_image .babyst_post_data_holder {
        margin-left: 0 !important;
        clear: both !important;
    }

    .portfolio-unit.portfolio-col-2, .portfolio-unit.portfolio-col-3, .portfolio-unit.masonry-unit, .portfolio-unit.portfolio-col-4, .babyst_masonry_fullwidth .portfolio-unit.masonry-unit {
        width: 100%;
    }

    .portfolio-unit a.portfolio-link {
        padding: 20px;
    }

    .babyst_blog_small_image .blog-post {
        display: block;
    }

    .babyst_blog_small_image .blog-post .post-unit-holder, .babyst_blog_small_image .blog-post .babyst_flexslider.post_slide, .babyst_blog_small_image .blog-post .slideshow {
        margin-right: 0px;
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 35px;
    }

    #cart-module div.widget.woocommerce.widget_shopping_cart {
        width: 250px;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .babyst_title_holder.title_has_image h1.heading-title, #content div.product div.summary h1.heading-title {
        font-size: 32px !important;
    }

    .wpb_text_column h2, h2.vc_custom_heading {
        font-size: 28px !important;
    }

    .wpb_text_column h3, h3.vc_custom_heading {
        font-size: 24px !important;
    }

    .wpb_text_column h4, h4.vc_custom_heading {
        font-size: 18px !important;
    }

    .wpb_text_column h5, h5.vc_custom_heading {
        font-size: 16px !important;
    }

    .babyst-product-slide-details, .babyst-product-slide-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .babyst-product-slide-image {
        margin-bottom: 30px;
    }

    .cart-info .coupon, .cart-info .coupon input, table.shop_table.cart .actions > input.button, form.checkout_coupon p, form.checkout_coupon p input, .cart-info .coupon button, .cart-info tbody td.actions > button.button {
        width: 100%;
    }

    .cart-info .coupon button {
        margin-bottom: 5px;
    }

    .has-sidebar .wcmp_sorted_vendors {
        width: 100% !important;
    }

    ul.tabs a {
        padding: 15px !important;
    }
    .woocommerce-tabs ul.tabs a {
        padding: 8px 2px !important;
        font-size: 12px;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 379px) {

    #price-filter, a.babyst-filter-widgets-triger {
        width: 100%;
    }

    .babyst_shortcode_latest_posts.babyst_blog_masonry .owl-item .blog-post {
        padding: 0px !important;
    }

    a.babyst-filter-widgets-triger {
        background-color: #ffffff;
        border: 1px solid #f1f1f1;
        vertical-align: middle;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    #header #logo.babyst_text_logo {
        width: 120px !important;
    }

    .babyst-portfolio-categories ul li {
        width: 100%;
        text-align: left;
    }

    a.babyst-filter-widgets-triger:before {
        vertical-align: middle;
        line-height: 64px;
    }

    .product-filter .limit b, .product-filter .sort b {
        display: none;
    }

    #header_bottom, #header_bottom .inner {
        height: auto !important;
    }

    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, #footer-menu .menu > li {
        width: 98%;
        margin-right: 1% !important;
        margin-left: 1% !important;
        margin-bottom: 30px;
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 100% !important;
    }

    .portfolio-unit.list-unit .portfolio-unit-info {
        padding: 20px;
    }

    div.prod_hold a.button.add_to_cart_button i.fa, .portfolio-unit.list-unit .portfolio-unit-info:before {
        display: none;
    }

    a.reset_variations {
        display: none;
    }

    #header #welcome {
        width: 100%;
        float: none;
        clear: both;
        padding: 15px 0;
        text-align: right;
    }

    .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    .post-date:before {
        display: none !important;
    }

    .babyst_blog_small_image .babyst_post_data_holder {
        margin-left: 0 !important;
        clear: both !important;
    }

    .portfolio-unit.portfolio-col-2, .portfolio-unit.portfolio-col-3, .portfolio-unit.masonry-unit, .portfolio-unit.portfolio-col-4, .babyst_masonry_fullwidth .portfolio-unit.masonry-unit {
        width: 100%;
    }

    .portfolio-unit a.portfolio-link {
        padding: 20px;
    }

    .babyst_blog_small_image .blog-post {
        display: block;
    }

    .babyst_blog_small_image .blog-post .post-unit-holder, .babyst_blog_small_image .blog-post .babyst_flexslider.post_slide, .babyst_blog_small_image .blog-post .slideshow {
        margin-right: 0px;
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 35px;
    }

    #cart-module div.widget.woocommerce.widget_shopping_cart {
        width: 250px;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .babyst_title_holder h1.heading-title, #content div.product div.summary h1.heading-title {
        font-size: 32px !important;
    }

    span.striped-word {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) no-repeat center left / 100% .5rem;
    }

    .babyst_title_holder h1.heading-title {
        font-size: 25px !important;
    }

    .wpb_text_column h2, h2.vc_custom_heading {
        font-size: 24px !important;
    }

    .wpb_text_column h3, h3.vc_custom_heading, .icon_teaser h3:first-child, .related.products h2, .upsells.products h2, .similar_projects > h4, .babyst-related-blog-posts > h4, .tribe-events-related-events-title {
        font-size: 21px !important;
    }

    .wpb_text_column h4, h4.vc_custom_heading {
        font-size: 18px !important;
    }

    .wpb_text_column h5, h5.vc_custom_heading {
        font-size: 16px !important;
    }

    .babyst-author-info .title {
        padding: 0 0px 0 65px;
    }

    .babyst-author-info .title h2 {
        text-transform: none;
    }

    .babyst-author-info .title h2 a {
        font-size: 19px;
    }

    .babyst-author-content .description {
        font-size: 13px;
    }

    body.single-post #comments {
        padding-bottom: 0px;
        padding-top: 40px;
    }

    .babyst-author-content div.avatar {
        top: -67px;
        width: 50px;
        height: 50px;
    }

    .babyst-product-slide-details, .babyst-product-slide-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .babyst-product-slide-image {
        margin-bottom: 30px;
    }

    .wpb_babyst_banner a h4 {
        font-size: 16px;
        line-height: normal;
    }

    .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
        padding: 30px;
    }

    a#cancel-comment-reply-link {
        float: none;
        clear: both;
        display: block;
    }

    .cart-info .coupon, .cart-info .coupon input, table.shop_table.cart .actions > input.button, form.checkout_coupon p, form.checkout_coupon p input {
        width: 100%;
    }

    .has-sidebar .wcmp_sorted_vendors {
        width: 100% !important;
    }

    ul.tabs a {
        padding: 15px !important;
    }
    .woocommerce-tabs ul.tabs a {
        padding: 8px 0px !important;
        font-size: 12px;
        margin-bottom: 8px;
    }
}

    /* NEW WISHLIST STYLES */
#yith-wcwl-form .wishlist_table.mobile {
        border: none !important;
    }
#yith-wcwl-form .wishlist_table.mobile, #yith-wcwl-form .wishlist_table.mobile tbody td, #yith-wcwl-form .wishlist_table.mobile tbody tr {
        display: block !important;
        padding: 12px 0px !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

#yith-wcwl-form .wishlist_table.mobile tbody td {
        text-align: center !important;
    }

#yith-wcwl-form .wishlist_table.mobile tbody > span {
        display: block !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

#yith-wcwl-form .wishlist_table.mobile tbody {
        width: 100% !important;
        border-collapse: collapse !important;
        display: table-row-group;
        min-width: 100% !important;
        float: left;
        vertical-align: middle;
    }

#yith-wcwl-form .wishlist_table.mobile thead {
        display: none;
    }

#yith-wcwl-form .wishlist_table.mobile tbody span, #yith-wcwl-form .wishlist_table.mobile tbody td a {
        vertical-align: middle;
        width: auto !important;
    }

    #yith-wcwl-form .wishlist_table.mobile tbody td a, #yith-wcwl-form tble.wishlist_table.mobile tbody td > span {
        width: 100% !important;
    }

    #yith-wcwl-form .wishlist_table.mobile tr {
        border-bottom: 1px solid #f1f1f1;
        background: none !important;
    }

    .woocommerce .wishlist_table.mobile tr td.product-remove {
        display: block;
        font-size: 27px;
        width: 36px !important;
        height: 36px !important;
        vertical-align: middle !important;
        line-height: 36px !important;
        background-color: #f8f8f8;
        border-radius: 50%;
        text-decoration: none;
        float: none;
        margin: 0 auto;
    }

    #yith-wcwl-form .wishlist_table.mobile td span.woocommerce-Price-currencySymbol, #yith-wcwl-form .wishlist_table.mobile td.product-thumbnail a {
        float: none !important;
        margin: 0 auto;
    }

    .wishlist_table.mobile tr td.product-thumbnail a img {
        width: 60px;
    }

    #yith-wcwl-form .wishlist_table.mobile tbody td.product-add-to-cart a.add_to_cart_button {
        width: auto !important;
        float: none !important;
        margin: 0 auto !important;
        display: inline-block !important;
    }

    #yith-wcwl-form .wishlist_table.mobile tbody td {
        text-align: center !important;
        padding: 12px 0 0 0 !important;
        display: inline-block !important;
    }

    .wishlist_table.mobile li .item-wrapper {
        width: 100%;
        margin-bottom: 0;
    }

    .wishlist_table.mobile li .item-wrapper .item-details {
        width: 100%;
        text-align: center;
    }

    .wishlist_table.mobile tr td.product-thumbnail a img {
        width: auto;
    }

    .wishlist_table.mobile li {
        text-align: center;
        margin-left: 0;
        padding: 10px;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        position: relative;
    }

    .wishlist_table.mobile li .item-wrapper .product-thumbnail {
        display: inline-block;
        max-width: none;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        text-align: center;
    }

    #yith-wcwl-form .wishlist_table.mobile li .item-details h3 {
        font-size: 14px !important;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .wishlist_table.mobile .links a.button.add_to_cart_button {
        color: #ffffff;
        border-radius: 0;
        margin-top: 15px !important;
    }

    .wishlist_table.mobile li .links .yith-wcwl-add-to-wishlist, .wishlist_table.mobile li .product-add-to-cart a.babyst-quick-view-link {
        display: none !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li tbody tr, .wishlist_table.mobile li table.additional-info tr, #yith-wcwl-form .wishlist_table.mobile li table.additional-info {
        padding: 5px 0 0 0 !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li tbody td.label, .wishlist_table.mobile li table.additional-info td.label {
        text-align: left !important;
        width: 49%;
        padding: 0 !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li tbody td.value, .wishlist_table.mobile li table.additional-info td.value {
        text-align: right !important;
        width: 49%;
        padding: 0 !important;
    }

    .wishlist_table.mobile tr:nth-child(2n) {
        background: none !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li table.additional-info, #yith-wcwl-form .wishlist_table.mobile li table.additional-info tr {
        padding: 0 !important;
    }

    .wishlist_table.mobile li .additional-info-wrapper .product-remove {
        text-align: right;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 28px;
        height: 28px;
        text-align: center;
        border-radius: 50%;
        background: #333333;
        vertical-align: middle;
        line-height: 28px;
    }
    .wishlist_table.mobile li .additional-info-wrapper .product-remove a {
        color: #ffffff;
    }

    /* END OF NEW WISHLIST STYLES */