.con_about_icon {
    margin-bottom: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ebf7fa;
    border-top-color: #ecf5f6;
    border-top-style: solid;
    border-bottom-color: #ecf5f6;
    border-bottom-style: solid;
    margin: 80px auto;
    @media (max-width: @screen-xs-max) {
        margin: 50px auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .babyst-iconbox {
        position: relative;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        top: 0;
        vertical-align: top;
        padding: 120px 30px 35px 30px;
        border-radius: 8px;
        background-color: #ffffff;
    }

    .babyst-iconbox:before {
        display: block;
        content: "";
        position: absolute;
        z-index: 0;
        top: 7px;
        bottom: 7px;
        left: 7px;
        right: 7px;
        background: none;
        border: 2px dashed #000000;
        border-radius: 4px;
        opacity: 0.1;
    }

    .babyst-iconbox.babyst-icon-box-left:before, .babyst-iconbox.babyst-icon-box-right:before {
        display: none;
    }

    .babyst-iconbox.babyst-clean-icon {
        padding: 90px 20px 30px 20px;
    }

    .babyst-iconbox.babyst-icon-box-right, .babyst-iconbox.babyst-clean-icon.babyst-icon-box-right {
        padding: 0px 70px 0px 0px;
        border: none;
        box-shadow: none !important;
        background: none !important;
    }

    .babyst-iconbox.babyst-icon-box-left, .babyst-iconbox.babyst-clean-icon.babyst-icon-box-left {
        padding: 0px 0px 0px 70px;
        border: none;
        box-shadow: none !important;
        background: none !important;
    }

    .babyst-iconbox.babyst-icon-box-right.babyst-image-icon, .babyst-iconbox.babyst-clean-icon.babyst-icon-box-right.babyst-image-icon {
        padding: 0px 80px 0px 0px;
    }

    .babyst-iconbox.babyst-icon-box-left.babyst-image-icon, .babyst-iconbox.babyst-clean-icon.babyst-icon-box-left.babyst-image-icon {
        padding: 0px 0px 0px 80px;
    }

    .babyst-iconbox .icon_wrapper {
        position: absolute;
        top: 35px;
        left: 50%;
        margin-left: -35px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background: inherit;
    }

    .babyst-iconbox.babyst-image-icon .icon_wrapper {
        top: 35px;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        border-radius: 50%;
        overflow: hidden;
    }

    .babyst-iconbox.babyst-icon-box-square .icon_wrapper {
        border-radius: 3px;
    }

    .babyst-iconbox.babyst-clean-icon .icon_wrapper {
        border: none;
        background: none;
        top: 25px;
    }

    .babyst-iconbox.babyst-icon-box-right .icon_wrapper {
        top: 6px;
        right: 5px;
        left: auto;
        margin: 0;
        width: 52px;
        height: 52px;
        line-height: 52px;
    }

    .babyst-iconbox.babyst-icon-box-left .icon_wrapper {
        top: 6px;
        right: auto;
        left: 5px;
        margin: 0;
        width: 52px;
        height: 52px;
        line-height: 52px;
    }

    .babyst-iconbox.babyst-icon-box-left.babyst-clean-icon .icon_wrapper, .babyst-iconbox.babyst-icon-box-right.babyst-clean-icon .icon_wrapper {
        top: 0px;
    }

    .babyst-iconbox.babyst-icon-box-right h5, .babyst-iconbox.babyst-icon-box-right small, .babyst-iconbox.babyst-icon-box-right .iconbox_text_content {
        text-align: right;
    }

    .babyst-iconbox.babyst-icon-box-left h5, .babyst-iconbox.babyst-icon-box-left small, .babyst-iconbox.babyst-icon-box-left .iconbox_text_content {
        text-align: left;
    }

    .babyst-iconbox .icon_inner {
        display: block;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        background-color: #333333;
        color: #ffffff;
        font-size: 36px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        position: relative;
    }

    .babyst-iconbox .icon_inner:before {
        display: block;
        content: "";
        position: absolute;
        z-index: 0;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        background: none;
        border: 2px dashed #000000;
        border-radius: 50%;
        opacity: 0.1;
    }

    .babyst-iconbox.babyst-clean-icon .icon_inner:before {
        display: none;
    }

    .babyst-iconbox.babyst-icon-box-square .icon_inner:before {
        border-radius: 4px;
    }

    .babyst_icon_teaser .icon_holder [class^="flaticon-"]::before, .babyst-iconbox .icon_inner [class^="flaticon-"]::before, .babyst-iconbox .icon_inner [class*=" flaticon-"]::before, .babyst-iconbox .icon_inner [class^="flaticon-"]::after, .babyst-iconbox .icon_inner [class*=" flaticon-"]::after {
        font-size: 36px;
    }

    .babyst-iconbox.babyst-icon-box-right .icon_inner [class^="flaticon-"]::before, .babyst-iconbox.babyst-icon-box-right .icon_inner [class*=" flaticon-"]::before, .babyst-iconbox.babyst-icon-box-right .icon_inner [class^="flaticon-"]::after, .babyst-iconbox.babyst-icon-box-right .icon_inner [class*=" flaticon-"]::after, .babyst-iconbox.babyst-icon-box-left .icon_inner [class^="flaticon-"]::before, .babyst-iconbox.babyst-icon-box-left .icon_inner [class*=" flaticon-"]::before, .babyst-iconbox.babyst-icon-box-left .icon_inner [class^="flaticon-"]::after, .babyst-iconbox.babyst-icon-box-left .icon_inner [class*=" flaticon-"]::after {
        font-size: 30px;
    }

    .babyst-iconbox.babyst-image-icon .icon_inner {
        width: 60px;
        height: 60px;
        line-height: 52px;
        background: none;
    }

    .babyst-iconbox.babyst-icon-box-left .icon_inner, .babyst-iconbox.babyst-icon-box-right .icon_inner {
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 23px;
    }
    .babyst-iconbox.babyst-icon-box-left.babyst-image-icon .icon_wrapper, .babyst-iconbox.babyst-icon-box-right.babyst-image-icon .icon_wrapper, .babyst-iconbox.babyst-icon-box-left.babyst-image-icon .icon_inner, .babyst-iconbox.babyst-icon-box-right.babyst-image-icon .icon_inner {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .babyst-iconbox.babyst-clean-icon .icon_inner {
        background: none;
        font-size: 42px;
        vertical-align: top;
        height: 48px;
        line-height: 48px;
        border: none;
    }

    .babyst-iconbox.babyst-clean-icon.babyst-icon-box-left .icon_inner, .babyst-iconbox.babyst-clean-icon.babyst-icon-box-right .icon_inner {
        background: none;
        font-size: 42px;
        vertical-align: top;
        height: 52px;
        line-height: 52px;
        width: 52px;
    }

    .babyst-iconbox.babyst-icon-box-square .icon_inner {
        border-radius: 3px;
    }

    .babyst-iconbox h5 {
        text-align: center;
        margin-bottom: 6px;
        padding-bottom: 6px;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        display: block;
    }

    .babyst-iconbox.babyst-icon-box-left h5, .babyst-iconbox.babyst-icon-box-right h5 {
        margin-bottom: 2px;
        padding-bottom: 0px;
    }

    .babyst-iconbox small {
        text-align: center;
        font-style: italic;
        width: 100%;
        display: block;
        font-size: 14px;
    }

    .babyst-iconbox .iconbox_text_content {
        text-align: center;
        margin-top: 10px;
    }

    .babyst-iconbox.babyst-icon-box-left .iconbox_text_content, .babyst-iconbox.babyst-icon-box-right .iconbox_text_content {
        margin-top: 10px;
    }

    .babyst-iconbox:hover {
        box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        top: -5px;
    }

    .vc_icon_element {
        position: relative;
        z-index: 2;
    }

}

.error404 .content_holder input#s, body.search-no-results .content_holder #searchform input#s {
    width: 80%;
    text-align: center;
    font-size: 19px;
    padding: 20px 10px;
    border: none;
    margin: 0 auto;
    display: block;
    background-color: #f6f6f6;
}

.error404 .content_holder #searchform:before, body.search-no-results .content_holder #searchform:before, body.search-no-results.woocommerce-page #products-wrapper #main p.woocommerce-info:after {
    display: block;
    width: 329px;
    height: 300px;
    margin: 50px auto;
    content: "";
    background-image: url("../images/404.jpg");
    background-size: cover;
}

