/* BLOG PAGE ----*/
#babyst_page_title:not(.title_has_image) {
    background: url(../images/bg_banner_title.jpg);
    .inner {
        padding-top: 60px;
        padding-bottom: 60px;
        vertical-align: middle;
        -webkit-transition: 0.8s ease-in-out;
        transition: 0.8s ease-in-out;
        .breadcrumb {
            background: transparent;
        }
    }
}
.babyst_title_holder {
    position: relative;
    &.left_title {
        .inner {
            h1.heading-title{
                text-align: left;
            }
        }
    }
    &.centered_title .inner {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        vertical-align: middle;
        -webkit-transition: 0.8s ease-in-out;
        transition: 0.8s ease-in-out;
    }
    .inner h1.heading-title {
        border: none;
        padding: 0;
        line-height: normal;
        margin: 0 auto;
        text-align: center;
        font-size: 47px;
        font-weight: 700;
    }
    h6 {
        color: #49a3b9;
        font-size: 18px;
        max-width: 560px;
        margin-top: 15px !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
.blog-post {
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 50px;
}

body.single-post .content_holder > .blog-post {
    padding: 0;
    border: none;
}
body.single-post .content_holder>.post>.post-unit-holder {
    img {
        margin-bottom: 60px;
    }
}
.blog-post.sticky, .babyst_blog_masonry:not(.babyst-related-blog-posts) .sticky .babyst_post_data_holder {
    border-style: solid;
}

div:not(.babyst_blog_masonry) > .blog-post.sticky .babyst_post_data_holder {
    border-bottom: 6px solid;
    padding-top: 50px;
}

.blog-post-excerpt {
    padding: 5px;
    margin: 0;
    clear: both;
    text-align: initial;
    line-height: 1.6em;
    font-size: 17px;
}

body.search-results .blog-post.product.type-product .blog-post-meta, 
body.search-results .blog-post.product.type-product .post-date, 
body.search-results .blog-post.product.type-product .babyst-post-avatar {
    display: none;
}

body.search.search-no-results .blog-post-excerpt {
    padding: 0;
}

.blog-post-excerpt p:first-of-type {
    margin-top: 0;
}

.blog-post-excerpt p:last-of-type {
    margin-bottom: 0;
}

.blog-post .babyst_post_data_holder h2.heading-title {
    padding: 0 5px;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 10px;
    clear: left;
}

.babyst_blog_masonry.babyst-mozaic .babyst_post_data_holder h2.heading-title {
    font-size: 21px;
}

.babyst_shortcode_latest_posts .blog-post .babyst_post_data_holder h2.heading-title {
    font-size: 27px;
    padding: 0 5px;
    font-weight: 700;
    margin-bottom: 10px;
    clear: left;
    color: #545454;
    a {
        color: #545454;
    }
}

.babyst_blog_masonry:not(.babyst_shortcode_latest_posts) .babyst_post_data_holder h2.heading-title {
    font-size: 24px;
}

.blog-post .babyst_post_data_holder h2.heading-title a {
    display: block;
    position: relative;
}

.babyst-related-blog-posts.babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post .babyst_post_data_holder {
    padding: 20px !important;
    max-width: none;
}

.blog-post h1.heading-title {
    font-size: 24px;
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1 !important;
}

.blog-post-meta {
    margin-bottom: 20px;
    font-size: 13px;
    clear: both;
    padding: 0 5px;
}

.blog-post-meta.post-meta-top {
    margin-bottom: 15px;
}

.babyst_blog_masonry:not(.babyst_shortcode_latest_posts) .blog-post-meta.post-meta-top {
    margin-bottom: 15px;
}

body.single-post .babyst_title_holder .blog-post-meta {
    margin-bottom: 0px;
    margin-top: 10px;
}

body.single-post .babyst_title_holder .blog-post-meta img.avatar {
    width: 35px;
    height: 35px;
}

.blog-post-meta span.sticky_post, .blog-post-meta span.post_format {
    background-color: #f4524d;
    color: #ffffff;
    padding: 4px 8px;
    font-weight: 600;
    margin-right: 4px;
    font-style: normal;
    font-size: 11px;
    display: none;
}

.blog-post-meta span.post_format {
    background: #ffffff;
    color: #333333;
    border: 1px solid #f1f1f1;
}

.blog-post-meta span.sticky_post i {
    color: #ffffff;
}

.blog-post-meta span.post_format a {
    text-decoration: none;
    font-size: 11px;
    margin: 0px;
}

.blog-post-meta.post-meta-top .count_comments a {
    color: #ffffff;
    border-radius: 2em;
    background-color: #333333;
    text-align: center;
    padding: 0px 5px;
    min-width: 21px;
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: #81d1e5;
}

.blog-post-meta.post-meta-bottom a {
    display: inline-block;
    color: #999999;
    line-height: 18px;
}

.blog-post-meta span.post-meta-date {
    margin-right: 5px;
}

.blog-post-meta span.post-meta-date:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f017";
    display: inline-block;
    margin-right: 3px;
}

.blog-post-meta span a, .blog-post-meta a[rel="tag"] {
    margin-right: 6px;
    color: #57c1db;
}

.blog-post-meta span i, .blog-post-meta i, .blog-post-meta span.post-meta-date:before {
    margin-right: 3px;
    line-height: 20px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.blog-post-meta a[rel="tag"] {
    margin-right: 3px;
}

.post-date, .widget_recent_entries .post-date {
    font-size: 12px;
    padding-left: 20px;
}

.widget .post-date, .widget_recent_entries.babyst-popular-posts .post-date {
    padding-left: 0px !important;
    color: #999999 !important;
    position: relative !important;
    background: none !important;
    font-size: 11px !important;
    top: auto !important;
    left: auto !important;
    display: inline-block;
    font-weight: normal !important;
}

.post-date a, .post-date a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

div.post .post-date, div.product.type-product .post-date, div.page.type-page .post-date, div.attachment .post-date {
    position: absolute;
    top: 29px;
    left: 65px;
    text-align: center;
    color: rgba(0, 0, 0, 0.07);
    padding: 10px 10px 10px 6px;
    line-height: 13px;
    z-index: 29000;
    font-weight: 600;
    font-size: 16px;
}

div.post .babyst-no-avatar .post-date, div.product.type-product .babyst-no-avatar .post-date, div.page.type-page .babyst-no-avatar .post-date, div.attachment .babyst-no-avatar .post-date {
    left: 30px;
}

div.blog-post.babyst-post-no-image .post-date {
    top: 15px;
    left: 50px;
}

.babyst_shortcode_latest_posts div.post.babyst-post-no-image .post-date {
    left: 65px;
}

div.post.babyst-post-no-image .babyst-no-avatar .post-date {
    left: 15px;
}

body.single-post .content_holder > .post .post-date {
    left: 30px;
}

body.single-post .content_holder > .post .babyst-post-avatar + .blog-post-meta + .post-date {
    left: 65px !important;
}

div.post .post-date .num, div.attachment .post-date .num, div.product.type-product .post-date .num, div.page.type-page .post-date .num {
    width: 100%;
    text-align: center;
    font-weight: normal;
    padding: 2px 6px;
    border-right: 1px solid;
    border-right-color: rgba(0, 0, 0, 0.07);
    line-height: 21px;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
}

.blog-post .slideshow, .blog-post .slideshow .flexslider {
    margin: 0 0 25px 0;
}

.video-holder {
    height: 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 67.5%;
    padding-top: 25px;
    position: relative;
}

.blog-post .video-holder {
    margin-bottom: 15px;
}

.video-holder embed, .video-holder iframe, .video-holder object, .video-holder video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.babyst_post_data_holder {
    position: relative;
    background: #ffffff;
    padding: 30px 10px 10px 10px;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
}

body.single-post .content_holder > .babyst-post-no-image {
    background: none;
}

.babyst-post-no-image .babyst_post_data_holder {
    margin-top: 0px;
}

body.single-post .babyst_post_data_holder {
    text-align: left;
    border: none;
}

body.single-post .content_holder > .post > .babyst_post_data_holder {
    overflow: visible;
    width: 100%;
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    top: auto;
    box-shadow: none;
}

body.single-post #content:not(.has-sidebar) .content_holder > .post > .babyst_post_data_holder {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

body.single-post .content_holder > .post > .post-unit-holder img.attachment-babyst-blog-category-thumb.wp-post-image, body.single-post .content_holder > .post > .post-unit-holder img.attachment-babyst-portfolio-single-thumb.wp-post-image {
    margin-bottom: 60px;
    -webkit-filter: none;
    filter: none;
}

body.single-post .content_holder > .post > .post-unit-holder {
    background-color: transparent;
}

body.single-post .has-sidebar .babyst_post_data_holder {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.blog-post-meta img.avatar {
    width: 21px;
    height: 21px;
    display: inline-block;
    position: relative;
    z-index: 1000;
    float: none;
    margin: 0 3px 0 0;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.babyst-related-blog-posts .blog-post-meta img.avatar {
    width: 21px !important;
    height: 21px !important;
    max-width: 21px !important;
    display: inline-block;
    clear: none;
}

.post-meta-bottom .lazy-hidden, .woocommerce-MyAccount-content .myaccount_user .babyst-account-avatar .lazy-hidden {
    display: none !important;
}

.babyst_post_data_holder .babyst-post-avatar img {
    border: 1px solid #f1f1f1;
    padding: 2px;
}

.babyst_blog_masonry .blog-post {
    // width: 33.3%;
    border: none;
    margin: 0;
    vertical-align: top;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 20px solid transparent;
}

.babyst_blog_masonry .blog-post {
    overflow: hidden;
    padding: 0px !important;
}
.babyst-related-blog-posts .owl-item div.post {
    margin-bottom: 0px !important;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post {
    width: 100%;
    margin: 0px;
    position: relative;
    border: none;
}

.babyst-related-blog-posts .babyst-post-no-image .babyst_post_data_holder {
    padding-top: 30px !important;
    min-height: 390px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #e8e8e8 !important;
    border-radius: 4px;
    background-color: #ffffff;
    text-align: center;
}

.babyst-related-blog-posts div.post.blog-post.babyst-post-no-image .babyst_post_data_holder h2.heading-title {
    width: 100%;
}
.babyst-related-blog-posts div.post.blog-post.babyst-post-no-image .babyst_post_data_holder h2.heading-title:before {
    display: block;
    font-size: 36px;
    font-family: 'Flaticon';
    content: "\f154";
    font-weight: normal !important;
    text-align: center;
    margin: 0 auto 12px auto;
    color: #dedede;
}

.babyst-related-blog-posts div.post.blog-post.babyst-post-no-image .babyst_post_data_holder h2.heading-title a {
    text-align: center;
}

.babyst-related-blog-posts div.post.blog-post.babyst-post-no-image span.posted_by, .babyst-related-blog-posts div.post.blog-post.babyst-post-no-image span.posted_by a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #333333;
}

.babyst-related-blog-posts div.post.blog-post.babyst-post-no-image .blog-post-meta img.avatar {
    width: 36px !important;
    max-width: 36px !important;
    height: 36px !important;
}
.babyst-related-blog-posts div.post.blog-post.babyst-post-no-image .blog-post-meta > span {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.babyst-related-blog-posts .blog-post.babyst-post-no-image .babyst_post_data_holder h2.heading-title a:after {
    left: 50%;
    margin-left: -25px;
}
.babyst-related-blog-posts .blog-post.babyst-post-no-image:hover > .babyst_post_data_holder h2.heading-title a:after {
    left: 0;
    margin-left: 0;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry:not(.babyst-related-blog-posts) .blog-post {
    border: 15px solid transparent !important;
}

.has-sidebar .content_holder.babyst_blog_masonry .blog-post {
    width: 46.96%;
}

.has-sidebar .babyst_shortcode_blog.babyst_blog_masonry div.post.blog-post {
    width: 50%;
}

.babyst-related-blog-posts .post-unit-holder {
    margin-bottom: 10px;
}

.babyst-related-blog-posts div.post.blog-post .heading-title {
    font-size: 18px !important;
    line-height: normal;
    margin-bottom: 20px !important;
}

.babyst-related-blog-posts .blog-post-excerpt, .babyst-related-blog-posts .blog-post-meta.post-meta-top {
    display: none;
}

.babyst-related-blog-posts .blog-post-excerpt, .babyst-related-blog-posts .blog-post-meta.post-meta-bottom {
    font-size: 12px;
}

.babyst_blog_masonry .blog-post-meta {
    padding: 0;
    position: relative;
}

.babyst_blog_masonry:not(.babyst_shortcode_latest_posts) .blog-post-meta, .babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post-meta.post-meta-bottom {
    margin-bottom: 0px;
}

.babyst_blog_masonry div.post.blog-post .blog-post-excerpt {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.babyst_blog_masonry div.post.blog-post .blog-post-excerpt .babyst-defined-excerpt {
    margin-bottom: 60px;
}

.babyst_blog_masonry .blog-post-excerpt {
    display: none !important;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-visible-images .blog-post.post .post-unit-holder, .babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-visible-images .blog-post.post .babyst_post_data_holder, .babyst_blog_masonry.babyst-mozaic:not(.babyst-related-blog-posts) .blog-post.post .post-unit-holder, .babyst_blog_masonry.babyst-mozaic:not(.babyst-related-blog-posts) .blog-post.post .babyst_post_data_holder {
    position: relative;
    opacity: 1;
    border-radius: 0px;
    border: none;
}

.babyst_blog_masonry .blog-post-meta.post-meta-top {
    display: none;
}

.babyst_blog_masonry.babyst-mozaic .blog-post {
    display: inline-block;
    width: 24%;
}

.babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(1), .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(10), .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(15), .babyst_blog_masonry.babyst-mozaic .blog-post:nth-child(24) {
    width: 50%;
    margin-bottom: 50px;
}

.babyst_shortcode_latest_posts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    justify-content: center;
}

.babyst_shortcode_latest_posts {
    padding: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry:not(.babyst_shortcode_latest_posts) .blog-post {
    width: 100% !important;
    overflow: hidden;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    float: left;
    margin: 0 0 30px 0 !important;
    border: none !important;
    box-sizing: border-box;
    position: relative;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post .babyst_post_data_holder {
    z-index: 10000;
    border: none;
    text-align: left;
    padding: 40px 10px;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry:not(.babyst-related-blog-posts) .blog-post .babyst_post_data_holder {
    opacity: 1;
}

.babyst-related-blog-posts.babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post {
    display: block;
    float: left;
}

.babyst-related-blog-posts.babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post .babyst_post_data_holder .babyst-post-avatar {
    display: none;
}

.babyst_blog_masonry .blog-post .post-date {
    display: none;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:hover, .babyst_shortcode_latest_posts.babyst_blog_masonry .owl-item .blog-post:hover {
    box-shadow: none !important;
    background: none;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post {
    width: 50%;
    margin-bottom: 5px !important;
    border-bottom: 1px solid #f5f5f5 !important;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type {
    margin-bottom: 30px !important;
    border-bottom: none;
    padding-bottom: 18px;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post .post-date, .babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post .babyst-post-avatar {
    display: none;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .post-date, .babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .babyst-post-avatar {
    display: block;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .post-unit-holder {
    width: 20%;
    float: left;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .post-unit-holder {
    width: 100% !important;
    float: none;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post .portfolio-unit-info {
    display: none;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .portfolio-unit-info {
    display: block;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .babyst_post_data_holder {
    clear: none;
    float: left;
    width: 80%;
    padding-top: 0px;
    padding-bottom: 5px;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .babyst_post_data_holder {
    float: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post-meta {
    margin-bottom: 11px;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .blog-post-meta {
    margin-bottom: 14px;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post-excerpt {
    font-size: 87%;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry.babyst-mozaic-posts .blog-post:first-of-type .blog-post-excerpt {
    font-size: 100%;
}

.babyst_shortcode_latest_posts.babyst_blog_masonry .owl-item .blog-post {
    width: 100%;
    display: block;
    border: none !important;
    padding: 0 15px !important;
}

#comment .pagenavi {
    padding: 0 0 40px 0;
}

ul.commentlist {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
}

ul.commentlist > li {
    margin-left: 0px;
    text-align: left;
}

ul.commentlist > li.pingback {
    padding: 15px 30px;
    border: 1px solid #eaeaea;
    border-left: 3px solid;
    background-color: #ffffff;
    margin-bottom: 10px;
    color: #999999;
}

ul.commentlist > li.pingback .edit-link {
    line-height: normal;
}

#comments p.nocomments {
    text-align: center;
    border: 1px solid #f1f1f1;
    display: inline-block;
    width: 49.5%;
    margin-top: 0px;
    padding: 102px 30px;
    background-color: #f7f7f7;
}

#comments p.nocomments:before {
    display: block;
    margin-bottom: 25px;
    color: #e8e8e8;
    font-size: 55px;
    font-family: "Flaticon";
    content: "\f13c";
}

.commentlist ul.children {
    list-style-type: none;
    padding: 10px 0 0 40px;
    margin: 0;
    float: left;
    clear: left;
    width: 100%;
    position: relative;
}

.commentlist ul.children:before {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f139";
    position: absolute;
    top: -20px;
    left: 9px;
    color: #e1e1e1;
}

.commentlist ul.children:after {
    display: block;
    width: 20px;
    height: 75px;
    vertical-align: middle;
    content: " ";
    position: absolute;
    top: 0px;
    left: 16px;
    border-left: 1px dashed;
    border-bottom: 1px dashed;
    border-color: #e1e1e1;
    border-radius: 0px 0px 0px 3px;
}

.commentlist li.children li {
    position: relative;
    padding: 0;
    float: left;
    clear: left;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 0;
}

.commentlist li ul.children li {
    position: relative;
    padding: 0;
    margin: 0px;
}

.commentlist li .comment-text {
    z-index: 90;
}

.commentlist li.pingback p {
    margin: 0;
}

.commentlist li.pingback + li.comment {
    margin-top: 70px;
}

img.avatar {
    float: left;
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    border-radius: 50%;
}

.commentlist li .comment-body {
    padding: 50px 30px 30px;
    margin-bottom: 80px;
}

.commentlist li .comment-body p, .commentlist li .comment-body span, .commentlist li .comment-body div {
    position: relative;
    z-index: 1000;
}

.commentlist li ul.children li .comment-body {
    margin-bottom: 70px;
}

.commentlist li .comment-body img.avatar {
    position: absolute;
    top: -35px;
    left: 30px;
    margin: 0;
    z-index: 200;
}

.babyst-author-content img.avatar {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.bypostauthor > .comment-body img.avatar {
    padding: 5px;
    border: 3px solid #f1f1f1;
}

.commentlist li div.description {
    border: none;
    width: auto;
    margin-bottom: 0;
}

.commentlist li .star-rating {
    position: absolute;
    crop: 0;
    top: -13px;
    left: 100px;
    width: 150px;
}

#commentform label {
    display: block
}

p.form-allowed-tags {
    font-size: 11px;
    padding: 8px;
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
}

p.form-allowed-tags * {
    font-size: 11px;
}

#commentform .text-input {
    margin-bottom: 20px;
    vertical-align: middle;
    width: 50%;
}

#commentform textarea, #review_form textarea {
    margin-bottom: 10px;
    padding: 2%;
    vertical-align: top;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.05);
}

#commentform textarea:focus, #review_form textarea:focus {
    background-color: rgba(0,0,0,0.08);
}
#comment .comment-reply-title {
    font-weight: 700;
    text-transform: uppercase;
}
p.comment-form-email, p.comment-form-url {
    width: 49%;
    float: left;
}
p.comment-form-url {
    float: right;
}

p.comment-form-email {
    margin-right: 2%;
}

p.comment-form-author input, p.comment-form-email input, p.comment-form-url input {
    width: 100%;
    background-color: rgba(0,0,0,0.05);

}

#commentform p.comment-form-cookies-consent {
    margin: 15px 0 30px 0;
    float: left;
    width: 100%;
}

p.comment-form-cookies-consent input[type="checkbox"], #commentform p.comment-form-cookies-consent label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 5px;
}

p.logged-in-as {
    margin: 0 0 30px 0;
    font-size: 14px;
}

p.logged-in-as a:first-of-type {
    color: #999999;
}

p.logged-in-as a:first-of-type:before {
    display: inline-block;
    margin-right: 5px;
    content: "\f007";
    font-family: 'Font Awesome 5 Free';
    font-size: 14px !important;
    font-weight: 900;
}

img.attachment-babyst-blog-category-thumb.wp-post-image, .blog-post img.attachment-babyst-portfolio-single-thumb.wp-post-image {
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
}

.post-unit-holder img.attachment-babyst-portfolio-single-thumb.wp-post-image, 
.post-unit-holder img.attachment-babyst-blog-category-thumb.wp-post-image, 
.blog-post .post-unit-holder img.wp-post-image {
    max-height: 980px;
    width: auto;
    max-width: 100% !important;
    margin: 0 auto;
    object-fit: contain;
    background-color: #f8f8f8;
    border-radius: 8px;
}

body.single-post .post-unit-holder:first-of-type img.attachment-babyst-portfolio-single-thumb.wp-post-image {
    max-height: none;
}

.babyst-related-blog-posts .post-unit-holder {
    max-height: 300px;
}

.babyst-related-blog-posts .post-unit-holder img.size-babyst-related-posts.wp-post-image {
    max-height: 300px;
    object-fit: cover;
    object-position: top 75%;
}

.portfolio-unit-info {
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    z-index: 9000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.babyst-none-overlay.babyst-10px-gap .portfolio-unit-holder {
    background: none;
}

.babyst-none-overlay .portfolio-unit-info {
    text-align: left;
    overflow: visible;
    z-index: 20000;
    position: relative;
    top: -3px;
    border-radius: 4px;
    background-color: #ffffff;
    overflow: visible;
    width: 100%;
    padding-right: 60px;
}
.portfolio-unit-info a.go_to_page {
    line-height: 0px;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    text-decoration: none !Important;
    z-index: 31000;
}

.r_more, .r_more_right {
    font-size: 10px;
    background-color: #333333;
    color: #F8F8F8 !important;
    float: left;
    clear: left;
    padding: 3px 8px;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 7px;
}

.r_more_right {
    float: right;
    clear: both;
}

.r_more:hover, .r_more_right:hover {
    text-decoration: none;
}

.r_more_blog {
    display: table;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content_holder {
    width: 100%;
    float: left;
    position: relative;
}
// style sidebar 
.sidebar {
    width: 320px;
    float: left;
    margin: 0 0 40px 0;
    padding-left: 40px;
}
.sidebar.off-canvas-sidebar {
    width: 100%;
    max-width: 350px;
    height: 100%;
    overflow: hidden;
    float: none;
    position: fixed;
    top: 0px;
    right: -350px;
    margin: 0;
    padding-left: 23px;
    padding-top: 0px;
    padding-bottom: 40px;
    background: #ffffff;
    z-index: 21000;
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
}

.off-canvas-wrapper {
    padding-right: 40px;
    position: relative;
    left: 17px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.off-canvas-wrapper > .widget:last-of-type {
    padding-bottom: 100px;
}

.sidebar.off-canvas-sidebar.active_sidebar {
    right: 0px;
}

.sidebar.off-canvas-sidebar .textwidget p {
    font-size: 14px;
}

.sidebar > div.widget, .sidebar > div.widget_pages, .sidebar > div.box {
    margin-bottom: 50px;
}

.wpb_widgetised_column div.widget, .wpb_widgetised_column div.box {
    margin-bottom: 35px;
}

.widget > h3:first-of-type, h2.widgettitle {
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 30px;
    position: relative;
}

.sidebar .widget > h3:first-of-type, 
.wpb_widgetised_column .widget > h3:first-of-type, 
.sidebar .widget h2.widgettitle {
    padding: 15px;
    background-color: @brand-primary;
    color: #ffffff;
    border-radius: 6px;
}

.sidebar .widget > h3:first-of-type:after, 
.wpb_widgetised_column .widget > h3:first-of-type:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 2px dashed #ffffff;
    opacity: 0.6;
    background: none;
    z-index: 0;
    border-radius: 6px;
}

.babyst_mega_text_block .widget > h3:first-of-type, 
.babyst_mega_text_block .wpb_widgetised_column .box h3:first-of-type {
    background: none;
    margin-bottom: 12px;
}

div.widget_categories ul.children, div.widget_archive ul.children, div.widget_recent_comments ul.children, div.widget_pages ul.children, div.widget_links ul.children {
    padding-left: 15px;
    margin-bottom: 0px;
    list-style: none;
    margin-top: 10px;
}

div.widget_categories ul.children li:last-of-type, div.widget_archive ul.children li:last-of-type, div.widget_recent_comments ul.children li:last-of-type, div.widget_pages ul.children li:last-of-type, div.widget_links ul.children li:last-of-type {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}

div.widget_categories ul li, div.widget_archive ul li, div.widget_nav_menu ul li, div.widget_recent_comments ul li, div.widget_pages ul li, div.widget_links ul li, div.widget_recent_entries ul li, div.widget_meta ul li, div.widget_display_forums ul li, .widget_display_replies ul li, .widget_display_views ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e8e8e8;
    font-size: 13px;
}

div.widget_categories ul li, div.widget_archive ul li {
    text-align: right;
    display: inline-block;
    width: 100%;
}

div.widget_categories ul li a, div.widget_archive ul li a, div.widget_nav_menu ul li a, div.widget_recent_comments ul li a, div.widget_pages ul li a, div.widget_links ul li a, div.widget_recent_entries ul a, div.widget_meta ul li a, div.widget_display_forums ul li a, .widget_display_replies ul li a, .widget_display_topics li > a.bbp-forum-title, .widget_display_stats dt, .widget_display_stats dd, div.widget_display_views ul li a, .widget_display_topics .bbp-author-name {
    display: inline-block;
    padding: 2px 0;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    text-align: left;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

div.widget_categories ul li a, div.widget_archive ul li a {
    margin-right: 8px;
    float: left;
    clear: left;
}

div.widget_categories ul li.current-cat > a, div.widget_pages ul li.current_page_item > a {
    color: #333333;
}

.widget_display_topics li > a.bbp-forum-title, #pre_header .widget_display_topics li > a.bbp-forum-title, #footer .widget_display_topics li > a.bbp-forum-title {
    width: 100%;
    clear: both;
    display: block;
    margin-bottom: 14px;
    padding: 12px 15px;
    text-decoration: none;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 2px;
    color: #333333;
}

.widget_display_topics li > a.bbp-forum-title:after, .widget_display_topics li > a.bbp-forum-title:before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    left: 12px;
    bottom: -5px;
    border-radius: 50%;
    z-index: 30000;
    background-color: inherit;
}

.widget_display_topics li > a.bbp-forum-title:before {
    width: 5px;
    height: 5px;
    left: 10px;
    bottom: -10px;
}

.widget_display_topics li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 11px;
    line-height: normal;
}

.widget_display_topics li div {
    display: inline-block;
    margin-left: 5px;
}

.widget_display_topics li .bbp-author-avatar img.avatar, .widget_display_replies li .bbp-author-avatar img.avatar {
    padding: 0;
    border: 3px double #ddd;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.widget_display_replies li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.widget_display_replies li a {
    line-height: normal;
    float: none;
    display: inline !important;
}

.widget_display_replies li .bbp-author-avatar img.avatar {
    margin: 2px 5px 0 0;
}

.widget_display_replies li div {
    margin: 8px 0 0 0;
    font-size: 11px;
}

.widget_display_stats dd, .widget_display_stats dt {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

.widget_layered_nav_filters ul {
    margin-left: 0px;
    list-style: none;
}

.widget_layered_nav_filters li {
    margin-left: 0px;
    list-style: none;
}

.widget_layered_nav_filters li a {
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
}

.widget_layered_nav_filters li a:before {
    display: inline-block;
    vertical-align: middle;
    content: "\f046";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
    font-size: 14px;
    position: relative;
    margin-top: -1px;
    width: 16px;
}

.widget_layered_nav_filters li a:hover:before {
    content: "\f146";
}
.wpb_text_column ul, .wpb_text_column ol, .wpb_text_column blockquote, .wpb_text_column q {
    margin-top: 25px;
    margin-bottom: 25px;
}

.wpb_text_column ul li, .wpb_text_column ol li {
    margin-bottom: 15px;
}

.widget_recent_entries ul, .widget_categories ul, ul.wpb_thumbnails-fluid, ul.product_list_widget, ul.products-list, ul.product-categories, .project-details ul, .project-details ul li, .portfolio_top .project-data .main-features .checklist li, ul.digital-downloads {
    margin-left: 0;
    list-style: none;
}

.widget label.screen-reader-text, .quantity .screen-reader-text {
    display: none;
}

.widget.widget_nav_menu ul.menu li {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.widget_nav_menu ul.menu li ul {
    padding-left: 15px;
}

.widget.widget_nav_menu ul.menu li a {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

.widget.widget_nav_menu ul.menu li a:hover {
    padding-left: 5px;
}

.babyst_latest_projects_widget ul.post-list li {
    display: inline-block;
    clear: none;
    margin: 0 4px 4px 0;
    padding: 0;
}

.babyst_latest_projects_widget ul.post-list li a {
    padding: 0;
    float: none;
}

.babyst_latest_projects_widget ul.post-list li a img {
    margin: 0;
    float: none;
    display: block;
    vertical-align: text-bottom;
    width: 80px;
    height: auto;
    border-radius: 2px;
}

.project-details ul, .main-features ul {
    margin: 0;
    padding: 0;
}

.babyst_flexslider .slides li {
    margin: auto;
    padding: 0;
    overflow: hidden;
}

ul.digital-downloads li {
    margin: 0 0 10px 0;
    padding: 0;
}

ul.digital-downloads li:before {
    display: inline-block;
    color: #999999;
    content: "\f019";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 2px;
    margin-right: 8px;
}

ul.wpb_thumbnails-fluid {
    margin-bottom: 0;
}

ol {
    list-style: outside none decimal;
    margin-left: 15px;
}

.content_holder li {
    margin-left: 1em;
    padding: 8px 0;
}

ul.nav-list, ul.post-list {
    padding: 0;
    list-style: none;
}

ul.nav-list a {
    display: block;
    padding: 8px;
    border-bottom: 1px solid #e1e1e1;
    text-decoration: none;
}

dl {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

dt {
    float: left;
    width: 50%;
    padding: 5px 0;
}

dd {
    float: left;
    width: 50%;
    padding: 5px 0;
}

.babyst_post_data_holder dl, .comment-body dl, .content_holder > .type-page dt {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    margin-bottom: 35px;
}

.babyst_post_data_holder dt, .babyst_post_data_holder dd, .comment-body dt, .comment-body dd, .content_holder > .type-page dt, .content_holder > .type-page dd {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    width: 46%;
    padding: 15px 2%;
    margin: 0;
}

.babyst_post_data_holder dt, .comment-body dt, .content_holder > .type-page dt {
    margin-right: -1px;
}

.babyst_post_data_holder dt, .babyst_post_data_holder dd, .comment-body dt, .comment-body dd, .content_holder > .type-page dt, .content_holder > .type-page dd {
    border-top: 1px dashed #e1e1e1;
}

div.widget_recent_entries ul {
    padding: 0;
    list-style: none;
}

div.widget_categories ul li a:hover, div.widget_archive ul li a:hover, div.widget_recent_comments ul li a:hover, div.widget_pages ul li a:hover, div.widget_links ul li a:hover, div.widget_recent_entries ul a:hover, div.widget_meta ul li a:hover {
    color: #333333;
    text-decoration: none;
}

div.widget_recent_entries ul li, div.widget_recent_comments ul li, div.widget_nav_menu ul li {
    width: 100%;
    font-size: 14px;
}

div.widget_recent_comments ul li .comment-author-link {
    font-weight: bold;
    color: #333333;
}

div.widget_recent_comments ul li:before {
    display: inline-block;
    font-family: "Flaticon" !important;
    content: "\f150";
    font-size: 24px;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    line-height: 48px;
    float: left;
    margin: 0 20px 0px 0;
    border: 2px dashed #e1e1e1;
    border-radius: 50%;
}

div.widget_recent_entries ul li a img {
    float: left;
    margin: 0 20px 0 0;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

div.widget_recent_entries ul li a {
    position: relative;
}

div.widget_recent_entries.babyst-popular-posts ul li a:before {
    border: 2px dashed #e1e1e1;
    border-radius: 50%;
    display: block;
    content: "";
    position: absolute;
    top: -2px;
    left: -4px;
    width: 58px;
    height: 58px;
}
// style blog details

// author
.babyst-author-info {
    padding: 30px 30px 30px 200px;
    margin: 60px 0 0 0;
    position: relative;
}
.babyst-author-info .title {
    padding: 0 10px 0 0;
    margin-bottom: 20px;
}
.babyst-author-info .babyst-author-content {
    clear: both;
    min-height: 1px;
    padding: 0px;
}
.babyst-author-content div.avatar {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 160px;
    height: 160px;
}
.babyst-author-content img.avatar {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.babyst-author-content .description {
    font-size: 17px;
    font-weight: lighter;
    line-height: 1.4;
}

// comments

body.single-post .has-sidebar #comments, body.page .has-sidebar #comments {
    border-radius: 6px;
    border: 1px solid #ecf5f6;
    background-color: #f1f9fb;
    padding-bottom: 50px;
    padding-top: 80px;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left: 6%;
    padding-right: 6%;
    // text-align: center;
}
body.single-post {
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 18px;
    }
}
#comments h3#reply-title, #review_form h3#reply-title, #reply-title {
    margin-bottom: 25px !important;
    font-size: 19px;
    color: #333333;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
.babyst-related-blog-posts > h4 {
    margin-bottom: 40px;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    font-size: 24px !important;
}

a.babyst-post-nav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
    overflow: hidden;
    width: 49%;
    margin-top: 35px;
}

a.babyst-post-nav .entry-info-wrap {
    position: relative;
    width: 100%;
    display: block;
}

a.babyst-post-nav .entry-info {
    width: 100%;
    display: inline-block;
}

a.babyst-post-nav .entry-info span {
    vertical-align: middle;
}

a.babyst-post-nav .entry-info span.entry-title {
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-weight: bold;
}

a.babyst-post-nav .entry-info span.entry-title small {
    width: 100%;
    display: block;
    color: #999999;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
}

a.babyst-post-nav i {
    display: none;
}

a.babyst-post-nav.babyst-post-prev {
    text-align: left;
}

a.babyst-post-nav.babyst-post-prev .entry-info:before, a.babyst-post-nav.babyst-post-next .entry-info:after {
    font-family: 'FontAwesome';
    content: "\f100";
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
    color: #cecece;
    position: relative;
}
a.babyst-post-nav.babyst-post-prev .entry-info:before {
    left: -30px;
}
a.babyst-post-nav.babyst-post-next .entry-info:after {
    content: "\f101";
    right: -30px;
}

a.babyst-post-nav.babyst-post-next {
    text-align: right;
}

a.babyst-post-nav .entry-image {
    display: none;
}

a.babyst-post-nav img {
    width: 76px;
    height: 76px;
}

body.bbpress a.babyst-post-nav {
    display: none !important;
}

