
body.woocommerce-cart form.woocommerce-cart-form {
    display: inline-block;
    width: calc(100% - 445px);
    padding-right: 30px;
}

form.checkout.woocommerce-checkout #customer_details {
    display: inline-block;
    width: calc(100% - 445px);
    padding-right: 30px;
}

body.woocommerce-cart .cart-collaterals, form.checkout.woocommerce-checkout #order_review {
    width: 440px;
    display: inline-block;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 6px;
}

.cart-subtotal th, .woocommerce-shipping-totals th, .order-total th, table.woocommerce-checkout-review-order-table thead th {
    font-size: 15px;
    font-weight: bold;
}

.cart-info thead .product-remove, .cart-info thead {
    display: none;
}

.cart-collaterals .cart_totals .shop_table .order-total .woocommerce-Price-amount {
    font-size: 22px;
    color: #333333;
}

body.woocommerce-cart form, body.woocommerce-cart .cart-collaterals, form.checkout.woocommerce-checkout #customer_details, form.checkout.woocommerce-checkout #order_review {
    vertical-align: top;
}

.cart-info {
    margin-bottom: 50px;
}

form.checkout.woocommerce-checkout {
    display: block;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin-left: 0;
        }
    }
}

.woocommerce form.checkout.woocommerce-checkout.processing {
    opacity: 0.6;
    position: relative;
}

.woocommerce form.checkout.woocommerce-checkout.processing:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 25000;
}

form.checkout.woocommerce-checkout.processing:after {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    content: "\f021";
    font-family: 'Font Awesome 5 Free';
    font-size: 42px !important;
    vertical-align: middle;
    font-weight: 900 !important;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

h3#order_review_heading {
    display: none;
}

.woocommerce-billing-fields, 
.woocommerce-shipping-fields {
    padding: 20px 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 3px;
}
.woocommerce form.checkout p, div.woocommerce form p {
    padding: 8px;
    margin: 1em 0;
    line-height: 1.625em;
}
.cart_totals table {
    width: 100%;
    clear: both;
    border: none;
}

.cart-info table.shop_table.cart, form.checkout.woocommerce-checkout #customer_details {
    margin-bottom: 20px;
    border-collapse: collapse;
    font-size: 14px;
    border: none;
}

.cart-info table.shop_table.cart {
    border-top: 1px solid #e8e8e8;
    width: 100%;
}

.cart-info tbody td, .wishlist_table tbody td {
    padding: 30px 15px !important;
}

.cart-info thead th, .wishlist_table tbody th {
    font-weight: bold;
    background-color: #f8f8f8;
    text-transform: uppercase;
    padding: 10px 15px;
    color: #333333;
}

.cart-info thead .product-remove, .cart-info thead .product-thumbnail {
    text-align: center;
}

.cart-info .product-thumbnail img {
    border: 1px solid #f1f1f1;
    padding: 2px;
    background-color: #ffffff;
    width: 70px;
}

.cart-info thead .product-name {
    text-align: left;
}

.cart-info thead .model {
    text-align: center;
}

.cart-info thead .product-price, .cart-info thead .product-subtotal {
    text-align: center;
}

.cart-info tbody td, .wishlist_table tbody td {
    vertical-align: middle;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.cart-info tbody .product-remove, .woocommerce table.wishlist_table tr td.product-remove {
    vertical-align: middle;
    text-align: center;
}

.cart-info td.product-remove, .woocommerce table.wishlist_table tr td.product-remove {
    width: 30px !important;
}

.cart-info td.product-remove a.remove, .wishlist_table td.product-remove a.remove {
    font-size: 0px;
    color: #333333 !important;
    vertical-align: middle;
    text-decoration: none;
}

.cart-info tbody .product-remove, .cart-info tbody .product-thumbnail {
    text-align: center;
}

.cart-info tbody td.product-thumbnail {
    padding: 30px 0px !important;
    min-width: 50px;
}

.cart-info dl.variation, table.woocommerce-checkout-review-order-table dl.variation {
    margin: 5px 0;
}

table.woocommerce-checkout-review-order-table td.product-name {
    color: #333333;
}

.cart-info td.product-name dd, .cart-info td.product-name dt, table.woocommerce-checkout-review-order-table dl.variation dd, table.woocommerce-checkout-review-order-table dl.variation dt {
    padding: 0px;
    font-size: 13px;
    line-height: normal;
    color: #999999;
}

.cart-info td.product-name {
    text-align: left;
}

.cart-info tbody .model {
    text-align: center;
}

.cart-info tbody .product-name a {
    text-align: center;
    color: #333333;
    text-decoration: none;
}

.cart-info tbody .product-quantity, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
    text-align: center;
}

.cart-info tbody .model, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
    font-weight: bold;
    color: #444;
}

.cart-info tbody span.stock {
    color: #F00;
    font-weight: bold;
}

.cart-info tr.odd td {
    background-color: #f9f9f9;
}

.cart-module {
    text-align: left;
}

.cart-module .cart-heading {
    padding: 8px 8px 8px 28px;
    font-weight: bold;
    font-size: 13px;
    color: #f5f5f5;
    cursor: pointer;
    background: url("image/plus.png") 10px 13px no-repeat;
    background-color: #333;
}

.cart-module .toggle_holder {
    margin-bottom: 15px;
}

.toggle_holder #voucher, .toggle_holder #coupon, .toggle_holder .cart-content {
    background-color: #f8f8f8;
    padding: 15px;
}

.cart-module table {
    margin-bottom: 15px;
}

.cart-module .active {
    background: url("image/plus.png") 10px -20px no-repeat;
    background-color: #333;
}

.cart-module .cart-content {
    padding: 15px;
    display: none;
    overflow: auto;
}

.cart-total {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    overflow: auto;
    padding: 8px 0px;
    margin-bottom: 15px;
}

.cart-total table {
    float: right;
    margin-bottom: 15px;
}

.cart-total td {
    padding: 3px;
    text-align: right;
    vertical-align: bottom;
}

.cart-total td.numbers, .cart-total td.numbers_total {
    font-weight: bold;
    color: #333;
}

.cart-total td.numbers_total {
    vertical-align: bottom;
    font-size: 18px;
}

.buttons {
    padding: 1px;
}

.buttons .left {
    float: left;
    text-align: left;
}

.buttons .left .button {
    margin: 3px;
}

.buttons .right {
    float: right;
    text-align: right;
}

.buttons .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.toggle_holder a.button {
    float: right;
}
.cart-info .coupon label {
    display: none;
}
form.checkout_coupon p:first-of-type {
    width: 100%;
}

table.shop_table.cart .actions > input.button {
    margin: 0 auto;
    float: right;
}

.cart-info tbody td.actions {
    padding-top: 30px;
}

.cart-info tbody td.actions > button.button {
    float: right;
    background-color: #333333;
    box-shadow: 0 0 0 3px #333333;
}

.coupon input#coupon_code, .checkout_coupon input#coupon_code {
    padding: 0px 15px;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 8px;
    height: 44px;
    line-height: 44px;
}

.wc-proceed-to-checkout .button, .wc-proceed-to-checkout button {
    vertical-align: middle;
    line-height: 32px;
    padding: 6px 18px;
    width: 100%;
}
.cart-info .coupon {
    text-align: left;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.cart-info .coupon label {
    display: none;
}

.coupon input#coupon_code, .checkout_coupon input#coupon_code {
    padding: 14px 15px;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 8px;
}
.coupon input.button, .wc-proceed-to-checkout .button {
    text-align: center;
    margin-bottom: 8px;
}

.coupon input, .checkout_coupon p {
    display: inline-block;
    vertical-align: top;
}

form.checkout_coupon {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fcfcfc;
    display: block;
    width: 100%;
}

table.shop_table.cart td.product-quantity div.quantity {
    height: auto;
    width: auto;
    padding: 0;
    border: none;
    background: none;
    .qty {
        max-width: 100%;
        vertical-align: middle;
        width: 50px;
        text-align: center;
        border: 1px solid #f1f1f1;
        border-radius: 2px;
    }
}

table.shop_table.cart td.product-quantity div.quantity input.input-text.qty.text {
    max-width: 100%;
    vertical-align: middle;
    width: 40px;
    text-align: center;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
}

table.shop_table.cart td.product-quantity div.quantity input.plus, table.shop_table.cart td.product-quantity div.quantity input.minus {
    display: none !important;
}
td div.quantity input.babystreet-qty-plus, td div.quantity input.babystreet-qty-minus {
    display: none !important;
}
.cart-collaterals h2 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px !important;
    padding-bottom: 10px;
    text-transform: uppercase;

}

.cart-collaterals div.prod_hold .name {
    font-size: 12px;
    min-height: 40px;
}

.cart-collaterals .prod_hold .price_hold {
    font-size: 13px;
    font-weight: 500;
}

.cart-collaterals .prod_hold {
    box-shadow: none;
}

label, .contact-form .content span {
    cursor: pointer;
    margin-right: 5px;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 500;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-top-width: 5px;
    margin-bottom: 35px;
    border: 1px solid #efefef;
    width: 100%;
}

.select2-container .select2-choice {
    padding: 8px !Important;
    border-radius: 0px !important;
}
.woocommerce-billing-fields, .woocommerce-shipping-fields {
    padding: 20px 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 3px;
}

.woocommerce-billing-fields input, .woocommerce-shipping-fields input {
    width: 100%;
}

.woocommerce-billing-fields input[type="radio"], .woocommerce-billing-fields input[type="checkbox"], .woocommerce-shipping-fields input[type="radio"], .woocommerce-shipping-fields input[type="checkbox"] {
    width: auto !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

.woocommerce-shipping-fields input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.woocommerce-shipping-fields input[type="checkbox"] + span {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin-right: 18px;
}

.woocommerce-shipping-fields input[type="checkbox"] + span {
    vertical-align: middle;
}

.woocommerce-shipping-fields input[type="checkbox"] + span:before,
.woocommerce-shipping-fields input[type="checkbox"] + span:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 45px;
    height: 24px;
}

.woocommerce-shipping-fields input[type="checkbox"] + span:before {
    right: 1px;
    background-color: #e1e1e1;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    position: relative;
    display: inline-block;
    margin-right: 18px;
    vertical-align: middle;
}

.woocommerce-shipping-fields input[type="checkbox"] + span:after {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 11px;
    left: 2px;
}

.woocommerce-shipping-fields input[type="checkbox"]:checked + span:before {
    background-color: #0eafcc;
}

.woocommerce-shipping-fields input[type="checkbox"]:checked + span:after {
    margin-left: 21px;
}

.woocommerce-shipping-fields .shipping_address {
    padding-top: 8px;
    padding-bottom: 8px;
}

table.woocommerce-checkout-review-order-table {
    font-size: 13px;
    border: none;
    margin-bottom: 35px;
}

table.woocommerce-checkout-review-order-table th, table.woocommerce-checkout-review-order-table td {
    padding: 10px 10px;
    width: 50%;
    vertical-align: middle;
    border-color: #e1e1e1;
}

.cart_totals table td {
    vertical-align: middle;
    border-color: #e1e1e1;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 0;
            margin-left: 0!important;
        }
    }
    .shipping-calculator-button {
        color: @brand-primary;
        font-weight: 700;
    }
}

.shipping-calculator-form {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}

.woocommerce-shipping-calculator p {
    padding: 0 !important;
    position: relative;
    display: block;
}

.woocommerce-shipping-calculator p a {
    display: block;
    width: 100%;
}

.woocommerce-shipping-calculator select {
    width: 100%;
    max-width: 100%;
    border: none !Important;
    border-radius: 2px;
    max-width: 100%;
    background: transparent;
    padding: 8px 35px 8px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.woocommerce-shipping-calculator select ::-ms-expand::-ms-expand {
    display: none;
}

p#calc_shipping_country_field:after, p#calc_shipping_state_field:after {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    content: "\f0dc";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -9px;
    z-index: 50;
    color: #333333;
    pointer-events: none;
}

.shipping-calculator-form .select2-selection__arrow {
    display: none;
}

table.woocommerce-checkout-review-order-table tr.order-total td {
    border: none;
    font-size: 22px;
    color: #333333;
}

div.woocommerce .cart_totals h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

div.woocommerce .woocommerce-billing-fields h3, 
div.woocommerce .woocommerce-shipping-fields h3, 
#order_review h3, 
.woocommerce form.checkout h3 {
    margin-bottom: 20px;
    &#ship-to-different-address {
        padding-left: 10px;
    }
}

.woocommerce-info, woocommerce-info > a {
    vertical-align: middle;
}

.woocommerce-form-coupon-toggle, .woocommerce-form-login-toggle {
    width: 49.20%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 35px;
}

.woocommerce-form-login-toggle {
    margin-right: 1%;
}

.woocommerce-form-coupon-toggle .woocommerce-info, .woocommerce-form-login-toggle .woocommerce-info {
    margin-bottom: 0;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    a {
        color: @brand-primary;
        // font-weight: bold;
    }
}

.woocommerce-form-coupon-toggle .woocommerce-info:before, .woocommerce-form-login-toggle .woocommerce-info:before {
    display: inline-block;
    vertical-align: middle;
    content: "\f02b";
    font-family: 'FontAwesome' !important;
    margin-right: 8px;
    color: #333333;
    font-size: 15px;
    font-weight: normal;
}

.woocommerce form.checkout textarea#order_comments {
    width: 100% !important;
    min-height: 120px;
}

.woocommerce form.checkout h3 {
    margin: 0 0 25px 0;
}

.woocommerce form p label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: #333333;
    font-size: 13px;
}

.woocommerce dl.variation p {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
}

.col2-set.addresses {
    text-align: left;
}

.col2-set.addresses h3 {
    padding: 17px;
    font-size: 13px;
    text-transform: uppercase;
}

thead {
    background-color: #f1f1f1;
}

.shop_table.shop_table_responsive.my_account_orders {
    border: none;
}

td.order-actions a.button {
    width: 100%;
    text-align: center;
}


.box-create-account {
    display: none;
}

.shipping_address {
    display: none;
}

.woocommerce .woocommerce-account-fields {
    .create-account {
        padding-left: 30px;
    }
}

form.checkout.woocommerce-checkout ul li {
    
    .payment_box {
        display: none;
    }
}
.widget_shopping_cart_content a.remove:before, .cart-info td.product-remove a.remove:before, .wishlist_table td.product-remove a.remove:before {
    display: block;
    font-family: "Flaticon" !important;
    content: "\f113";
    font-size: 18px;
}