/* HEADER STYLES ----*/

.babyst-sticky-header #header {
    position: fixed;
    top: 0;
    left: 0;
}

body.babyst-sticky-header #header, body.babyst_transparent_header.babyst-sticky-header #header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
}

#header {
    margin: 0;
    padding: 0px;
    position: relative;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
}

body.babyst_transparent_header #header {
    border: none;
}

.babyst-sticky-header #header {
    position: fixed;
    top: 0;
    left: 0;
}

body.babyst-sticky-header #header, body.babyst_transparent_header.babyst-sticky-header #header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
}

body.admin-bar.babyst-sticky-header #header {
    top: 31px;
}

#header:before {
    content: "";
    z-index: -1;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
}

body.babyst_transparent_header #header:not(.babyst-sticksy):before {
    background-color: rgba(0, 0, 0, 0.15);
}

body.babyst_transparent_header.babyst-transparent-dark #header:before {
    background-color: #ffffff;
}

#header.babyst-sticksy:before, body.babyst_transparent_header #header:hover:before {
    opacity: 1;
}

#main-menu > ul > li.dropdown > a:after, #main-menu ul#main_nav > li > ul.sub-menu li.dropdown > a:after {
    display: inline-block;
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 4px;
    font-size: 12px;
    vertical-align: middle;
}
#main-menu ul#main_nav > li > ul.sub-menu li.dropdown > a:after {
    right: 0px;
    position: absolute;
    top: 6px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#header_top {
    position: relative;
    min-height: 40px;
    max-height: 40px;
    clear: both;
    z-index: 3;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    background-color: #ebf7fa;
}

 #header_top .inner, #header.babyst_text_logo #header_top .inner {
    padding-left: 40px;
}
#header.babyst-sticksy #header_top {
    min-height: 0px;
    max-height: 0px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.main_menu_holder {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-top: 8px;
    padding-bottom: 8px;
}

#header #logo {
    float: left;
    display: block;
    background: none !important;
    max-height: 50px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    margin: 15px 15px 15px 0;
    text-align: left;
}

#header #logo.babyst_text_logo {
    height: 80px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


#header.babyst-sticksy #logo.babyst_text_logo {
    
}

#header #logo.babyst_text_logo a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#header #logo .babyst-logo-title, #header #logo .babyst-logo-subtitle {
    clear: left;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#header #logo .babyst-logo-subtitle {
    font-size: 11px;
}

.vc_gitem-zone-b {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.vc_gitem-zone-b h3 {
    text-transform: uppercase;
    font-size: 15px !important;
}

#header #logo img.transparent_logo {
    display: none;
}

@media only screen and (min-width: 1279px) {
    body.babyst_transparent_header:not(.babyst-transparent-dark) #header:not(.babyst-sticksy) #logo img:first-of-type {
        display: none;
        opacity: 0;
    }

    body.babyst_transparent_header:not(.babyst-transparent-dark) #header:not(.babyst-sticksy) #logo img.transparent_logo, body.babyst_transparent_header:not(.babyst-transparent-dark) #header:not(.babyst-sticksy) #logo img.persistent_logo {
        display: inline-block !important;
        opacity: 1;
    }
}

#header #logo a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    position: relative;
}

#header #logo img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50px;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    z-index: 1;
}

#header #logo img.babyst_mobile_logo {
    display: none;
}

body.babyst_logo_center_menu_below #header #logo img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: none;
}

#header #logo img, #header2 #logo img {
    vertical-align: text-bottom;
}

/* CATEGORY MENU ----*/
#header_top .babyst-top-bar-message {
    font-size: 12px;
    line-height: 40px;
    min-height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    vertical-align: middle;
    padding: 0;
    color: #3eafcb;
}

#header_top .has-top-menu .babyst-top-bar-message {
    float: right;
}

.babyst-top-bar-mail, .babyst-top-bar-phone {
    display: inline-block;
    border-right: 1px solid;
    border-right-color: rgba(0, 0, 0, 0.03);
    line-height: 36px;
    min-height: 36px;
}

#header .babyst-top-bar-message span {
    padding: 0 10px 0 4px;
    text-align: left;
    display: inline-block;
    line-height: 31px;
    min-height: 36px;
    vertical-align: middle;
    color: #3eafcb!important;
}

#header .babyst-top-bar-message, #header .babyst-top-bar-message span, #header .babyst-top-bar-message span a {
    vertical-align: middle;
    text-decoration: none;
    color: #3eafcb!important;
}

#header .babyst-top-bar-message span {
    font-weight: bold;
}

#header #menu {
    z-index: 1900;
    float: left;
}

ul#topnav2 {
    margin: 0;
    padding: 0;
    display: block;
    min-height: 30px;
    position: relative;
    float: right;
}

ul#topnav2 li {
    display: block;
    list-style: none;
    margin: 0 0 0 0;
    z-index: 1099;
    padding: 0;
    float: left;
}

ul#topnav2 li.dropdown {
    position: relative;
}

ul#topnav2 > li.dropdown > a:after {
    display: inline-block;
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    height: 8px;
    line-height: 8px;
    vertical-align: middle;
    margin-left: 3px;
}

ul#topnav2 > li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding: 0px 10px;
    text-decoration: none;
    white-space: nowrap;
    color: #3eafcb!important;
}

ul#topnav2 li a:hover {
    color: #333333;
}

ul#topnav2 li:hover {
    z-index: 1600;
}

ul#topnav2 li > ul.sub-menu {
    position: absolute;
    display: none;
    width: 180px;
    top: 38px;
    left: 0px;
    z-index: 9998;
    padding: 10px;
    margin: 0;
    float: left;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #ffffff;
    box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

ul#topnav2 li.dropdown:hover > ul.sub-menu, ul#topnav2 li.dropdown:hover ul.sub-menu li:hover > ul.sub-menu {
    display: block;
}

ul#topnav2 ul.sub-menu > li ul.sub-menu {
    position: absolute;
    display: none;
    width: 180px;
    top: 0px;
    left: 180px;
    z-index: 9998;
    padding: 10px;
    margin: 0;
    float: left;
}

ul#topnav2 ul.sub-menu li {
    float: left;
    clear: both;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}

ul#topnav2 ul.sub-menu a, ul#topnav2 li:hover ul.sub-menu a {
    display: block;
    width: 160px;
    height: auto;
    padding: 4px 5px 5px 5px;
    float: left;
    font-size: 12px;
    font-weight: normal;
    background: none;
    text-align: left;
    text-transform: none;
    line-height: 24px;
    border: none;
    margin: 0;
    color: #666666;
    white-space: inherit;
}

ul#topnav2 ul.sub-menu a:hover, ul#sub-menu li:hover ul.sub-menu li {
    background: none;
}

ul#topnav2 ul.sub-menu li a:hover, .babyst-dark-skin ul#topnav2 ul.sub-menu a:hover, .babyst-dark-skin ul#topnav2 li:hover ul.sub-menu a:hover {
    color: #ffffff !important;
}

#babyst_footer_menu {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 0 30px 0;
}

#babyst_footer_menu > li {
    display: inline-block;
    list-style: none;
    border-right: 1px solid;
}

#babyst_footer_menu > li:last-child {
    border: none;
}

#babyst_footer_menu > li a {
    display: block;
    list-style: none;
    font-size: 16px;
    padding: 0px 8px;
    text-decoration: none;
    line-height: 120%;
    font-weight: 500;
}

.babyst-search-cart-holder .babyst-search-trigger {
    float: right;
    width: 40px;
    height: 44px;
    position: static;
    margin: 0;
    z-index: 3;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    border-radius: 6px;
    margin-left: 2px;
}

body > #search {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: none;
    position: fixed;
    top: -100%;
    right: 0;
    margin: 0;
    padding: 0px 20px 40px 20px;
    background: #ffffff;
    z-index: 223000;
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);

}

body > #search.active {
    top: 0px;
    display: block;
}

#searchform input#searchsubmit {
    border: 0 none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    z-index: 100;
    background: none;
    display: none;
}

.babyst-search-cart-holder .babyst-search-trigger > a {
    vertical-align: middle;
    height: 44px;
    line-height: 44px;
    display: block;
    position: relative;
    z-index: 10;
    font-size: 19px !important;
    color: #333333;
}

.babyst-wishlist-counter, #babyst-account-holder, #cart-module, .babyst-search-cart-holder .babyst-search-trigger {
    position: relative;
}

small.babyst-search-hint-text {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 8px 0;
    color: #b1b1b1;
}
.error404 .content_holder small.babyst-search-hint-text {
    margin-bottom: 50px;
}
.sidebar small.babyst-search-hint-text {
    display: none;
}

#search input#s::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

#search input#s::-webkit-input-placeholder {
    color: #999999;
    opacity: 1;
}

#language {
    color: #999;
    line-height: 17px;
    float: left;
    padding: 0px;
    height: 29px;
    margin: 10px 8px 0 0px;
}

#language img {
    margin: 10px 5px 0px 0px;
}

#main-menu ul.menu {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    height: 80px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#main-menu {
    float: right;
    margin-right: 15px;
}

 #main-menu, 
 #main-menu ul.menu {
    float: left;
}



#main-menu ul.menu li {
    display: inline-block;
    list-style: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
}

#main-menu ul.menu li a i {
    position: relative;
    top: -1px;
    margin-right: 4px;
    font-weight: normal !important;
    font-size: 21px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#main-menu ul.menu > li > a i {
    top: -1px;
    font-size: 21px;
}

#main-menu ul.menu li a i:before {
    font-size:21px;
}

#main-menu ul.menu > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    height: 100%;
}

#main-menu ul.menu li:hover {
    z-index: 100;
}

#main-menu ul.menu > li > a {
    display: block;
    vertical-align: middle;
    padding: 0px 13px !important;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    color: #555555;
    font-weight: 400;
    height: 80px;
    line-height: 80px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #183a5c;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

#main-menu ul.menu li a .num {
    position: absolute;
    color: #999999;
    background-color: #e1e1e1;
    padding: 2px 4px;
    font-size: 10px;
    top: 30px;
    right: -5px;
    line-height: 9px;
}

#main-menu li ul.sub-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0px;
    z-index: 5555;
    padding: 30px 0px;
    margin: 0;
    text-align: left;
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
}

body:not(.babyst-main-menu-left) #main-menu > ul > li:nth-last-child(1) > ul.sub-menu, body:not(.babyst-main-menu-left) #main-menu > li:nth-last-child(2) > ul.sub-menu {
    left: auto;
    right: 0px;
}

body:not(.babyst-main-menu-left) #main-menu > ul > li:nth-last-child(1) > ul.sub-menu li.dropdown ul.sub-menu, body:not(.babyst-main-menu-left) #main-menu > ul > li:nth-last-child(2) > ul.sub-menu li.dropdown ul.sub-menu {
    left: auto;
    right: 219px;
}

.babyst-dark-menu #main-menu ul#main_nav > li > ul.sub-menu, .babyst-dark-menu #main-menu li.dropdown > div.babyst-mega-menu, .babyst-dark-menu ul#topnav2 li > ul.sub-menu {
    background: rgba(34, 34, 34, 0.99);
}

#main-menu li div.babyst-mega-menu > ul.sub-menu {
    background: none;
}

.babyst-dark-menu #main-menu li ul.sub-menu li.babyst_colum_title > a:after {
    opacity: 0.6;
}

#main-menu li ul.sub-menu li.dropdown ul.sub-menu {
    position: absolute;
    display: none;
    top: -16px;
    left: 99%;
    z-index: 6666;
    padding: 20px 0px;
    margin: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


.babyst-main-menu-right #main-menu > ul > li:nth-last-child(1) > ul.sub-menu li.dropdown ul.sub-menu, .babyst-main-menu-right #main-menu > ul > li:nth-last-child(2) > ul.sub-menu li.dropdown ul.sub-menu, .babyst-main-menu-right.babyst-stretched-header #main-menu > ul > li:nth-last-child(3) > ul.sub-menu li.dropdown ul.sub-menu {
    left: auto;
    right: 199px;
}

#main-menu li ul.sub-menu li.dropdown ul.sub-menu li.dropdown ul.sub-menu {
    z-index: 7777;
}

#main-menu li ul.sub-menu li {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#main-menu li ul.sub-menu .widget ul.product_list_widget {
    padding: 0px;
    width: 100%;
}

#main-menu li ul.sub-menu .widget ul.product_list_widget li {
    padding: 10px 0px;
    width: 100%;
    float: none;
}

#main-menu li ul.sub-menu .widget ul.product_list_widget li a {
    padding: 0px;
    width: 100%;
    display: block;
}

#main-menu li ul.sub-menu .wpb_widgetised_column div.widget, #main-menu li ul.sub-menu .wpb_widgetised_column div.box, #main-menu li ul.sub-menu .wpb_content_element {
    margin-bottom: 0px;
}

#main-menu li ul.sub-menu li:not(.babyst_mega_text_block) > a {
    display: block;
    padding: 7px 0;
    color: #666666;
    text-decoration: none;
    width: 100%;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    font-size: 14px;
    position: relative;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li:not(.babyst_mega_text_block) > a {
    color: #222222;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li.dropdown:not(.babyst_mega_text_block) > a {
    font-weight: 500;
}

#main-menu ul#main_nav > li > ul.sub-menu, #main-menu ul#main_nav > li > ul.sub-menu ul.sub-menu, #main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu ul.sub-menu {
    padding: 40px;
    background-color: #ffffff;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu ul.sub-menu {
    width: 250px;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu ul.sub-menu a {
    color: #333333;
}

#main-menu ul#main_nav > li > ul.sub-menu li a {
    width: 220px !important;
}

#main-menu li ul.sub-menu li:not(.babyst_mega_text_block) > a:hover {
    opacity: 0.7;
}

#main-menu li ul.sub-menu li.babyst_mega_text_block > a:before {
    display: none !important;
}

#main-menu li ul.sub-menu li a sup {
    margin-left: 3px;
}

.babyst-dark-menu #main-menu li ul.sub-menu li a, .babyst-dark-menu ul#topnav2 li:hover ul.sub-menu a:not(:hover) {
    color: #e1e1e1;
}

.babyst-dark-menu #main-menu li div.babyst-mega-menu > ul.sub-menu > li > a, .babyst-dark-menu #main-menu li div.babyst-mega-menu > ul.sub-menu > li > a:hover {
    color: #f1f1f1;
}

.babyst-dark-menu #main-menu li div.babyst-mega-menu > ul.sub-menu li.babyst_colum_title > a {
    color: #ffffff;
}

#main-menu li ul.sub-menu li.babyst_mega_text_block {
    font-size: 12.5px;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu li.babyst_colum_title > a, #main-menu li div.babyst-mega-menu > ul.sub-menu li.babyst_colum_title > a:hover {
    border: none !important;
    position: relative;
    margin-bottom: 12px;
    font-size: 16px;
    color: #333333;
    padding: 0px !important;
    width: 200px;
}

#main-menu li ul.sub-menu li.babyst_mega_text_block a:before {
    display: none;
}

#main-menu li ul.sub-menu li.babyst_mega_text_block a {
    width: auto;
    display: inline-block;
}

#main-menu li ul.sub-menu li.babyst_mega_text_block a img {
    display: block;
    vertical-align: text-bottom;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li.babyst_mega_text_block_parent > a:first-of-type {
    align-self: flex-start;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li.babyst_mega_text_block_parent:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    background-color: #ffffff;
}

#main-menu .babyst-mega-menu.menu-columns6 > ul.sub-menu > li {
    max-width: calc(100vw / 6);
    min-width: 180px;
}

#main-menu .babyst-mega-menu.menu-columns5 > ul.sub-menu > li {
    max-width: calc(100vw / 5);
    min-width: 220px;
}

#main-menu .babyst-mega-menu.menu-columns4 > ul.sub-menu > li {
    max-width: calc(100vw / 4);
    min-width: 310px;
}

#main-menu .babyst-mega-menu.menu-columns3 > ul.sub-menu > li {
    max-width: calc(100vw / 3);
    min-width: 250px;
}

#main-menu .babyst-mega-menu.menu-columns2 > ul.sub-menu > li {
    max-width: calc(100vw / 2);
    min-width: 250px;
}
#main-menu .babyst-mega-menu.menu-columns2 > ul.sub-menu > li {
    max-width: calc(100vw / 2);
    min-width: 250px;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li.babyst_mega_text_block_parent, #main-menu li div.babyst-mega-menu > ul.sub-menu > li.babyst_mega_text_block_parent:hover {
    max-width: none;
    flex: 0 1 auto;
    background-image: linear-gradient(to top, transparent 50%, transparent 50%) !important;
    background: none !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

/* BOXED LAYOUT MENU STYLES */

#main-menu .babyst-mega-menu .babyst_mega_text_block a:hover > img {
    opacity: 0.7;
}

.babyst_mega_text_block img {
    max-width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease;
}

#main-menu .menu > li.dropdown:hover > ul.sub-menu {
    display: block;
    -moz-animation: babystfadeInUp .3s ease-in;
    -webkit-animation: babystfadeInUp .3s ease-in;
    animation: babystfadeInUp .3s ease-in;
}

#main-menu li.dropdown:hover ul.sub-menu li.dropdown:hover > ul.sub-menu {
    display: block;
}

#main-menu li.dropdown > div.babyst-mega-menu {
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    top: 80px;
    min-width: 180px;
    overflow: hidden;
    left: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: 1s border-color, max-height 0.3s;
    transition: 1s border-color, max-height 0.3s;
    max-height: 0px;
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.1);
}

body.babyst_boxed #main-menu li.dropdown > div.babyst-mega-menu {
    box-shadow: none;
    position: absolute;
    z-index: 5;
    top: 79px !important;
    width: auto;
    min-width: 180px;
    left: 0;
    overflow: hidden;
}

body.babyst_boxed #main-menu li div.babyst-mega-menu > ul.sub-menu > li {
    background-color: #ffffff;
}

.babyst-has-header-top #main-menu li.dropdown > div.babyst-mega-menu {
    top: 120px;
}
.babyst-has-header-top.babyst-sticksy #main-menu li.dropdown > div.babyst-mega-menu {
    top: 80px;
}

#main-menu li.dropdown:hover > div.babyst-mega-menu {
    -webkit-transition: 1s max-height, border-color 0.3s;
    transition: 1s max-height, border-color 0.3s;
    max-height: 800px;
}

body.admin-bar #main-menu li.dropdown > div.babyst-mega-menu {
    top: 119px;
}
body.admin-bar .babyst-has-header-top #main-menu li.dropdown > div.babyst-mega-menu {
    top: 159px;
}
body.admin-bar .babyst-has-header-top.babyst-sticksy #main-menu li.dropdown > div.babyst-mega-menu {
    top: 119px;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu {
    display: block !important;
    position: relative;
    margin: 0 auto;
    box-shadow: none !important;
    border-top: none !important;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 0;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li {
    float: none;
    vertical-align: top;
    width: auto;
    min-width: 180px;
    max-width: 255px;
    text-align: left;
    padding: 40px;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #f8f8f8 50%, transparent 50%) !important;
    -webkit-transition: background-position 200ms;
    transition: background-position 200ms;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li:hover {
    background-image: linear-gradient(to top, #f8f8f8 51%, transparent 50%) !important;
    background-position: 0 100%;
    -webkit-transition: background-position 200ms;
    transition: background-position 200ms;
    z-index: 100;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li:last-child {
    margin-right: 0 !important;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: none !important;
    border-top: none !important;
    width: 100%;
    max-width: 200px;
    z-index: 1;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li.babyst_mega_text_block_parent > ul.sub-menu {
    max-width: none;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu {
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0 0 0 0px;
    box-shadow: none !important;
    border-top: none !important;
    width: 100%;
    z-index: 1;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > a, #main-menu li div.babyst-mega-menu > ul.sub-menu > li > a:hover {
    padding: 10px 0px !important;
    background: none !important;
}

#main-menu ul.menu > li > a .babyst-custom-menu-label {
    position: absolute;
    padding: 4px 5px 3px 5px;
    color: #ffffff !important;
    background-color: #666666;
    top: 50%;
    margin-top: -28px;
    right: 12px;
    display: block;
    font-size: 9px;
    line-height: 1;
    font-weight: 500;
    line-height: 10px;
    white-space: nowrap;
    height: 17px;
    z-index: 202;
    border-radius: 3px;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    
}

#main-menu ul.menu > li > a:hover .babyst-custom-menu-label {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#main-menu li ul.sub-menu li .babyst-custom-menu-label {
    font-size: 65%;
    padding: 3px;
    position: relative;
    vertical-align: baseline;
    margin-left: 3px;
    bottom: 1.4ex;
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    background-color: #333333;
    font-weight: 500;
    min-width: 7px;
    min-height: 7px;
}

#main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu li a:before, #main-menu li div.babyst-mega-menu > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu li:hover a:before {
    position: relative !important;
    content: "-" !important;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: inline-block;
    margin: 0px 5px 0px 0px !important;
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    background: none !important;
    color: #cecece;
}

.babyst-portfolio-categories ul li a.is-checked:before {
    position: absolute;
    bottom: 0px;
    left: 12px;
    right: 12px;
    height: 2px;
    content: "";
    background-color: #333333;
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
}

#main-menu ul.menu > li.babyst-highlight-menu-item > a:before {
    position: absolute;
    background-color: inherit !important;
    width: 20px;
    height: 20px;
    content: '';
    bottom: -5px;
    left: 50%;
    margin-left: -10px;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1 !important;
    border-radius: 50%;
}

body.babyst_logo_center_menu_below #header #logo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 20px;
}

body.babyst_logo_center_menu_below .main_menu_holder {
    text-align: center;
}

body.babyst_logo_center_menu_below #main-menu {
    float: left;
    width: 100%;
    clear: both;
}

.babyst_logo_center_menu_below #header .babyst-search-cart-holder .babyst-search-trigger, .babyst_logo_center_menu_below .babyst-search-cart-holder a.sidebar-trigger:before, .babyst_logo_center_menu_below #header.babyst-sticksy #main-menu ul.menu, .babyst_logo_center_menu_below #header .babyst-wishlist-counter, .babyst_logo_center_menu_below #header #babyst-account-holder, .babyst_logo_center_menu_below #header #main-menu ul.menu > li > a, .babyst_logo_center_menu_below #header .babyst-search-cart-holder .babyst-search-trigger a, .babyst_logo_center_menu_below #cart-module a.cart-contents, .babyst_logo_center_menu_below .babyst-wishlist-counter a, .babyst_logo_center_menu_below #babyst-account-holder a, .babyst_logo_center_menu_below .babyst-search-cart-holder a.sidebar-trigger, .babyst_logo_center_menu_below #main-menu .babyst-search-cart-holder, .babyst_logo_center_menu_below .babyst-search-cart-holder {
    height: 44px !important;
    line-height: 44px !important;
}

body.babyst_logo_center_menu_below #header2 #main-menu ul.menu > li > a, body.babyst_logo_center_menu_below #header2 .babyst-search-cart-holder .babyst-search-trigger a {
    height: 44px;
    line-height: 44px;
}

body.babyst_transparent_header.babyst_logo_center_menu_below #header #main-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    background: none;
}

body.babyst_logo_center_menu_below #header2 #main-menu {
    border: none;
    float: right;
    clear: none;
    width: auto;
}

body.babyst_logo_center_menu_below #main-menu ul.menu {
    float: left;
    text-align: left;
}

body.babyst_logo_center_menu_below #main-menu .babyst-search-cart-holder {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
}

body.babyst_logo_center_menu_below #main-menu {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    float: none;
    width: auto;
}

body.babyst_logo_center_menu_below #main-menu ul.menu {
    float: none;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: inline-flex;
    height: 60px;
}

body.babyst_logo_center_menu_below #main-menu ul.menu > li {
    float: none;
    display: inline-block;
}

body.babyst_logo_center_menu_below #header .main_menu_holder {
    height: auto;
}

@media only screen and (min-width: 1279px) {

    body.babyst_transparent_header #header {
        width: 100%;
        position: absolute;
        z-index: 20000;
        background: none;
        border: none;
        box-shadow: none;
    }

    body.babyst_transparent_header #header_top {
        background: none;
        box-shadow: none;
        background: rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    body.babyst_transparent_header .babyst-top-bar-message, body.babyst_transparent_header .babyst-top-bar-message a, body.babyst_transparent_header #header_top .babyst-social ul li a, body.babyst_transparent_header ul#topnav2 > li a {
        color: #ffffff;
    }
}

body.babyst-stretched-header #header .inner, body.babyst-stretched-footer #footer .inner {
    width: 100%;
    max-width: none;
}

body.babyst-stretched-footer #footer .inner {
    padding-left: 6%;
    padding-right: 6%;
}

/* FOOTER STYLES ----*/

#footer {
    font-size: 14px;
    margin: 0;
    min-width: 100%;
    background-color: #111111;
    overflow: hidden;
    position: relative;
    background: #81d1e5;
}

#babyst_footer_logo {
    margin: 20px auto 0 auto;
    text-align: center;
}

#babyst_footer_logo a {
    display: inline-block;
}

html.no-touch #footer.babyst_do_reveal {
    position: fixed;
    z-index: 90;
    left: 0;
    bottom: 0;
}

#footer > .inner {
    padding-top: 80px;
    padding-bottom: 30px;
}
#footer > .inner a {
    color: #183a5c;
}

#footer > .inner:nth-of-type(2) {
    padding-top: 20px;
}

#footer > .inner:empty {
    display: none;
}

#pre_header {
    position: relative;
    font-size: 12px;
    margin: 0;
    min-width: 100%;
    z-index: 21000;
    background-color: #333333;
}

#pre_header:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    background-color: #fc0000;
    z-index: 1;
}

#pre_header .inner {
    padding-top: 60px;
    padding-bottom: 60px;
    display: none;
    z-index: 2;
}

#pre_header a {
    color: #f5f5f5;
}

.toggler {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 32px solid #333333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: -42px;
    right: -7px;
    text-align: center;
    text-decoration: none !important;
    font-size: 0px;
    z-index: 0;
    background-color: #333333;
}

.toggler:before {
    display: block;
    color: #ffffff !important;
    content: "\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    right: 10px;
    top: -13px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.swap:before {
    content: "\f068";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

body.babyst-stretched-header #header .inner, body.babyst-stretched-footer #footer .inner {
    width: 100%;
    max-width: none;
}

body.babyst-stretched-footer #footer .inner {
    padding-left: 6%;
    padding-right: 6%;
}


// style mobile

a.mob-menu-toggle {
    display: none;
    width: 35px;
    line-height: 77px;
    height: 80px;
    vertical-align: middle;
    font-size: 21px;
    color: #ffffff !important;
    float: right;
    margin: 0 0 0 10px;
    z-index: 10000;
    text-decoration: none !important;
    text-align: center;
}

.babyst_transparent_header a.mob-menu-toggle {
    color: #ffffff;
}

a.mob-menu-toggle i {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative;
}

a.mob-menu-toggle:hover i {
    background-color: #333333;
}

a.mob-close-toggle {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #222222;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

a.mob-close-toggle:after, a.mob-close-toggle:before {
    display: block;
    width: 30px !important;
    height: 2px !important;
    font-size: 48px;
    content: " ";
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -15px;
}

a.mob-close-toggle:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu_mobile ul.babyst-mobile-menu-tabs li {
    display: inline-block;
    padding: 0px !important;
    margin: 0px;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a {
    display: block;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0px !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.12);
    color: #ffffff !important;
}

#menu_mobile ul.babyst-mobile-menu-tabs li.ui-state-active a {
    background: rgba(0, 0, 0, 0.07);
}

#menu_mobile ul.babyst-mobile-menu-tabs li:first-of-type {
    width: calc(100% - 150px);
    text-align: center;
}

#menu_mobile ul.babyst-mobile-menu-tabs li:first-of-type a {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-account-tab-link, #menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-wishlist {
    width: 50px;
    overflow: hidden;
    font-size: 0px;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-account-tab-link:before, #menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-wishlist:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 21px !important;
    content: "\f141";
    font-family: "Flaticon" !important;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-wishlist:before {
    content: "\f138";
}

#menu_mobile.ui-tabs .ui-tabs-panel {
    margin: 0px 0px 0px 21px;
    padding-right: 38px;
    padding-left: 0px;
    padding-bottom: 150px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

ul#mobile-menu.menu, #babyst_mobile_account_tab ul {
    margin: 0 0 0 3px;
}

ul#mobile-menu.menu ul {
    margin-bottom: 0;
    margin-top: 0;
}

ul#mobile-menu.menu ul.sub-menu {
    margin-left: 8px;
}

ul#mobile-menu.menu li, #babyst_mobile_account_tab li {
    list-style: none !important;
}

ul#mobile-menu.menu li a, #babyst_mobile_account_tab li a {
    display: block;
    padding: 8px 5px 8px 17px;
    color: #e1e1e1;
    text-decoration: none !important;
    position: relative;
}

#babyst_mobile_account_tab li a, #babyst_mobile_account_tab label, #babyst_mobile_account_tab h2, #babyst_mobile_account_tab h3, #babyst_mobile_account_tab .woocommerce-LostPassword a, #babyst_mobile_account_tab div.woocommerce form p, #babyst_mobile_account_tab div.woocommerce form p a {
    color: #e1e1e1;
}

ul#mobile-menu.menu > li > a, #babyst_mobile_account_tab > li > {
    padding: 10px 5px 10px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    margin-bottom: 15px;
}

ul#mobile-menu.menu > li.menu-item-has-children > ul.sub-menu {
    height: 1px;
    overflow: hidden;
}

ul#mobile-menu.menu > li.menu-item-has-children > ul.sub-menu.active, ul#mobile-menu.menu > li.menu-item-has-children.current_page_item > ul.sub-menu {
    height: auto;
}

ul#mobile-menu.menu > li.menu-item-has-children > span.drop-mob {
    position: absolute;
    // top: 10px;
    // right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px !important;
    position: absolute;
    top: 15px;
    // margin-t÷op: -20px;
    right: 8px;
    z-index: 9999;
    text-align: center;
    vertical-align: middle !important;
    font-size: 18px;
    font-weight: bold !important;
    color: #fff;
}


// cart module

/* CART MODULE ----*/
.babyst-search-cart-holder {
    float: right;
    position: relative;
}

@media only screen and (min-width: 1279px) {
    body.babyst-main-menu-center .has-main-menu .babyst-search-cart-holder {
        position: absolute;
        right: 40px;
    }

    body.babyst-main-menu-center .has-main-menu #logo {
        position: absolute;
    }
}

#main-menu .babyst-search-cart-holder {
    min-height: inherit;
}

#cart-module {
    padding: 0px;
    width: 40px;
    height: 44px;
    border-radius: 6px;
    margin: 0;
    position: relative;
    z-index: 0;
    float: right;
    list-style: none;
    z-index: 2;
    margin-left: 2px;
}

#cart-module > li:first-child {
    vertical-align: middle;
    min-height: 46px;
    line-height: 46px;
}

#cart-module a.cart-contents:before {
    display: inline-block;
    font-size: 21px !important;
    float: left;
    width: 40px;
    position: relative;
    color: #333333;
    top: 0px;
    font-weight: normal !important;
}

body > div.widget.woocommerce.widget_shopping_cart h2.widgettitle {
    display: none;
}

body > div.widget.woocommerce.widget_shopping_cart {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    float: none;
    position: fixed;
    top: -110%;
    right: 0px;
    margin: 0;
    padding: 0px 20px 40px 20px;
    background: #ffffff;
    z-index: 21000;
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
}

body > div.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content {
    height: 100%;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

body > div.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul.cart_list.product_list_widget {
    padding: 20px 0;
    position: absolute;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    bottom: 180px;
    top: 60px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.inner, .dokan-dashboard #container > .dokan-dashboard-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    text-align: left;
    padding: 0 40px;
    position: relative;
}

#footer {
    background: url(../images/bg_footer.jpg)bottom center no-repeat scroll ;
   background-size: cover;

}
#footer > .inner {
    padding-top: 80px;
    padding-bottom: 30px;
}

#footer > .inner:nth-of-type(2) {
    padding-top: 20px;
}

#footer > .inner:empty {
    display: none;
}

.widget > h3:first-of-type, h2.widgettitle {
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 30px;
    position: relative;
    color: #183a5c;
}

.sidebar .widget > h3:first-of-type, .wpb_widgetised_column .widget > h3:first-of-type, .sidebar .widget h2.widgettitle {
    padding: 15px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 6px;
}

.sidebar .widget > h3:first-of-type:after, .wpb_widgetised_column .widget > h3:first-of-type:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border: 2px dashed #ffffff;
    opacity: 0.6;
    background: none;
    z-index: 0;
    border-radius: 6px;
}

.babyst_mega_text_block .widget > h3:first-of-type, .babyst_mega_text_block .wpb_widgetised_column .box h3:first-of-type {
    background: none;
    margin-bottom: 12px;
}

#pre_header .widget > h3:first-child {
    color: #183a5c;
}

#footer .widget > h3:first-child {
    color: #183a5c;
}

#powered {
    min-width: 100%;
    color: #cecece;
}

#powered .inner {
    font-size: 11px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#powered .author_credits {
    width: 48%;
    float: right;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
}

#powered .babyst-social {
    width: 48%;
    float: left;
    text-align: right;
}

#powered .author_credits a {
    font-size: 10px;
    color: #fff;
}

.cards_icon {
    width: 51px;
    height: 32px;
    margin: 0 6px 6px 0;
    float: left;
    background-image: url("../images/cards.png");
}

.visa_icon {
    background-position: 155px 0px;
}

.visa-electron {
    background-position: 208px 0px;
}

.mastercard_icon {
    background-position: 208px 0px;
}

.maestro_icon {
    background-position: -105px 0px;
}

.american-express_icon {
    background-position: 0px 0px;
}

.cirrus_icon {
    background-position: -53px 0px;
}

.twocheckout_icon {
    background-position: -156px -33px;
}

.delta_icon {
    background-position: 156px -33px;
}

.discover_icon {
    background-position: 104px -33px;
}

.google-checkout_icon {
    background-position: -105px -33px;
}

.moneybookers_icon {
    background-position: 52px -33px;
}

.sagepay_icon {
    background-position: -156px -66px;
}

.paypal_icon {
    background-position: 0px -33px;
}

.solo_icon {
    background-position: 0px -66px;
}

.switch_icon {
    background-position: -53px -66px;
}

.western-union_icon {
    background-position: -105px -66px;
}

.cash-on-delivery_icon {
    background-position: 103px 0px;
}

.direct-debit_icon {
    background-position: 51px 0px;
}

.cheque_icon {
    background-position: -52px -33px;
}

.ideal_icon {
    background-position: 155px -66px;
}

#seals {
    float: left;
    clear: both;
    width: 100%;
    padding: 15px 0;
}

#seals a {
    margin: 0 8px 10px 0;
    display: block;
    float: left;
}

.footer_time, .footer_address, .footer_phone, .footer_fax, .footer_mail, .footer_skype {
    display: block;
    clear: both;
    padding: 0 0 0 40px;
    min-height: 28px;
    line-height: 18px;
    vertical-align: middle;
    margin: 8px 0 0 0;
    position: relative;
}

.footer_time:before, .footer_address:before, .footer_phone:before, .footer_fax:before, .footer_mail:before, .footer_skype:before {
    font-size: 18px;
    height: 24px;
    width: 30px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
    margin: 0 8px 0 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -7px;
    left: 0;
}

.footer_time:before {
    content: "\f017";
}

.footer_address:before {
    content: "\f041";
}

.footer_phone:before {
    content: "\f095";
}

.footer_fax:before {
    content: "\f1ac";
}

.footer_mail:before {
    content: "\f0e0";
}

.footer_skype:before {
    content: "\f17e";
}

a.skype {
    text-decoration: none;
    color: #666666;
}

.widget label.screen-reader-text, .quantity .screen-reader-text {
    display: none;
}
div.widget > ul, div.widget_pages > ul, 
.sidebar > div.box > ul, 
div.widget_nav_menu ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.widget.widget_nav_menu ul.menu li {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}

.widget.widget_nav_menu ul.menu li ul {
    padding-left: 15px;
}

.widget.widget_nav_menu ul.menu li a {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
        -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    display: inline-block;
    text-decoration: none;
}

.widget.widget_nav_menu ul.menu li a:hover {
    padding-left: 5px;
}

// style main

#content {
    min-height: 500px;
    padding: 0;
    position: relative;
    z-index: 100;
    width: 100%;
}

.inner, .dokan-dashboard #container > .dokan-dashboard-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    text-align: left;
    padding: 0 40px;
    position: relative;
}

.main {
    padding-top: 0;
    position: relative;
    .content_holder {
        margin-bottom: 0px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
    }
}

.babyst-search-cart-holder {
    // background: #81d1e5;
    float: right;
    position: relative;
    padding: 18px 5px;
    color: #fff;
    // font-size: 30px;
}
.babyst-search-cart-holder:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 17px;
    bottom: 17px;
    left: 0px;
    right: -5px;
    background-color: #81d1e5;
    border-radius: 3em;
}
.babyst-search-cart-holder:after, a.mob-menu-toggle i:after {
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    top: 20px;
    bottom: 20px;
    left: 3px;
    right: -2px;
    background: none;
    border: 2px dashed #000000;
    border-radius: 3em;
    opacity: 0.16;
}
a.mob-menu-toggle i:after {
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}
// .babyst-search-cart-holder:after, 
// a.mob-menu-toggle i:after {
//     display: block;
//     content: "";
//     position: absolute;
//     z-index: 0;
//     top: 20px;
//     bottom: 20px;
//     left: 3px;
//     right: -2px;
//     background: none;
//     border: 2px dashed #000000;
//     border-radius: 4px;
//     opacity: 0.16;
// }
.babyst-search-cart-holder .babyst-search-trigger {
    float: right;
    width: 40px;
    height: 44px;
    position: static;
    margin: 0;
    z-index: 3;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    border-radius: 6px;
    margin-left: 2px;
}

body > #search {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: none;
    position: fixed;
    top: -100%;
    right: 0;
    margin: 0;
    padding: 0px 20px 40px 20px;
    background: #ffffff;
    z-index: 223000;
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);

}

body > #search.active {
    top: 0px;
    display: block;
}

#searchform input#searchsubmit {
    border: 0 none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    z-index: 100;
    background: none;
    display: none;
}

.babyst-search-cart-holder .babyst-search-trigger > a {
    vertical-align: middle;
    height: 44px;
    line-height: 44px;
    display: block;
    position: relative;
    z-index: 10;
    font-size: 19px !important;
    color: #333333;
}

.babyst-wishlist-counter, #babyst-account-holder, #cart-module, .babyst-search-cart-holder .babyst-search-trigger {
    position: relative;
}

#search input[type=text] {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

small.babyst-search-hint-text {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 8px 0;
    color: #b1b1b1;
}
.error404 .content_holder small.babyst-search-hint-text {
    margin-bottom: 50px;
}
.sidebar small.babyst-search-hint-text {
    display: none;
}

#search input#s::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

#search input#s::-webkit-input-placeholder {
    color: #999999;
    opacity: 1;
}


#main-menu .babyst-search-cart-holder {
    min-height: inherit;
}

#cart-module {
    padding: 0px;
    width: 40px;
    height: 44px;
    border-radius: 6px;
    margin: 0;
    position: relative;
    z-index: 0;
    float: right;
    list-style: none;
    z-index: 2;
    margin-left: 2px;
}

#cart-module > li:first-child {
    vertical-align: middle;
    min-height: 46px;
    line-height: 46px;
}

#cart-module a.cart-contents:before {
    display: inline-block;
    font-size: 21px !important;
    float: left;
    width: 40px;
    position: relative;
    color: #333333;
    top: 0px;
    font-weight: normal !important;
}
.babyst-wishlist-counter, #babyst-account-holder {
    float: right;
    height: 44px;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    border-radius: 6px;
    margin-left: 2px;
    z-index: 5;
}

.babyst-wishlist-counter > a, #babyst-account-holder > a {
    text-decoration: none;
    width: 40px;
    height: 44px;
    line-height: 44px;
    font-size: 21px !important;
    position: relative;
    display: inline-block;
}

.babyst-wishlist-counter i, #babyst-account-holder i {
    color: #333333;
    font-weight: normal !important;
    font-size: 21px !important;
}

.babyst-wishlist-counter i, #babyst-account-holder i, #cart-module a.cart-contents:before, .babyst-search-cart-holder .babyst-search-trigger > a i:before, a.sidebar-trigger:before {
    font-family: "Flaticon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.babyst-search-cart-holder .babyst-search-trigger > a, .babyst-search-cart-holder #cart-module a.cart-contents, .babyst-search-cart-holder #cart-module a.cart-contents:before, .babyst-search-cart-holder .babyst-wishlist-counter a, .babyst-search-cart-holder .babyst-wishlist-counter a i, #babyst-account-holder i {
    color: #ffffff;
}

.babyst-wishlist-counter i:before {
    content: "\f138";
}

#babyst-account-holder i:before {
    content: "\f141" !important;
}

#cart-module a.cart-contents:before {
    content: "\f119" !important;
}

.babyst-search-cart-holder .babyst-search-trigger > a i:before {
    content: "\f127" !important;
    font-size: 21px;
}

a.vc_btn3-style-custom, button.vc_btn3-style-custom {
    font-weight: bold;
    box-shadow: none !important;
}

#cart-module .cart-contents span.count, .babyst-wishlist-counter a .babyst-wish-number {
    position: absolute;
    color: #ffffff;
    background-color: #333333;
    top: 50%;
    margin-top: -20px;
    left: 25px;
    display: block;
    font-size: 9px !important;
    line-height: 15px !important;
    white-space: nowrap;
    height: 15px;
    min-width: 16px;
    border-radius: 2em;
    text-align: center;
    font-weight: 500;
    vertical-align: middle;
}
#cart-module a.cart-contents {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.main_menu_holder #cart-module {
    background: none;
}
.babyst-wishlist-counter a .babyst-wish-number {
    left: 28px;
}

.widget_shopping_cart_content li {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #e5e5e5;
}



#content > .inner {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #ffffff;
}

.pagination, .page-links {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 50px;
    border-top: 1px solid #f1f1f1;
    text-align: center;
}

.page-links {
    text-align: left;
    margin-top: 30px;
    padding-top: 30px;
    line-height: 30px;
}

.pagination .links, .page-links {
    margin-bottom: 30px;
}

.pagination .links a, .bbp-pagination-links a, .bbp-pagination-links span {
    display: inline-block;
    background-color: #e1e1e1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    margin-right: 8px;
    text-decoration: none;
    color: #333333;
    border: none !Important;
    border-radius: 50%;
    font-size: 13px;
    position: relative;
}

.page-links a {
    margin: 0 4px !important;
}

.pagination .links .selected, .bbp-pagination-links span.current {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    color: #333333;
    background: #e1e1e1;
}

.pagination .links .selected:before, .pagination .links a:hover:before, .bbp-pagination-links span.current:before, .bbp-pagination-links a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px dashed #e1e1e1;
    border-radius: 50%;
}

.pagination .links .selected:hover, .bbp-pagination-links span.current:hover, .bbp-pagination-links a:hover {
    color: #ffffff !important;
}

.pagination .results {
    padding-top: 3px;
    font-size: 13px;
}

.fixed:after, #comment-nav-above:after, #comment-nav-below:after, 
#main .babyst-share-links:after, 
div.widget_recent_comments ul li:after, 
.wcmp_vendor_rating:after, #yith-wcwl-form tbody td:after, 
.woocommerce-mini-cart__empty-message:after, #babyst-filter-widgets:after, 
.babyst-portfolio-categories:after, .babyst-portfolio-categories ul:after, 
.woocommerce-message:after, ul.product_list_widget li:after, 
ul.products-list li:after, 
.icon_link_item small:after, .babyst_post_data_holder:after, 
.post-unit-holder:after, 
div:not(#footer) > .inner:after, 
p.myaccount_user:after, .col2-set.addresses:after, 
.sidebar > div.widget:after, .wpb_widgetised_column div.widget:after, 
.wpb_widgetised_column div.box:after, .sidebar > div.box:after, #footer:after, 
.wpb_single_image:after, div.woocommerce:after, 
ul.babyst_woo_categories_shop:after, 
div.babyst_woo_categories_shop:after, .upsells.products:after, 
.babyst_shortcode_latest_posts:after, .cross-sells:after, 
.babyst_shortcode_count_holder:after, .babyst_blog_small_image .blog-post:after, 
.babyst_shortcode_latest_posts.babyst_blog_masonry .blog-post:after, 
div.prod_hold .links:after {
    content: " ";
    display: block;
    height: 0px !Important;
    clear: both;
    visibility: hidden;
}


/* END OF BBPRESS STYLES */
#header_top .babyst-social {
    float: right;
}

#header_top .babyst-social ul {
    display: block;
    float: right;
    margin: 0;
    min-height: 30px;
    padding: 0;
    position: relative;
}

#powered .babyst-social ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
}

.babyst-social ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 1099;
    list-style: none !important;
}

#header .babyst-social ul li {
    float: left;
}

.babyst-social ul li a {
    display: block;
    font-size: 14px !important;
    height: 41px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#powered .babyst-social ul li a {
    color: #fff;
    background: none;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 17px !important;
    border: 1px dashed;
    border-radius: 50%;
    margin-right: 2px;
}

.babyst-social ul li a:hover {
    opacity: 0.5;
}

body.babyst_transparent_header #header_top .babyst-social ul li a:hover {
    color: #ffffff !important;
}

#menu_mobile.active {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

a.mob-menu-toggle {
    display: none;
    width: 35px;
    line-height: 77px;
    height: 80px;
    vertical-align: middle;
    font-size: 21px;
    color: #ffffff !important;
    float: right;
    margin: 0 0 0 10px;
    z-index: 10000;
    text-decoration: none !important;
    text-align: center;
}

.babyst_transparent_header a.mob-menu-toggle {
    color: #ffffff;
}

a.mob-menu-toggle i {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative;
    background-color: #81d1e5;
    border-radius: 2em !important;
}

a.mob-menu-toggle:hover i {
    background-color: #333333;
}

a.mob-close-toggle {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #222222;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

a.mob-close-toggle:after, a.mob-close-toggle:before {
    display: block;
    width: 30px !important;
    height: 2px !important;
    font-size: 48px;
    content: " ";
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -15px;
}

a.mob-close-toggle:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu_mobile ul.babyst-mobile-menu-tabs li {
    display: inline-block;
    padding: 0px !important;
    margin: 0px;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a {
    display: block;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0px !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.12);
    color: #ffffff !important;
}

#menu_mobile ul.babyst-mobile-menu-tabs li.ui-state-active a {
    background: rgba(0, 0, 0, 0.07);
}

#menu_mobile ul.babyst-mobile-menu-tabs li:first-of-type {
    width: calc(100% - 150px);
    text-align: center;
}

#menu_mobile ul.babyst-mobile-menu-tabs li:first-of-type a {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-account-tab-link, #menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-wishlist {
    width: 50px;
    overflow: hidden;
    font-size: 0px;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-account-tab-link:before, #menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-wishlist:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 21px !important;
    content: "\f141";
    font-family: "Flaticon" !important;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

#menu_mobile ul.babyst-mobile-menu-tabs li a.babyst-mobile-wishlist:before {
    content: "\f138";
}

#menu_mobile.ui-tabs .ui-tabs-panel {
    margin: 0px;
    padding-right: 38px;
    padding-left: 0px;
    padding-bottom: 150px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

ul#mobile-menu.menu, #babyst_mobile_account_tab ul {
    margin: 0 0 0 3px;
}

ul#mobile-menu.menu ul {
    margin-bottom: 0;
    margin-top: 0;
}

ul#mobile-menu.menu ul.sub-menu {
    margin-left: 8px;
}

ul#mobile-menu.menu li, #babyst_mobile_account_tab li {
    list-style: none !important;
}

ul#mobile-menu.menu li a, #babyst_mobile_account_tab li a {
    display: block;
    padding: 8px 5px 8px 17px;
    color: #e1e1e1;
    text-decoration: none !important;
    position: relative;
}

#babyst_mobile_account_tab li a, #babyst_mobile_account_tab label, #babyst_mobile_account_tab h2, #babyst_mobile_account_tab h3, #babyst_mobile_account_tab .woocommerce-LostPassword a, #babyst_mobile_account_tab div.woocommerce form p, #babyst_mobile_account_tab div.woocommerce form p a {
    color: #e1e1e1;
}

ul#mobile-menu.menu > li > a, #babyst_mobile_account_tab > li > {
    padding: 10px 5px 10px 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    margin-bottom: 15px;
}

ul#mobile-menu.menu > li.menu-item-has-children > ul.sub-menu {
    height: 1px;
    overflow: hidden;
}

ul#mobile-menu.menu > li.menu-item-has-children > ul.sub-menu.active, ul#mobile-menu.menu > li.menu-item-has-children.current_page_item > ul.sub-menu {
    height: auto;
}

ul#mobile-menu.menu > li.menu-item-has-children > a > span.drop-mob {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px !important;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 8px;
    z-index: 1000;
    text-align: center;
    vertical-align: middle !important;
    font-size: 18px;
    font-weight: bold !important;
}

.fix_active #header .con_header .menuopen {
  position: relative;
}
.fix_active #header .con_header .menuopen:before {
  opacity: 1;
}
.fix_active #header .con_header .menuopen img {
  position: relative;
  z-index: 1;
}
.fixmenu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  height: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.fixmenu .fixmenu_inner {
  padding: 0em;
}
.fixmenu .fixmenu_inner ul {
  margin: 0;
  padding: 0;
}
.fixmenu .fixmenu_inner ul li {
  list-style: none;
  display: block;
  padding: 5px 20px;
}
.fixmenu .fixmenu_inner ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.fixmenu .box-hotline {
  color: #d7d7d7;
  padding-top: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1em;
}
.fixmenu .box-hotline p {
  padding: 5px 0;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  height: 100%;
  background: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.fixmenu {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 320px;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  height: 100%;
  background: #333333 !important;
  // overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.fixmenu .fixmenu_inner {
  padding: 2em 0;
}
.fixmenu .fixmenu_inner ul {
  margin: 0;
  padding: 0;
}
.fixmenu .fixmenu_inner ul li {
  list-style: none;
  display: block;
  padding: 5px 25px;
}
.fixmenu .fixmenu_inner ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.fixmenu .fixmenu_inner ul li a:hover {
  color: #f56a6f;
}
.fixmenu .box_login {
  padding: 50px 35px 30px 35px;
}
.fixmenu .box_login a {
  display: block;
  margin-bottom: 20px;
}
.fixmenu .box_login a.btn {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  height: 48px;
  line-height: 46px;
}
.fixmenu .box-hotline {
  color: #d7d7d7;
  padding-top: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1em;
}
.fixmenu .box-hotline p {
  padding: 5px 0;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  height: 100%;
  background: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
body.fix_active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
body.fix_active #header {
  position: absolute;
  z-index: 999;
  width: 100%;
}
body.fix_active.open_menu .fixbtns ul li:not(.btn_menu) {
  opacity: 0;
}
body.fix_active .fixmenu {
  // width: 100%;
  // overflow: auto;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
body.fix_active .overlay {
  width: 100%;
  // overflow: auto;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
#header.babyst-sticksy {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
}
#header.babyst-sticksy #header_top {
    min-height: 0px;
    max-height: 0px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
