.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container-wrap:after, .container-wrap:before, .container:after, .container:before, .container_larger:after, .container_larger:before, .container_wrap:after, .container_wrap:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.vc_row.vc_row-o-equal-height>.vc_column_container {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px){
	.vc_col-sm-6 {
	    width: 50%;
	}
}
.vc_custom_heading, .wpb_text_column.wpb_content_element {
    width: 100%;
    position: relative;
}

.vc_custom_heading {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.vc_custom_heading.babyst-line-accent-text:before {
    display: inline-block;
    width: 50px;
    margin-right: 0.8em;
    content: "";
    height: 1px;
    border-bottom: 1px solid;
    vertical-align: middle;
    position: relative;
}

.vc-zoom-wrapper:hover {
    cursor: pointer;
}

/*only for webkit  browsers*/
@media screen and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) {
    .babyst-fixed-background, .vc_row.vc_row-has-fill.babyst-fixed-background, .babyst_title_holder .babyst-zoomable-background {
        background-attachment: scroll !important;
    }
}

.vc_row.vc_row-fluid.babyst-fixed-background {
    background-position: top center;
    background-size: cover;
}

.vc_row.babyst-point-down[data-vc-full-width] {
    margin-bottom: 0;
    padding-bottom: 99px;
    position: relative;
}

.vc_row.babyst-point-down.vc_parallax[data-vc-full-width] {
    overflow: hidden;
}

.vc_progress_bar.babyst-progress-bar .vc_single_bar .vc_bar {
    border-radius: 2px !important;
    height: 5px !important;
    top: auto !important;
    bottom: -5px !important;
}

.vc_progress_bar.babyst-progress-bar .vc_single_bar .vc_bar:after {
    content: '';
    display: inline-block;
    background-color: inherit;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: -3px;
    border: 2px solid #ffffff;
}

.vc_progress_bar.babyst-progress-bar .vc_single_bar .vc_label {
    display: block;
    padding: 1px !important;
    position: absolute !important;
    z-index: 5 !important;
    left: 0px;
    top: 0px;
    line-height: 6px;
    text-shadow: none !important;
    width: 100%;
}

.vc_progress_bar.babyst-progress-bar .vc_single_bar .vc_label span.vc_label_units {
    float: right;
    display: block;
    padding: 8px;
    position: relative;
    top: -6px;
    border-radius: 3px;
}

.vc_progress_bar.babyst-progress-bar .vc_single_bar {
    height: 35px !important;
    background: none !important;
    margin-bottom: 26px !important;
    border-bottom: 5px solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.vc_pie_chart_back {
    border: 12px solid !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
    opacity: 0.8 !important;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
}

.st-title {
	font-size: 64px;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px !important;
    font-family: 'Hensa-Regular'!important;
    font-weight: normal !important;
    font-style: normal !important;
    @media (max-width: @screen-xs-max) {
    	font-size: 24px !important;
    }
}
.sub-title {
	color: #999999;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.625em;
    text-align: center;
    span {
        text-transform: none;
        font-weight: normal;
    }
}
.babyst-special-pre-title, .special-font{
	font-family: 'Hensa-Regular';
    font-weight: normal !important;
    font-style: normal !important;
}

.header-title {
	margin-bottom: 80px;
	@media (max-width: @screen-xs-max) {
		margin-bottom: 35px;
	}
}
.babyst_title_holder.centered_title .inner .breadcrumb {
    margin: 0 auto 15px auto;
    width: 100%;
    text-align: center;
    float: none;
    display: block;
}
// breadcrumb
.breadcrumb {
    color: #c5c5c5;
    padding: 0;
    font-size: 12px;
    margin-bottom: 15px;
    background: #fff;
    text-transform: uppercase;
}
body.single.single-product .breadcrumb {
    z-index: 10;
    position: relative;
    margin-bottom: 35px;
    font-size: 11px;
}

.breadcrumb a {
    color: #183a5c;
    text-decoration: none;
}

.babyst-breadcrumb-delimiter {
    margin: 0 2px;
}

// style sidebar

.has-sidebar .content_holder {
    width: calc(100% - 320px);
    padding-right: 40px;
}

#main img, .box img, .product image img {
    max-width: 100%;
    height: auto;
}

h4, .babyst-counter-h4, .babyst-typed-h4 {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

h3, .babyst-counter-h3, .babyst-typed-h3, .woocommerce p.cart-empty {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

body, #bbpress-forums .bbp-body div.bbp-reply-content {
    font-family: Quicksand;
    font-size: 18px;
    color: #777777;
}
.form-row {
    display: block;
}
.select2-search--dropdown .select2-search__field, input[type='text'], input[type='tel'], #wcmp_widget_vendor_search input[type="search"], input[type='email'], input[type='password'], input[type='number'], textarea, form.wpcf7-form input[type='text'], form.wpcf7-form textarea, form.wpcf7-form input[type='email'], form.wpcf7-form input[type='password'], form.wpcf7-form input[type='number'], form.wpcf7-form input[type='tel'] {
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #666666;
    background-color: #f6f6f6;
    border: none;
    box-shadow: none;
    border-radius: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 46px !important;
    line-height: 46px !important;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 8px;
}

.select2-container--default .select2-selection--single {
    border-radius: 6px !important;
    border: none !important;
    border: none !important;
    background-color: #f5f5f5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -10px;
}


.modal_full {
    padding: 0;
    .modal-dialog {
        width: 100%!important;
        margin: 0;
        max-width: none;
        height: 100%;
        .modal-content {
            box-shadow: none;
            border-radius: 0;
            height: 100%;
            overflow-y: auto;
            .modal-header {
                border: 0;
                position: relative;
                .close {
                    width: 60px;
                    height: 60px;
                    font-size: 0px;
                    line-height: 60px;
                    background-color: #ffffff;
                    overflow: visible;
                    cursor: pointer;
                    background: transparent;
                    border: 0;
                    -webkit-appearance: none;
                    display: block;
                    outline: none;
                    padding: 0;
                    z-index: 1046;
                    position: absolute;
                    right: 0;
                    top: 0;
                    &:before {
                        display: block;
                        width: 40px;
                        height: 2px;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -1px 0 0 -20px;
                        border-bottom: 1px solid #333333;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &:after {
                        display: block;
                        width: 40px;
                        height: 2px;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -1px 0 0 -20px;
                        border-bottom: 1px solid #333333;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    
                }
            }
        }
        .product_featured {
            padding: 0 50px;
            @media only screen and (max-width: 768px) {
                padding: 0px;
            }
        }
    }
}

#search form {
    display: block;
    position: relative;
    width: 60%;
    margin: 5% auto;
    input[type=text] {
        height: 55px;
        line-height: 55px;
        padding: 0 20px;
    }
}

.list-gallery {
    .row {
        
        .col-12 {
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
        }
    }
}