.con_main {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
    background-image: url(../images/bg_main.jpg) !important;
    min-height: 27.2727vh;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    @media only screen and (max-width: 768px) {
        min-height: 81.5217vh!important;
    }
    .main-title {
        font-size: 100px;
        color: #ffffff;
        line-height: 1;
        text-align: center;
    }
    h4 {
        font-size: 36px;
        color: #ffffff;
        line-height: 1;
        text-align: center;
        font-weight: 700;
        margin-bottom: 35px !important;
    }
    .box_btn {
        .btn {
            margin: 0 3px;
        }
    }
}
.babyst-waveRow {
    padding-bottom: 160px;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.babystWaveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 140px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
    background-image: url('../images/wave-top.png');
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
    background-image: url('../images/wave-mid.png');
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
    background-image: url('../images/wave-bot.png');
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.wpb_babyst_banner.babyst-from-bottom:before, .wpb_babyst_banner.babyst-from-left:before, .wpb_babyst_banner.babyst-from-right:before, .wpb_babyst_banner.babyst-fade:before, .wpb_babyst_banner.babyst-from-bottom:after, .wpb_babyst_banner.babyst-from-left:after, .wpb_babyst_banner.babyst-from-right:after, .wpb_babyst_banner.babyst-fade:after {
    display: none !important;
    animation: none !important;
}

.wpb_babyst_banner a {
    display: block;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}

.wpb_babyst_banner a h4, .wpb_babyst_banner a h5, .wpb_babyst_banner a h6, .babyst_banner_buton {
    color: #ffffff;
}

.wpb_babyst_banner.babyst-banner-dark a h4, .wpb_babyst_banner.babyst-banner-dark a h5, .wpb_babyst_banner.babyst-banner-dark a h6 {
    color: #333333;
}
.wpb_babyst_banner.babyst-banner-dark a h6 {
    color: #888888;
}

.wpb_babyst_banner a span.babyst_banner-icon {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: normal;
    display: block;
    clear: both;
}

.wpb_babyst_banner.babyst_banner_big a span.babyst_banner-icon {
    font-size: 58px;
    margin-bottom: 12px;
    font-weight: normal;
    display: block;
    clear: both;
}

.wpb_babyst_banner a h5 {
    margin-bottom: 2px;
    font-size: 21px;
    word-wrap: break-word;
    max-width: 100%;
    font-weight: bold;
}

.wpb_babyst_banner a h5.babyst-special-pre-title {
    font-size: 60px;
    margin-bottom: 0px;
}

.wpb_babyst_banner a h5.babyst-special-pre-title + h4 {
    margin-top: -20px;
}

.wpb_babyst_banner a h4 {
    margin-bottom: 2px;
    font-size: 27px;
    word-wrap: break-word;
    max-width: 100%;
    font-weight: bold;
}

.wpb_babyst_banner.babyst_banner_big a h4 {
    font-size: 63px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.wpb_babyst_banner a h6 {
    font-size: 15px;
    margin-bottom: 3px;
    text-transform: none;
    line-height: normal;
}

.babyst_banner_buton {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    font-size: 12px;
    padding: 11px 16px;
    margin-top: 15px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: relative;
}

.babyst-banner-dark .babyst_banner_buton {
    background-color: #333333;
    color: #ffffff;
}

.babyst_banner_image img {
    width: 100%;
    vertical-align: text-bottom;
    display: block;
    -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    max-width: 100%;
    height: auto;
}

div.babyst_whole_banner_wrapper:hover .babyst_banner_image img {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.babyst_banner_image {
    z-index: 1;
}

div.babyst_whole_banner_wrapper {
    width: 100%;
}

div.babyst_whole_banner_wrapper:before {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: block;
    content: "";
    border: 2px dashed #ffffff;
    z-index: 2;
    border-radius: 6px;
}

.wpb_babyst_banner.babyst-banner-dark div.babyst_whole_banner_wrapper:before {
    border-color: #333333;
    border-radius: 4px !important;
}

.babyst_banner_text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    overflow: hidden;
}

.babyst_banner_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.babyst_banner_text .babyst_banner_centering {
    display: table;
    width: 100%;
    height: 100%;
}

.babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 30px 32px;
    position: relative;
}

.banner-top-left .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: top;
    text-align: left;
}

.banner-top-center .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: top;
    text-align: center;
}

.banner-top-right .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: top;
    text-align: right;
}

.banner-center-left .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: center;
    text-align: left;
}

.banner-center-right .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: center;
    text-align: right;
}

.banner-bottom-left .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: bottom;
    text-align: left;
}

.banner-bottom-center .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: bottom;
    text-align: center;
}

.banner-bottom-right .babyst_banner_text .babyst_banner_centering .babyst_banner_centered {
    vertical-align: bottom;
    text-align: right;
}

#infscr-loading {
    margin-top: 20px;
}

#infscr-loading img {
    display: none !important;
}

.wpb_babyst_banner {
    position: relative;
    overflow: hidden;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px !important;
    margin-top: 40px;
}

.con_baby_collation {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #f5f5f5 !important;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    h2 {
        font-size: 72px;
        color: #ffffff;
        line-height: 1;
        text-align: center;
        text-shadow: 0px 0px 15px rgba(0,0,0,.12);
        font-family: 'Hensa-Regular' !important;
        font-weight: normal !important;
        font-style: normal !important;
        margin-bottom: 10px !important;
    }
    h6, .babyst-counter-h6, .babyst-typed-h6 {
        color: @brand-primary;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.625em;
        span {
            color: #fff;
            text-transform: none;
            font-weight: normal;
        }
    }
    .bg_collation_left {
        margin-bottom: 0px !important;
        padding-top: 150px !important;
        padding-right: 6% !important;
        padding-bottom: 150px !important;
        padding-left: 6% !important;
        background-image: url(../images/back-dark-blue-section.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        text-align: center;
        color: #fff;
    }
    .bg_collation {
        margin-bottom: 0px !important;
        padding-top: 150px !important;
        padding-right: 6% !important;
        padding-bottom: 150px !important;
        padding-left: 6% !important;
        background-image: url(../images/back-school-kids.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}


.home {
    .con_latest_posts {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
}
.con_latest_posts {
    
    background-color: #ffffff;
    .header-title {
        width: 100%;
    }
    .box_latest_posts {
        .box-item {
            .blog-post {
                border-radius: 4px;
                width: 100%;
                overflow: hidden;
                // background-color: #f8f8f8;
                .post-unit-holder {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    background-color: #f8f8f8;
                    border-radius: 4px;
                    img {
                        transform-style: flat !important;
                        height: auto;
                        display: block;
                        vertical-align: text-bottom;
                        width: 101% !Important;
                        max-width: 101% !Important;
                        height: auto;
                        position: relative;
                        -webkit-transition: all 0.5s ease 0s;
                        transition: all 0.5s ease 0s;
                    }
                }
                .portfolio-unit-info {
                    text-align: center;
                    -webkit-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                    overflow: hidden;
                    z-index: 9000;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    a {
                        line-height: 0px;
                        vertical-align: middle;
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        -webkit-transition: all 0.5s ease 0s;
                        transition: all 0.5s ease 0s;
                        font-size: 1px;
                        color: rgba(0, 0, 0, 0);
                        text-decoration: none !Important;
                        z-index: 31000;
                        // position:relative;
                        &:before {
                            left: 8px;
                            top: 8px;
                            bottom: 8px;
                            right: 8px;
                            position: absolute;
                            display: block;
                            content: "";
                            border: 2px dashed #ffffff;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
    }
    
}

.con_woocommerce_list {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-color: #ffffff !important;
}

.con_newsletter {
    padding-top: 15px !important;
    padding-bottom: 50px !important;
    background-color: #88cada !important;
    overflow: hidden;
    .vc_column-inner {
        padding-top: 35px;
        .wpb_text_column {
            width: 100%;
            position: relative;
            margin-bottom: 0px !important;
            h4, .babyst-counter-h4, .babyst-typed-h4 {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                font-style: normal;
            }
            p {
                color: #fff;
                margin-bottom: 0;
            }
        }
    }
    .babyst_single_field_subscribe {
        position: relative;
        min-height: 55px;
        margin-bottom: 0px;
        .btn {
            position: absolute;
            top: 3px;
            right: 0px;
            z-index: 2;
            height: 50px;
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
        }
    }
    .wpb_content_element form.mc4wp-form .babyst_single_field_subscribe input[type=email] {
        width: 100%;
        height: 56px;
        padding: 18px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        border: none;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: rgba(255,255,255,0.15);
        // border-color: rgba(255,255,255,0.2);
    }
}