div.woocommerce.columns-1, div.woocommerce.columns-2, div.woocommerce.columns-3, div.woocommerce.columns-4, div.woocommerce.columns-5, div.woocommerce.columns-6, div.woocommerce.columns-7, div.woocommerce.columns-8 {
    margin-bottom: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

div.prod_hold {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    margin: 0px;
    padding: 0;
    padding: 15px;
    position: relative;
    top: 0;
    z-index: 444;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transform: scale(1.5, 1.5);
    opacity: 0;
}

div.prod_hold.prod_visible, html.touch div.prod_hold {
    opacity: 1;
    transform: scale(1, 1);
}

@keyframes revealer-text {

    0%, 50% {
        transform-origin: 0 50%;
    }

    60%, 100% {
        transform-origin: 100% 50%;
    }

    50% {
        transform: scaleX(1);
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes revealer-text-light {

    0%, 50% {
        transform-origin: 100% 100%;
    }

    60%, 100% {
        transform-origin: 100% 50%;
    }

    50% {
        transform: scaleX(1);
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

.wpb_babyst_banner {
    position: relative;
    overflow: hidden;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

div.prod_hold:hover {
    z-index: 555;
    background-color: #ffffff;
}

.wpb_babyst_banner:hover {
    z-index: 555;
}

.babyst-product-excerpt {
    display: none;
}

li.product-category, div.product-category {
    width: 25%;
    vertical-align: top;
    display: inline-block;
    margin: 0px;
    padding: 20px;
    position: relative;
    z-index: 444;
    overflow: hidden;
    text-align: center;
    list-style: none !important;
    box-sizing: border-box;
}

.woocommerce.columns-2 div.prod_hold, .woocommerce.columns-2 li.product-category, .woocommerce.columns-2 div.product-category, .cross-sells div.prod_hold {
    width: 50%;
}

.woocommerce.columns-3 div.prod_hold, .woocommerce.columns-3 li.product-category, .woocommerce.columns-3 div.product-category, .dokan-w8 div.prod_hold {
    width: 33.2%;
}

.woocommerce.columns-4 div.prod_hold, .woocommerce.columns-4 li.product-category, .woocommerce.columns-4 div.product-category, .upsells.products div.prod_hold {
    width: 24.8%;

}

.woocommerce.columns-5 div.prod_hold, .woocommerce.columns-5 li.product-category, .woocommerce.columns-5 div.product-category {
    width: 19.9%;
}

.woocommerce.columns-6 div.prod_hold, .woocommerce.columns-6 li.product-category, .woocommerce.columns-6 div.product-category {
    width: 16.6%;
}

.woocommerce.columns-4 div.prod_hold .price_hold, 
.woocommerce.columns-5 div.prod_hold .price_hold {
    font-size: 17px;
    color: @brand-primary;
}

.woocommerce.columns-5 div.prod_hold .name, .woocommerce.columns-6 div.prod_hold .name {
    font-size: 14px;
}

div.prod_hold .image {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

div.prod_hold .image a {
    display: block;
    position: relative;
}

div.prod_hold .image img {
    width: 100%;
    height: auto;
    vertical-align: text-bottom;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    z-index: 2;
}

div.prod_hold.babyst-prodhover-swap .image img:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}

div.prod_hold.babyst-prodhover-swap:hover .image img:nth-of-type(1) {
    opacity: 0;
}

div.prod_hold.babyst-prodhover-swap:hover .image img:nth-of-type(2) {
    opacity: 1;
}
.prod_hold .babyst-list-prod-summary {
    padding: 20px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

div.prod_hold .name {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px !important;
    color: #333333;
    padding: 0;
    overflow: hidden;
}

div.prod_hold a {
    text-decoration: none;
}

a.babyst-quick-view-link {
    text-decoration: none;
    margin: 0px 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    color: #333333;
    font-size: 19px;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff !important;
}

a.babyst-quick-view-link i, .links a.compare i.fa {
    font-family: "Flaticon" !important;
}

a.babyst-quick-view-link i:before {
    content: "\f159" !important;
    font-size: 24px;
}

.links a.compare i:before {
    content: "\f142" !important;
    font-size: 24px;
}

a.babyst-quick-view-link:hover {
    border-color: #333333 !important;
    color: #333333;
}

div.prod_hold a.button, div.prod_hold .links a.button.add_to_cart_button, div.prod_hold .links a.button.add_to_cart_button.ajax_add_to_cart {
    text-decoration: none;
    padding: 0px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px 3px;
    border: none;
    background: none !important;
    box-shadow: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    position: relative;
    z-index: 100;
}

.wishlist_table .links a.button.add_to_cart_button {
    height: auto !important;
    line-height: normal !important;
    font-size: 12px !important;
    border: 2px dashed #ffffff;
}

.wishlist_table, .wishlist_table thead, .wishlist_table thead tr, .wishlist_table th, .wishlist_table td, .wishlist_table tr {
    background: none !important;
    border: none !important;
}

.wishlist_table thead {
    display: none;
}

.wishlist_table tr:nth-child(even) {
    background: #fafafa !important;
}

.wishlist_table, .wishlist_table thead, .wishlist_table thead tr, .wishlist_table th, .wishlist_table td, .wishlist_table tr {
    background: none !important;
    border: none !important;
}
.links a.button.add_to_cart_button:after, 
.links a.button.add_to_cart_button.ajax_add_to_cart:after, 
div.prod_hold a.button.add_to_cart_button:before, 
div.prod_hold .links a.button.product_type_grouped:before, 
div.prod_hold .links a.button.product_type_external:before, 
p.product.woocommerce.add_to_cart_inline + .links a.button.add_to_cart_button.ajax_add_to_cart:before, 
p.product.woocommerce.add_to_cart_inline + .links a.button.product_type_grouped.ajax_add_to_cart:before {
    background-color: #ff8087 !important;
}
.links a.button.add_to_cart_button:after, .links a.button.add_to_cart_button.ajax_add_to_cart:after {
    text-indent: 0 !important;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
    border-radius: 50%;
    display: block;
    font-family: "Flaticon";
    content: "\f14a";
    color: #ffffff !important;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    z-index: 120;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff8087 !important;
}
.links a.button.add_to_cart_button {
    overflow: hidden;
}

.wishlist_table .links a.button.add_to_cart_button:after {
    content: "";
    display: none;
}

.wishlist_table .links a.button.add_to_cart_button:before {
    text-indent: 0 !important;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
    border-radius: 50%;
    font-family: 'feather' !important;
    content: "\e8ba";
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    z-index: 120;
    position: relative;
    display: none;
    top: auto;
    left: auto;
}

.links a.button.add_to_cart_button.loading:before, .links a.button.add_to_cart_button.ajax_add_to_cart.loading:before {
    opacity: 0;
}

.links a.button.add_to_cart_button.loading:after, .links a.button.add_to_cart_button.ajax_add_to_cart.loading:after {
    opacity: 1;
}

.wishlist_table .links a.button.add_to_cart_button.loading:before {
    opacity: 1;
    display: inline-block;
}

.links a.button.add_to_cart_button i.fa {
    font-size: 16px;
}

.links .added_to_cart.wc-forward {
    display: none !important;
}

.links a.add_to_wishlist, .links a.compare {
    margin: 0 !important;
    display: inline-block;
    border: none !important;
    border-radius: 0 !Important;
    overflow: hidden;
    z-index: 200;
    text-decoration: none;
    background: none !important;
}

.links a.compare.button, .links a.add_to_wishlist.button, .links a.add_to_wishlist {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0px;
    font-size: 24px;
    vertical-align: middle;
    line-height: 40px !important;
    color: #333333;
    border-radius: 50% !important;
    background: #ffffff !important;
}

.links a.add_to_wishlist.button {
    background: none !important;
    box-shadow: none;
}

.links a.compare.button:hover, .links a.add_to_wishlist.button:hover:before, .links a.add_to_wishlist:hover:before {
    color: #333333;
}

.links a.add_to_wishlist.button:hover, .links a.add_to_wishlist:hover, .links a.compare.button:hover {
    color: #333333;
}

.links a.compare i.fa, .links a.add_to_wishlist.button i.fa, .links a.add_to_wishlist i.fa {
    line-height: 25px !important;
}

.links a.add_to_wishlist.button, .links a.add_to_wishlist, .links a.compare.button:hover {
    overflow: hidden;
}

.links .yith-wcwl-add-to-wishlist #add-items-ajax-loading {
    display: none !important;
}

.links .yith-wcwl-wishlistexistsbrowse.show, .links .yith-wcwl-wishlistaddedbrowse.show {
    display: none !important;
}

.links a.add_to_wishlist.button:before, .links a.add_to_wishlist:before {
    font-family: "Flaticon" !important;
    content: "\f138";
}

.links a.compare.added {
    font-size: 0px !important;
    width: 32px !important;
    height: 32px !important;
}

.links a.compare.added:before {
    font-size: 19px !important;
    content: "\e90a" !important;
    font-family: 'feather' !important;
}

div.prod_hold a.compare.added {
    text-transform: none;
    width: auto;
    padding: 0 4px;
    font-size: 11px;
}


div.prod_hold .links a.button.add_to_cart_button, div.prod_hold .links a.button.product_type_grouped, div.prod_hold .links a.button.product_type_external {
    text-indent: -999px;
    font-size: 0px;
    margin-right: 3px;
}
div.prod_hold .links {
    z-index: 6999;
    padding: 20px;
    botder-right: 20px;
    border-left: 20px;
    border-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 15px;
    right: 15px;
    top: calc(100% - 170px);
    opacity: 0;
}

div.prod_hold:hover .links, div.prod_hold.babyst-visible-buttons .links, html.touch .links {
    top: calc(100% - 190px);
    opacity: 1;
}

div.prod_hold .links a, .links .yith-wcwl-add-to-wishlist, .links a.button.add_to_cart_button {
    float: none !Important;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-weight: normal;
}

div.prod_hold .links a.button.add_to_cart_button, div.prod_hold .links a.button.product_type_grouped, div.prod_hold .links a.button.product_type_external {
    text-indent: -999px;
    font-size: 0px;
    margin-right: 3px;
}

div.prod_hold .links a.button.add_to_cart_button:before, div.prod_hold .links a.button.product_type_grouped:before, div.prod_hold .links a.button.product_type_external:before {
    text-indent: 0px !important;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    border-radius: 50%;
    display: block;
    font-family: "Flaticon" !important;
    content: "\f119";
    color: #ffffff !important;
}

p.product.woocommerce.add_to_cart_inline {
    border: none !important;
    text-align: center;
    font-size: 21px;
    padding: 0 10px !important;
}

p.product.woocommerce.add_to_cart_inline + .links {
    text-align: center;
}

p.product.woocommerce.add_to_cart_inline + .links a.button.add_to_cart_button.ajax_add_to_cart {
    font-size: 12.5px;
}

.links .wish_small, .links .woo_bt_compare_this, .links .small_cart {
    display: block;
    color: #f8f8f8;
    padding: 0px;
    background-color: #cecece;
    margin: 5px auto;
    clear: left;
    width: 30px;
    height: 30px;
}

div.prod_hold .new_prod {
    z-index: 12000;
}

div.prod_hold.sale .new_prod {
    left: 66px;
}

.links .wish_small, .links .woo_bt_compare_this {
    text-indent: -9999px;
}

.links .small_cart {
    background-color: #333333;
    width: 126px;
    height: 14px;
    padding: 8px 4px;
    font-size: 12px;
    line-height: 12px;
}

.links .small_cart:hover {
    background-color: #ff5a00;
}

.prod_hold .price_hold {
    clear: both;
    padding: 0px 0px 5px 0;
    font-size: 17px;
    position: relative;
    font-weight: 500;
}

.prod_hold .from, .prod_hold del, p.product.woocommerce.add_to_cart_inline .from, p.product.woocommerce.add_to_cart_inline del {
    font-weight: normal !important;
}

p.product.woocommerce.add_to_cart_inline .from, p.product.woocommerce.add_to_cart_inline del {
    font-size: 16px;
}

.prod_hold ins span, .prod_hold ins, p.product.woocommerce.add_to_cart_inline ins span, p.product.woocommerce.add_to_cart_inline ins {
    text-decoration: none !important;
    background: none;
}

.prod_hold .price_hold, p.product.woocommerce.add_to_cart_inline {
    color: #333333;
}

.prod_hold .price_hold del, p.product.woocommerce.add_to_cart_inline del {
    color: #999999;
}
.yith-wcwl-add-to-wishlist {
    margin-top: 0;
}

.summary.entry-summary > div.clear {
    display: none;
}

.summary.entry-summary .yith-wcwl-add-to-wishlist, .summary.entry-summary .compare {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    width: 48% !important;
    text-align: right;
    line-height: 1;
    vertical-align: middle;
    text-transform: none !important;
    color: #333333;
    text-decoration: none;
    background: none !important;
    box-shadow: none !important;
    vertical-align: middle;
    font-size: 13px;
    position: relative;
}

.summary.entry-summary .yith-wcwl-add-to-wishlist {
    text-align: left;
    display: inline-block;
    width: 47px !important;
    height: 47px !important;
    overflow: hidden;
    vertical-align: top;
}

.summary.entry-summary .yith-wcwl-add-to-wishlist .feedback {display: none}

.summary.entry-summary .variations_form + .yith-wcwl-add-to-wishlist, .summary.entry-summary form.grouped_form + .yith-wcwl-add-to-wishlist {
    width: 100% !important;
    font-size: 13px;
}
.summary.entry-summary .variations_form + .yith-wcwl-add-to-wishlist .feedback, .summary.entry-summary form.grouped_form + .yith-wcwl-add-to-wishlist .feedback {
    display: inline;
}
.summary.entry-summary .variations_form + .yith-wcwl-add-to-wishlist a, .summary.entry-summary form.grouped_form + .yith-wcwl-add-to-wishlist a {
    font-size: 13px;
}

.summary.entry-summary .compare a {
    color: #333333;
    padding-right: 5px;
}

.summary.entry-summary .yith-wcwl-add-to-wishlist a {
    margin: 0;
    padding: 0;
    background: none !important;
    box-shadow: none !important;
    border-radius: 0;
    text-transform: none;
    color: #333333;
    font-size: 0px;
    text-align: center;
    line-height: 47px;
    text-decoration: none;
    vertical-align: middle;
    width: 47px;
    height: 47px;
}

.summary.entry-summary .yith-wcwl-add-to-wishlist a:before {
    display: inline-block;
    font-size: 28px !important;
    content: "\f138";
    font-family: "Flaticon" !important;
    font-weight: normal !important;
    vertical-align: middle;
    position: relative;
    line-height: 47px;
    text-decoration: none;
    width: 47px;
    height: 47px;
    text-align: center;
}

.upsells.products {
    margin-bottom: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: flex-start;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
}


// style widgets

/* PRODUCT LISTING STYLES ----*/

ul.product_list_widget, ul.products-list {
    padding: 0;
    list-style: none !important;
    text-align: left;
}

ul.cart_list.product_list_widget {
    margin: 0px;
}

ul.product_list_widget li, ul.products-list li {
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e8e8e8;
    line-height: normal;
}

.yith-woocompare-widget ul.products-list li {
    padding-bottom: 10px;
}

ul.product_list_widget li {
    font-size: 13px;
    text-decoration: none;
}

ul.product_list_widget li a {
    display: block;
    font-size: 14px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #333333;
}

ul.product_list_widget li a .product-title {
    font-weight: 500;
}

ul.product_list_widget li span.quantity {
    font-size: 13px;
}

ul.product_list_widget li a img {
    float: left;
    margin: 0 10px 0px 0;
    height: auto;
    width: 60px;
}

.widget_shopping_cart_content ul.product_list_widget li img {
    float: left;
    margin: 0 10px 0px 0;
    width: 60px;
    height: auto;
}

.widget_layered_nav ul, .widget_product_categories ul {
    list-style: none !important;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.widget_product_categories ul li ul.children {
    padding-left: 16px;
    margin-top: 0;
}

.widget_product_categories ul li ul.children a {
    color: #777777;
}

.widget_layered_nav ul li, .widget_product_categories ul li {
    position: relative;
}

.widget_layered_nav ul li {
    margin-left: 0px;
    padding: 0px;
}
.widget_layered_nav ul li a {
    padding: 5px 0 !important;
}

.widget_layered_nav ul li .count, .widget_product_categories ul li .count {
    color: #666666;
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 8px;
    border-radius: 2em;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    padding: 2px 8px;
}

.widget_product_categories ul li.current-cat > .count, .widget_product_categories ul li.current-cat:hover > .count, .widget_layered_nav ul li.chosen .count, .widget_layered_nav ul li.chosen:hover .count {
    color: #ffffff;
}

.widget_layered_nav ul li a, .widget_product_categories ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: #333333;
    width: 100%;
    padding: 8px 0px;
    font-weight: 500;
}

.widget_layered_nav ul li a:before, .widget_product_categories ul li a:before {
    display: inline-block;
    content: "-";
    margin-right: 8px;
    color: #e1e1e1;
    border-radius: 50%;
}

.widget_layered_nav ul li.current-cat.cat-parent > a, .widget_product_categories ul li.current-cat.cat-parent > a, .widget_product_categories ul li.current-cat-parent > a, .widget_product_categories ul li.current-cat > a, .widget_layered_nav ul li.chosen a {
    font-weight: bold;
}

.widget_product_categories ul li.current-cat a, .widget_product_categories ul li.current-cat-parent a, .widget_layered_nav ul li a:hover, .widget_product_categories ul li a:hover, .widget_layered_nav ul li.chosen a {
    color: #999999 !important;
}

.widget_layered_nav ul li small {
    float: right;
    display: block;
    width: 25px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
    background-color: #f5f5f5;
    border-radius: 2px;
    margin-top: 2px;
}

// style category 

.babyst_woo_categories_shop {
    overflow: hidden;
    height: auto;
    margin: 0 0 80px 0;
    padding: 0;
    list-style: none;
    width: 100%;
    clear: both;
    text-align: center;
    
    div.product-category {
        width: 25%;
        vertical-align: top;
        display: inline-block;
        margin: 0px;
        padding: 20px;
        position: relative;
        z-index: 444;
        overflow: hidden;
        text-align: center;
        list-style: none !important;
        box-sizing: border-box;
    }

    div.product-category {
        margin-bottom: 0px;
        padding: 0 20px;
    }

    div.product-category > a {
        overflow: hidden;
        position: relative;
        text-decoration: none;
        display: block;
        color: #333333;
        overflow: hidden;
        position: relative;
        top: 0px;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        border-radius: 4px;
    }

    div.product-category {
        // width: 100% !important;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }
    div.product-category.product a:before {
        left: 8px;
        top: 8px;
        bottom: 8px;
        right: 8px;
        position: absolute;
        display: block;
        content: "";
        border: 2px dashed #ffffff;
        border-radius: 6px;
        z-index: 2;
    }
    li.product-category.product img, div.product-category.product img {
        width: 100%;
        height: auto;
        margin: 0;
        vertical-align: text-bottom;
        display: block;
        -webkit-transition: all 0.8s ease 0s;
        transition: all 0.8s ease 0s;
        position: relative;
        z-index: 1;
        max-width: 100%;
    }
    li.product-category.product h2, div.product-category.product h2 {
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 0;
        z-index: 2;
        display: block;
        text-align: left;
        padding: 20px;
        font-weight: normal;
        position: absolute;
        bottom: 10px;
        border-radius: 0 4px 4px 0;
        font-weight: bold;
        background: none;
        color: #ffffff;
        left: 10px;
        text-shadow: 0px 0px 6px rgba(0,0,0,.2);
        font-family: Quicksand;
        span {
            font-family: 'Hensa-Regular' !important;
            font-weight: normal !important;
            font-style: normal !important;
            font-size: 40px;
            display: block;
            text-transform: none;
            line-height: normal;
    
        }
    }

    li.product-category.product h2 mark, div.product-category.product h2 mark {
        background: none !important;
        color: #999999;
        font-size: 80%;
        height: 0;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        bottom: 1.15ex;
        padding: 0px !important;
    }
    
}

.slick-arrow {
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    background-color: #81d1e5;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -30px;
    text-align: center;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0.85;
    border-radius: 50%;
    z-index: 999;
    &.slick-next {
        right: 5px;
        left: auto;
    }
    &:before {
        display: block;
        content: "";
        position: absolute;
        z-index: 0;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: none;
        border: 2px dashed #81d1e5;
        border-radius: 4px;
        border-radius: 50%;
    }
}
// style filter
.box-sort-filter .price_slider_amount {
    margin-bottom: 20px;
}

.box-sort-filter .ui-slider-horizontal .ui-slider-handle:hover, .widget_price_filter .ui-slider-handle.ui-state-default.ui-corner-all:hover {
    background: #333333 !important;
}
/* JQUERY UI SLIDER FIX */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    background-color: #81d1e5 !important;
    border-radius: 50%;
    top: -5px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal {
    height: .8em;
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after, .woocommerce #customer_login.u-columns.col2-set .owl-nav:after, .woocommerce #customer_login.u-columns.col2-set .owl-nav:before {
    content: "";
    display: table;
}
.ui-helper-clearfix::after, .woocommerce #customer_login.u-columns.col2-set .owl-nav:after {
    clear: both;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom: 0;
    padding: 0;
    white-space: nowrap;
}
/* NICE SELECT STYLES */

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #f5f5f5;
    border: none;
    color: #666666;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    height: 37px;
    line-height: 35px;
    outline: none;
    padding-left: 15px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.widget .nice-select, .shipping-calculator-form .nice-select, 
.shipping-calculator-form input, .shipping-calculator-form button {
    width: 100%;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

// .nice-select:after {
//     display: block;
//     width: 20px;
//     height: 20px;
//     line-height: 20px;
//     vertical-align: middle;
//     text-align: center;
//     font-size: 14px;
//     content: "\f0dc";
//     font-family: 'Font Awesome 5 Free';
//     font-weight: 900;
//     position: absolute;
//     right: 5px;
//     top: 50%;
//     margin-top: -9px;
//     z-index: 50;
//     color: #333333;
//     pointer-events: none;
// }

// .nice-select.open:after {
//     -webkit-transform: rotate(-135deg);
//     transform: rotate(-135deg);
// }

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    margin-left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 999;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    color: #999999;
    margin-left: 0;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    display: block;
    margin-bottom: 0;
    outline: none;
    padding-left: 15px;
    padding-right: 29px;
    padding-bottom: 0px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6;
    color: #333333;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.box-sort-filter {
    margin-bottom: 80px;
    @media only screen and (min-width: 380px) and (max-width: 599px) {
        margin-bottom: 30px;
    }
    .product-filter-header {
        display: block;
        clear: both;
        #babyst_price_range {
            font-size: 15px;
            padding: 3px;
            position: relative;
            margin-left: 4px;
        }
    }
    .product-filter {
        margin: 10px 0 50px 0;
        position: relative;
        padding: 15px 20px;
        border-radius: 3px;
        a.babyst-filter-widgets-triger {
            display: block;
            text-decoration: none;
            width: auto;
            height: 68px;
            line-height: 68px;
            vertical-align: bottom;
            text-align: center;
            z-index: 100;
            overflow: hidden;
            float: right;
            padding-top: 15px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            color: #333333;
            i {
                color: #cacaca;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                font-size: 16px;
            }
        }

        // a.babyst-filter-widgets-triger:before {
        //     display: inline-block;
        //     content: "\f1de";
        //     font-family: 'FontAwesome';
        //     font-size: 19px;
        //     font-weight: normal !important;
        //     color: #cacaca;
        //     width: 40px;
        //     height: 68px;
        //     line-height: 67px;
        //     vertical-align: bottom;
        //     text-align: center;
        //     margin: 0 0 0 7px;
        //     -webkit-transform: rotate(90deg);
        //     transform: rotate(90deg);
        // }


    }
    .babyst-filter-widgets-holder {
        display: block;
        clear: both;
    }
    .product-filter {
        margin: 10px 0 50px 0;
        position: relative;
        padding: 15px 20px;
        border-radius: 3px;
    }

    .product-filter p.woocommerce-result-count {
        position: absolute;
    }

    .product-filter .sort {
        float: right;
        color: #333333;
        margin-top: 30px;
        font-size: 12px;
        position: relative;
        display: flex ;
        flex-direction: row ;
        flex-wrap: wrap ;
        justify-content: flex-start ;
        align-items: center ;
        align-content: center ;
    }

    .product-filter .limit {
        position: relative;
        margin-left: 15px;
        float: right;
        color: #333333;
        margin-top: 30px;
        font-size: 12px;
        display: flex ;
        flex-direction: row ;
        flex-wrap: wrap ;
        justify-content: flex-start ;
        align-items: center ;
        align-content: center ;
    }

    .product-filter .sort .nice-select, .product-filter .limit .nice-select {
        background-color: #ffffff; 
        border: 0;
    }

    .product-filter .limit b, .product-filter .sort b {
        text-transform: uppercase;
        margin-right: 4px;
        font-size: 12px;
    }

    .product-filter .price_label {
        font-size: 13px;
        font-weight: bold;
    }

    #price-filter {
        width: 30%;
        font-size: 13px;
        color: #333333;
        float: left;
    }

    #price-filter .ui-widget-content, .widget_price_filter .ui-widget-content {
        background: #e1e1e1 !important;
        height: 4px;
    }

    #price-filter .ui-slider-horizontal .ui-slider-range {
        background: #e1e1e1 !important;
    }
    form.woocommerce-ordering {
        display: inline-block;
        float: right;
        select {
            border: 0;
            background: transparent;
        }
    }
    #babyst-filter-widgets .widget > h3:first-child {
        text-transform: uppercase;
        margin-right: 4px;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        margin-bottom: 30px;
        position: relative;
    }
    #babyst-filter-widgets {
        padding: 25px;
        margin-top: 20px;
        display: block;
        background-color: #f8f8f8;
        border-radius: 3px;
        .box {
            clear: none;
            margin-bottom: 5px;
            width: 22%;
            float: left;
            margin-right: 3%;
            position: relative;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }

        }
        .babyst-wcs-swatches {
            overflow: hidden;
            padding: 5px;
        }

        .babyst-wcs-swatches .swatch {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-right: 15px;
            cursor: pointer;
            border: 1px solid transparent;
            position: relative;
            opacity: 0.5;
        }

        .babyst-wcs-swatches .swatch.selected {
            -webkit-box-shadow: 0 0 7px;
            -moz-box-shadow: 0 0 7px;
            box-shadow: 0 0 7px;
            border-color: #999;
            opacity: 1;
        }

        .babyst-wcs-swatches .swatch.disabled {
            opacity: 0.1;
        }

        .babyst-wcs-swatches .swatch-color {
            text-indent: -9999px;
        }

        .babyst-wcs-swatches .swatch-color.selected {
            border-color: transparent;
        }

        .babyst-wcs-swatches .swatch-color.selected:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            width: 6px;
            height: 10px;
            display: block;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            position: absolute;
            top: 8px;
            left: 11px;
        }

        .babyst-wcs-swatches .swatch-label {
            background-color: #f1f1f1;
            font-size: 13px;
        }

        .babyst-wcs-swatches .swatch-image {
            overflow: hidden;
        }
        .widget_layered_nav ul li, .widget_product_categories ul li {
            position: relative;
        }

        .widget_layered_nav ul li {
            margin-left: 0px;
            padding: 0px;
        }
        .widget_layered_nav ul li a {
            padding: 5px 0 !important;
        }

        .widget_layered_nav ul li .count, .widget_product_categories ul li .count {
            color: #666666;
            font-size: 11px;
            position: absolute;
            top: 5px;
            right: 8px;
            border-radius: 2em;
            background-color: #f1f1f1;
            border: 1px solid #f1f1f1;
            padding: 2px 8px;
        }
        .is-babyst-video .mfp-iframe-scaler iframe {
            box-shadow: none !important;
        }

        div.product .cart div.babyst-wcs-swatches {
            float: none;
        }

        .babyst-product-summary-wrapper div.summary .babyst-wcs-swatches {
            overflow: hidden;
            padding: 0 !important;
            width: auto;
            display: inline-block;
            vertical-align: middle;
            clear: left;
        }
        .babyst-wcs-swatches {
            a {
                position: relative;
                display: inline-block;
            }
        }
        .babyst-wcs-swatches .swatch {
            overflow: hidden;
            border-radius: 50%;
            margin: 0 8px 8px 0 !important;
            border: none !important;
            opacity: 1 !important;
        }

        .babyst-wcs-swatches .swatch-color[style*="background-color:#ffffff"] {
            border: 1px solid #e1e1e1 !important;
        }

        .babyst-wcs-swatches .swatch.swatch-label {
            width: auto;
            font-size: 13px;
            padding: 0 10px;
            border: none !important;
            color: #333333;
            border-radius: 0px;
            height: 30px;
            line-height: 30px;
            background-color: #fff;
            opacity: 1;
            border-radius: 2em !important;
            position: relative;
        }

        .babyst-filter-widgets-holder .babyst-wcs-swatches .swatch.swatch-label {
            background-color: #ffffff;
        }

        .babyst-wcs-swatches .swatch.swatch-label.selected, .babyst-wcs-swatches .swatch.swatch-label:hover {
            color: #ffffff;
        }

        .babyst-wcs-swatches .swatch.selected, .babyst-wcs-swatches .swatch:hover {
            box-shadow: none !important;
            opacity: 1;
        }
        .babyst-wcs-swatches a span.count {
            position: absolute;
            color: #333333;
            background-color: #e8e8e8;
            top: -5px;
            right: 1px;
            display: block;
            font-size: 10px !important;
            line-height: 18px !important;
            font-weight: normal !important;
            white-space: nowrap;
            height: 17px;
            min-width: 18px;
            border-radius: 2em;
            text-align: center;
            vertical-align: middle;
        }
    }
}

.box-sort-filter h2.heading-title {
    display: none;
}


// style product details

div.product div.images, #content div.product div.images {
    display: inline-block;
    margin-bottom: 80px;
    width: 50%;
    vertical-align: top;
    position: relative;
    float: left;
}

div.product div.images #wrap, #content div.product div.images #wrap {
    float: left;
}

.woocommerce-product-gallery__image {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.babyst-mosaic-gallery .woocommerce-product-gallery__image {
    display: inline-block;
    width: 49%;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    margin-bottom: 0px;
}
.babyst-mosaic-gallery .woocommerce-product-gallery__image:nth-child(3), .babyst-mosaic-gallery .woocommerce-product-gallery__image:nth-child(4), .babyst-mosaic-gallery .woocommerce-product-gallery__image:nth-child(5) {
    width: 32.7%;
}

.babyst-product-summary-wrapper div.summary {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 80px;
    width: 50%;
    padding-left: 80px;
    position: relative;
    z-index: 3;
    float: left;
}

.babyst-product-summary-wrapper div.summary {
    max-width: 600px;
    padding-right: 80px;
}

body.babyst-sticky-summary {
    overflow: visible;
}

.babyst-product-summary-wrapper div.summary.babyst-sticky-summary, .portfolio_top div.one_third.last.project-data.babyst-sticky-summary {
    position: sticky;
    top: 160px;
}
body.single-post #comments > #respond.comment-respond.babyst-sticky-comments {
    position: sticky;
    top: 160px;
}

body.admin-bar .babyst-product-summary-wrapper div.summary.babyst-sticky-summary, body.admin-bar .portfolio_top div.one_third.last.project-data.babyst-sticky-summary {
    top: 171px;
}

.babyst-product-summary-wrapper div.babyst-share-links {
    width: 30px;
    position: absolute;
    top: 100px;
    right: 6px;
    text-align: center;
    z-index: 1000;
}

.babyst-product-summary-wrapper div.babyst-share-links span {
    writing-mode: tb;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
    color: #333333;
}

.babyst-share-links a {
    display: inline-block;
    color: #999999;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.babyst-product-summary-wrapper div.babyst-share-links a {
    margin-bottom: 5px;
}

.babyst-share-links a:before {
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 21px;
    font-family: 'Font Awesome 5 Brands';
    font-weight: 900;
    content: "\f082";
}

.babyst-share-links a.babyst-share-twitter:before {
    content: "\f081";
}

.babyst-share-links a.babyst-share-pinterest:before {
    content: "\f0d3";
}

.babyst-share-links a.babyst-share-google-plus:before {
    content: "\f0d4";
}

.babyst-share-links a.babyst-share-linkedin:before {
    content: "\f08c";
}

.babyst-share-links a.babyst-share-vkontakte:before {
    content: "\f189";
}

.babyst-share-links a:hover {
    color: #3a5795;
}

.babyst-share-links a.babyst-share-twitter:hover {
    color: #55acee;
}

.babyst-share-links a.babyst-share-pinterest:hover {
    color: #e3262e;
}

.babyst-share-links a.babyst-share-google-plus:hover {
    color: #dd4b39;
}

.babyst-share-links a.babyst-share-linkedin:hover {
    color: #008cc9;
}

.babyst-share-links a.babyst-share-vkontakte:hover {
    color: #3a5795;
}

div.product p.price, div.product .woocommerce-product-details__short-description, div.product .cart, div.product .review, div.product .options {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.product .variations_form, div.product form.cart {
    margin-bottom: 20px;
    display: inline-block;
    width: auto;
}

div.product .variations_form, div.product .variations_form.cart, div.product form.grouped_form {
    width: 100%;
}
.babyst-separator {
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
}
div.product p.price {
    margin: 10px 10px 10px 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    float: left;
    clear: left;
}
.babyst-product-popup-link, p.stock {
    margin: 15px 3px 0px 0;
    padding: 0px 15px;
    background-color: #f5f5f5;
    border-radius: 2em;
    display: inline-block;
    text-align: left;
    clear: left;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
    font-size: 13px;
    float: left;
    clear: left;
}
.summary.entry-summary p.stock {
    border: 1px solid #edf5db;
    clear: none;
}
p.stock.out-of-stock {
    color: #9d8967;
    background-color: #fdf4e3;
    border-color: #f4ecdc;
}
p.stock.in-stock {
    color: #849565;
    background-color: #f5fde3;
}

div.product .woocommerce-product-details__short-description {
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #666666;
}
div.product .woocommerce-product-details__short-description p {
    margin: 0 0 10px 0;
}


div.product .variations_form h3 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

div.product .cart div.quantity {
    display: inline-block;
    border-radius: 2em !important;
}

div.product .cart div.quantity.hidden {
    display: none;
}

div.product .cart div.quantity label.screen-reader-text {
    display: none;
}

div.product .price {
    font-size: 16px;
    color: #333333 !important;
}

div.product div.single_variation_wrap {
    width: 100%;
}

div.product div.single_variation {
    font-size: 13px;
    float: none !important;
    clear: both !important;
    margin-bottom: 25px;
}

div.product div.single_variation p {
    margin: 0 0 0.85em 0;
}

div.product div.single_variation > div {
    width: 100%;
}

div.product div.single_variation > div.woocommerce-variation-price + div.woocommerce-variation-availability {
    margin-top: 20px;
}

div.product div.single_variation > div:after, div.product div.single_variation:after {
    content: " ";
    display: block;
    height: 0px !Important;
    clear: both;
    visibility: hidden;
}

.reset_variations {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999999;
    margin-left: 5px;
}

div.product .price span {
    display: inline-block;
}

div.product div.summary table .price span {
    margin-bottom: 0px;
}

div.product .price span.amount {
    font-size: 30px;
    font-weight: 500;
}

div.product .group_table .price span.amount {
    font-size: 16px;
}

div.product .group_table p.stock {
    font-size: 12px;
    margin: -2px 0 0 4px;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
}

div.product .group_table, div.product .group_table td, div.product .group_table p.stock {
    border: none;
}

div.product .group_table td:first-of-type {
    width: 45px;
}

div.product .price del > span {
    text-decoration: line-through;
    margin: 0 5px 0 0;
    font-size: 18px !important;
    color: #cecece;
}

div.product div.single_variation .price {
    margin: 0 !important;
    display: block;
    font-size: 21px !important;
}

div.product div.single_variation .price span.amount {
    margin: 0 !important;
}

div.product input.qty {
    display: block;
    width: 46px !important;
    height: 46px;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none !important;
    background: none;
    box-shadow: none;
    line-height: 46px;
    vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.quantity {
    height: 47px;
    position: relative;
    margin-right: 3px;
    padding: 0;
    background-color: #f5f5f5;
    vertical-align: top;
}

.woocommerce-grouped-product-list-item__quantity div.quantity {
    padding: 0px;
}

.woocommerce-grouped-product-list.group_table td {
    padding: 5px;
}
.woocommerce-grouped-product-list.group_table td.woocommerce-grouped-product-list-item__price {
    text-align: right;
}

div.quantity input.babyst-qty-plus, div.quantity input.babyst-qty-minus {
    display: none;
}

td div.quantity input.babyst-qty-plus, td div.quantity input.babyst-qty-minus {
    display: none !important;
}

div.quantity input.babyst-qty-minus {
    left: 8px;
    right: auto;
}
.summary.entry-summary button.single_add_to_cart_button {
    min-width: 190px;
}
.summary.entry-summary .quantity.hidden + button.single_add_to_cart_button {
    min-width: 240px;
}
button.single_add_to_cart_button, div.product a.single_add_to_cart_button, .wishlist_table .add_to_cart.button {
    height: 43px;
    text-align: center;
    line-height: normal;
    vertical-align: top;
    padding: 12px 40px;
}

.wishlist_table .add_to_cart.button {
    border-radius: 0 !important;
    width: 100%;
}

div.product .cart.grouped_form .single_add_to_cart_button, div.product.product-type-external .single_add_to_cart_button {
    width: 100%;
}


button.single_add_to_cart_button:disabled, button.single_add_to_cart_button:disabled:hover {
    background-color: #e1e1e1;
    color: #333333;
    opacity: 0.5;
    cursor: not-allowed;
}

.apple-pay-button, .apple-pay-button-checkout-separator, .apple-pay-button-wrapper {
    display: none;
}

div.product .cart a.added_to_cart.wc-forward {
    display: none !important;
}

div.product .price-old {
    color: #999999;
    margin: 0 5px 0 1px;
    padding: 4px 0;
    text-decoration: line-through;
    font-size: 16px;
    font-weight: normal;
}

div.product .option {
    margin-bottom: 10px;
    font-family: 12px;
}

div.product .option span, div.product .woocommerce-product-details__short-description span {
    width: 100%;
    display: block;
    margin-bottom: 8px;
}
.box-write .buttons {
    margin-bottom: 8px;
}

.tagcloud {
    margin: 20px 0 0 0;
    text-align: left;
    font-size: 13px;
}

.tagcloud span:not(.sku) {
    font-weight: normal;
    font-size: 13px;
    color: #333333;
}

.tagcloud span.sku {
    font-weight: normal;
}

.tagcloud span {
    display: inline-block;
    padding: 4px 4px 0px 4px;
}

.tagcloud a {
    display: inline-block;
    padding: 1px 4px;
    background-color: #f5f5f5;
    border: 1px solid #f1f1f1;
    text-decoration: none;
    margin: 3px;
    font-size: 11px;
    color: #999999;
    border-radius: 2em;
}

.tagcloud a:hover {
    background-color: #ffffff;
    border: 1px solid #f9f9f9;
    color: #333333;
}
.upsells.products h2 {
    display: inline-block;
    width: 25%;
    margin: 0px;
    padding: 20px 0;
    font-size: 25px !important;
    text-transform: none;
}
.upsells.products h2:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 51px;
    background: url(../images/related-arrow.png) center center no-repeat;
    margin-top: 10px;
}

.box_products_related {
    .slick-arrow {
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
        background-color: #81d1e5;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 5px;
        margin-top: -30px;
        text-align: center;
        padding: 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        opacity: 0.85;
        border-radius: 50%;
        z-index: 999;
        &.slick-next {
            right: 5px;
            left: auto;
        }
        &:before {
            display: block;
            content: "";
            position: absolute;
            z-index: 0;
            top: -5px;
            bottom: -5px;
            left: -5px;
            right: -5px;
            background: none;
            border: 2px dashed #81d1e5;
            border-radius: 4px;
            border-radius: 50%;
        }
    }
}

.vc_tta-tab {
    font-size: 14px;
    font-weight: 400;
}

ul.tabs {
    line-height: 16px;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0 0 25px 0 !important;
}

body.single-product #products-wrapper .woocommerce-tabs.wc-tabs-wrapper {
    padding-bottom: 30px;
    padding-top: 60px;
    margin-bottom: 80px;
}

body.single-product #content:not(.has-sidebar) #products-wrapper .woocommerce-tabs.wc-tabs-wrapper {
    background-color: #f1f9fb;
    border-bottom: 1px solid #ecf5f6;
    border-top: 1px solid #ecf5f6;
}

body.single-product .has-sidebar #products-wrapper .woocommerce-tabs.wc-tabs-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.woocommerce-tabs ul.tabs {
    margin-bottom: 0px !important;
    display: block;
    padding: 0px 20px;
    text-align: center;
}

ul.tabs li {
    margin: 0;
    display: inline-block;
    float: none !important;
    padding: 0px;
    position: relative;
}

.woocommerce-tabs ul.tabs li:nth-last-child(1):after {
    display: none;
}

ul.tabs a {
    padding: 10px 15px 12px 15px !important;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: -1px;
    display: inline-block;
    color: #555555;
    position: relative;
    border: 2px dashed transparent;
    border-radius: 2em;
    font-weight: bold;
}

ul.tabs li.active a, ul.tabs a:hover {
    border: 2px dashed #333333;
}

.panel.entry-content {
    background-color: none !important;
    min-height: 40px;
    padding: 20px;
    z-index: 2;
    border-radius: 0px 0px 2px 2px;
    overflow: hidden;
}

.woocommerce-tabs .panel.entry-content {
    padding: 60px 20px;
    margin-bottom: 0px;
    color: #666666;
    overflow: visible;
    font-size: 16px;
    display: none;
    background: transparent;

    &.active {
        display: block;
    }
}

a.comment_switch {
    text-decoration: none;
    display: block;
    margin: 0 0 10px 0;
}

span.button_comments, span.button_review {
    color: #cecece;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    height: 29px;
    margin-right: 5px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

span.button_review {
    color: #666;
}

a.swap2 span.button_comments {
    color: #666;
}

a.swap2 span.button_review {
    color: #cecece;
}

.box-rating .box-write {
    display: none;
}

.box-review .box-comments {
    display: none;
}

.box-review .box-write {
    display: block;
    padding: 0px 20px;
}

#comments {
    width: 100%;
}

body.single-post #comments, body.page #comments {
    background-color: #f1f9fb;
    padding-bottom: 50px;
    padding-top: 80px;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    border-bottom: 1px solid #ecf5f6;
    border-top: 1px solid #ecf5f6;
}

body.single-post .has-sidebar #comments, body.page .has-sidebar #comments {
    border-radius: 6px;
    border: 1px solid #ecf5f6;
}

body.page #comments {
    margin-top: 45px;
}

body.single-post #comments .form-submit #submit, body.page #comments .form-submit #submit {
    margin-top: 20px;
}

#tab-reviews #comments, #tab-reviews #review_form_wrapper, body.single-post #content:not(.has-sidebar) #comments ul.commentlist, body.single-post #content:not(.has-sidebar) #comments > ul.commentlist + #respond.comment-respond {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    width: 49.5%;
}

body.single-post #comments > #respond.comment-respond input[type="submit"] {
    margin-top: 10px;
}

#tab-reviews #comments, body.single-post #content:not(.has-sidebar) #comments ul.commentlist {
    padding: 0 30px;
}

#comments #comment-nav-above + ul.commentlist {
    width: 100% !important;
    max-width: 980px;
    margin: 0 auto 30px auto;
    float: none;
}

#comment-nav-below, #comment-nav-above {
    clear: both;
    margin: 0 auto 60px auto;
    width: 100%;
    max-width: 980px;
    text-transform: uppercase;
}

#comments .nav-next {
    float: right;
}

#comments .nav-previous {
    float: left;
}

#comments .nav-next a, #comments .nav-previous a {
    display: block;
    border-radius: 3px;
    padding: 8px 12px;
    background: #f9f9f9;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}

#comments .nav-previous a:first-letter {
    display: none !important;
    visibility: hidden;
}

#respond.comment-respond {
    margin-bottom: 60px;
    float: left;
    width: 100%;
    text-align: left;
}
#comment-nav-below + #respond.comment-respond {
    margin: 0 auto 60px auto;
    float: none;
    width: 100%;
    max-width: 980px;
    text-align: left;
}

#tab-reviews #respond.comment-respond {
    margin-bottom: 0px;
    border-left: 2px dashed #e9e9e9;
    padding: 0 30px;
}

body.single-post #comments > #respond.comment-respond, body.page #comments > ul.commentlist + #respond.comment-respond {
    margin-bottom: 0px;
}

body.single-post #content:not(.has-sidebar) #comments > ul.commentlist + #respond.comment-respond, body.page #content:not(.has-sidebar) #comments > ul.commentlist + #respond.comment-respond {
    padding: 0 30px;
    border-left: 2px dashed #f1f1f1;
}

.box-write span.label, #review_form label, #commentform label {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333333;
    font-size: 13px;
}

#review_form textarea {
    width: 100%;
}
#review_form .comment-form-rating p.stars {
    position: relative;
    height: 24px;
    margin-bottom: 30px;
}
#review_form .comment-form-rating a {
    font-size: 0px;
    display: block;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

#review_form .comment-form-rating a.star-5 {
    z-index: 0;
}
#review_form .comment-form-rating a.star-4 {
    z-index: 1;
}
#review_form .comment-form-rating a.star-3 {
    z-index: 2;
}
#review_form .comment-form-rating a.star-2 {
    z-index: 3;
}
#review_form .comment-form-rating a.star-1 {
    z-index: 4;
}

#review_form .comment-form-rating a:first-child {
    margin-left: 0 !important;
}

#review_form .comment-form-rating a:after {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-size: 18px !important;
    color: transparent;
    float: right;
    margin-top: 4px;
    font-weight: 900;
    vertical-align: middle;
    letter-spacing: 4px;
}

#review_form .comment-form-rating a.star-1:after {
    content: "\f005";
}

#review_form .comment-form-rating a.star-2:after {
    content: "\f005 \f005";
}

#review_form .comment-form-rating a.star-3:after {
    content: "\f005 \f005 \f005";
}

#review_form .comment-form-rating a.star-4:after {
    content: "\f005 \f005 \f005 \f005";
}

#review_form .comment-form-rating a.star-5:after {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #cecece;
}

#review_form .comment-form-rating a:hover:after, #review_form .comment-form-rating a.active:after {
    color: #f3b111;
}

.box-write input, #review_form input {
    clear: left;
}

img#captcha {
    margin: 15px 0;
}

.box-write b {
    color: #333;
}

.box-write h3 {
    background: none;
}

.box-write .buttons {
    margin-bottom: 8px;
}

.tagcloud {
    margin: 20px 0 0 0;
    text-align: left;
    font-size: 13px;
}

.tagcloud span:not(.sku) {
    font-weight: normal;
    font-size: 13px;
    color: #333333;
}

.tagcloud span.sku {
    font-weight: normal;
}

.tagcloud span {
    display: inline-block;
    padding: 4px 4px 0px 4px;
}

.tagcloud a {
    display: inline-block;
    padding: 1px 4px;
    background-color: #f5f5f5;
    border: 1px solid #f1f1f1;
    text-decoration: none;
    margin: 3px;
    font-size: 11px;
    color: #999999;
    border-radius: 2em;
}

.tagcloud a:hover {
    background-color: #ffffff;
    border: 1px solid #f9f9f9;
    color: #333333;
}

h6, .babyst-counter-h6, .babyst-typed-h6 {
    color: #333333;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
}

div.product div.images ol.flex-control-nav, #content div.product div.images ol.flex-control-nav {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    padding: 0;
    .slick-slide {
        width: auto!important;
        float: none;
        display: inline-block;
        &.slick-current {
            img {
                border-color: #81d1e5 !important;
            }
        }
    }
}
ul.additional-images li {
    padding: 0;
    list-style: none;
    padding: 1px;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 67px;
    height: 67px;
    text-align: center;
    z-index: 10;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div.product div.images .flex-control-thumbs li {
    padding: 0;
    list-style: none;
    padding: 1px;
    margin: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 10;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div.product div.images ol.flex-control-nav li, #content div.product div.images ol.flex-control-nav li, .portfolio-main-image-holder ul.additional-images li {
    float: none;
    display: inline-block;
    z-index: 1;
}

div.product div.images ol.flex-control-nav li, #content div.product div.images ol.flex-control-nav li {
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: auto !important;
}

div.product div.images ol.flex-control-nav li:hover, #content div.product div.images ol.flex-control-nav li:hover, .portfolio-main-image-holder ul.additional-images li:hover {
    z-index: 10;
}

ul.additional-images li a {
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    display: block;
    padding: 5px;
}

div.product div.images ol.flex-control-nav li img {
    background-color: #ffffff;
    border-bottom: 3px solid transparent;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
